#graph {
  order: 2;
  margin-left: 10px;
  margin-right: 10px;
  height: 500px;
  border: 1px solid lightgray;
}

#diagram {
  order: 2;
  position:relative;
  left: 0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}

.articulate {
  width: 200px !important;
  height: 160px !important;
  fill: white;
  stroke: gray;
}

.articulate:not(:disabled):hover {
  fill: gray;
  stroke: white;
}

.vis-item.grey {
  background-color: white;
  border-color: grey;
}
.vis-item.yellow {
  background-color: white;
  border-color: yellow;
}
.vis-item.green {
  background-color: white;
  border-color: green;
}
.vis-item.purple {
  background-color: white;
  border-color: purple;
}
.vis-item.red {
  background-color: white;
  border-color: red;
}
.vis-item.blue {
  background-color: white;
  border-color: blue;
}

