html {
  height:100%;
  min-height:100%;
  position:relative;
}

body {
  height: 100%;
  margin: 0;
}

blockquote {
  color: gray;
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 3px gray solid;
}

nav, #header, #footer {
  background-color: #8b0000;
}

#leaves a,
#groundings a, #content a {
  color: gray !important;
}

#groundings .preview h1, #groundings .preview h2, #groundings .preview h3 {
  font-size: 100%;
  font-weight: bold;
}

#watermark {
  background-image: url(cassandre_background.svg);
  background-position: 100% 20%;
  background-repeat: no-repeat;
}

.words .post p {
  margin-top: 0px;
  margin-bottom: 0px;
}

th {
  vertical-align: top;
  text-align: left;
}

td {
  vertical-align: top;
  text-align: left;
}

div.timestamp {
  background-color: LightGray;
  margin-bottom: 6px;
}

div.post {
  padding-bottom: 6px;
}

.hidden {
  display: none !important;
}

#groundings {
  border-right: 1px solid #eeeeee;
}

#memo {
  padding-top: 60px;
}

#content {
  border-top: 1px solid #eeeeee;
  padding-top: 60px;
}

#memo>#content {
  display: flex;
  flex-direction: column;
}

#memo main {
  padding-top: 0px !important;
}

#leaves {
  border-left: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
}

#top-right {
  position: fixed;
  right: 36px;
  top: 36px;
}

#show-leaves {
  cursor: pointer;
  height: 36px;
  line-height:  36px;
  position:fixed;
  top: 0px;
  right: 0px;
  padding-left:5px;
  padding-right:5px;
  transform: rotate(270deg);
  transform-origin: right bottom 0;
}

.reverse{
  transform: rotate(180deg);
  transform-origin: center center 0;
}

.unread {
  font-weight: bold !important;
}

.preview {
  display:none;
}

.mytooltip .preview {
  position: fixed;
  right: 15px;
  z-index: +1;
  display: none;
  padding: 14px 20px;
  width: 50%;
}

.mytooltip:hover .preview {
  font-size: smaller;
  display: inline;
  border: 1px solid #DCA;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  visibility: visible;
}

.mytooltip:hover .preview code,
.mytooltip:hover .preview a{
  color: #ffffff;
}

.mytooltip:hover .preview hr{
  border-color: #DCA;
}

.mytooltip:hover .preview h1{
  font: inherit;
  font-weight: bold;
}

.mytooltip:hover .preview td,
.mytooltip:hover .preview th{
  color: #ffffff;
  font-size: smaller;
}

.mytooltip:hover .preview img{
  width: 100%;
}

.mytooltip:hover .preview blockquote {
  color: white;
  padding-left: 1rem;
  padding-left: 0rem;
  border-left: 0px;
}

.begin {
  overflow: hidden;
  max-height: 60em;
}

.card>p>.lastvisit,
.comment>.meta,
#negative-case>.meta,
#statement>.meta,
#modify_rights,
#authorization {
  color: gray;
  font-size:70%;
}

#toasts {
  position: absolute;
  top: 15px;
  right: 3%;
  z-index: +1;
}

#authorization {
  order: 1;
}

.spacer {
  order: 3;
}

#statement {
  order: 4;
  position: static;
}

#negative-case {
  order: 5;
  position: static;
}

#comments {
  order: 6;
  position: static;
  top: 0px;
  left: 0px;
  right: 0px;
}

button.comment {
  display: table;
}

.comment {
  font-size: 80%;
  border-top: 1px solid lightgray;
  padding-left:5px;
}

.comment > .checkbox {
  position: absolute;
  right: 36px;
  display: inline-block;
  vertical-align: 20px;
}

#activities li a p, #activities li a blockquote,
.commented a p, .commented a blockquote,
.unchecked-comment a p, .unchecked-comment a blockquote,
.comment_text > ul, .comment_text > ol,
.comment_text > blockquote {
  margin-bottom: 2px;
}

.checked {
  background-color: lightgray;
  color: gray;
}

.checker {
  position: absolute;
  padding-top: 5px;
  right: 60px;
}

#groundings>li,#memos>li,#selectable-memos>li,#leaves>li{
  list-style-type: none;
  background-repeat: no-repeat;
  padding-left: 30px;
  padding-bottom: 5px;
}

a.dropdown-item, .create-leave, a.dropdown-toggle,
#add, #create, #create-table, #diaries, #diary, #corpus,
#all-activity, #only-created, #only-modified, #only-commented,
.nav-link, #show-activity, #tasklist-alert {
  cursor: pointer;
}

#diary {
  max-width: 200px;
}

.create-leave {
  color: transparent;
}

.spinner-border, .create-leave:hover {
  color: black !important;
}

.alert > .spinner-border {
  color: white;
}

.editor-toolbar {
  border: 0px !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.editor-toolbar:before,
.editor-toolbar:after {
  content: none !important;
}

.editor-toolbar > button {
  border: white;
  color: white;
}

#footer .btn, #header .btn {
  color: white;
}

#header .btn:not([disabled]):hover, #footer .btn:enabled:hover,
#double:hover, #sign-in:hover,
.editor-toolbar > button.active, 
.editor-toolbar > button:hover {
  background-color: white;
  color: black !important;
}

.create {
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-origin: content-box;
  text-shadow:none;border:none;box-shadow:none;
  height: 30px;
  width: 30px;
}

.green {
  width: 100%;
  background-color:green;
}

.red {
  width: 100%;
  background-color:red;
}

.input-group-text {
  background-position: center;
  background-repeat: no-repeat;
}

.operational {
  background-image: url('operational.svg');
}

.theoretical {
  background-image: url('theoretical.svg');
}

.coding {
  background-image: url('coding.svg');
}

.field {
  background-image: url('field.svg');
}

.interview {
  background-image: url('interview.svg');
}

.transcript {
  background-image: url('transcript.svg');
}

.table-responsive {
  order: 2;
}

.table {
  background-image: url('table.svg');
  margin-bottom: 0px;
  border: 0 !important;
  width: auto;
}

.diagram {
  background-image: url('diagram.svg');
  background-position: left middle, left middle, left 0px;
  background-size: auto auto, 70px auto, auto auto;
}

.graph {
  background-image: url('graph.svg');
}

.storyline {
  background-image: url('storyline.svg');
}

#modify_rights {
  height: 30px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}

.search {
  cursor: pointer;
  color: transparent;
  display: inline-block;
  content: "";
  vertical-align: -.125em;
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/></svg>");
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
}

.highlight {
  background-color: yellow;
  -webkit-transition: 2s all ease-in-out;
  -moz-transition: 2s all ease-in-out;
  -o-transition: 2s all ease-in-out;
  transition: 2s all ease-in-out;
  transition-delay: 2s;
}

.fadeout {
  background-color: transparent;
  color: black;
}

.card>h5{
  color: blue;
  margin-top:  1rem;
}

.in-collection{
  font-size: 2.5em;
  cursor: pointer;
}

div.in-collection{
  position: absolute;
  top: .5rem;
  left: .55rem;
}

.card-icons{
  position: absolute;
  bottom: .35rem;
  right: .55rem;
  font-size: 2.5em;
}

#network {
  margin-left: 10px;
  margin-right: 10px;
  height: 500px;
  border: 1px solid lightgray;
}

input.actor {
  text-transform:capitalize;
  display: table-cell;
}

.speeches{
  order: 2;
  display: table;
}

.speeches-row{
  display: table-row;
}

.custom{
  display: table-row;
}

.actor{
  display: table-cell;
  font-weight: bold !important;
  padding: 0 5px 0 0;
  text-align: right;
  vertical-align: top;
}

.remove_contributor,
.remove_reader,
.remove {
  border: none;
  color: transparent;
  background-color: transparent;
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 12 12' fill='black' xmlns='http://www.w3.org/2000/svg'><path d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/></svg>");
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
}

#content svg {
  order: 2;
  display: block;
  margin: auto;
}

.insert {
  background: url('plus.svg') no-repeat;
}

.remove, .insert {
  cursor: pointer;
  display: block;
  width: 25px;
  height: 29px;
  color: rgba(100,100,100,0);
}

.remove:hover, .insert:hover {
  color: transparent;
  decoration: none;
}

.words{
  display:inline-block;
}

#kwic {
  float: right;
}

.post img {
  max-width: 100%;
  height: auto;
}

.occurrence{
  margin-left: 5mm;
  padding-left: 7mm;
  display: table-row;
}

.occurrence>div{
  display:table-cell;
}

.occurrence>a{
  background-repeat: no-repeat;
}

.context{
  font-family: monospace;
  white-space: pre;
  padding-right: 10;
}
