body {
  height: 100%;
  margin: 0; 
}

form {
  margin-bottom: 0px;
}

#watermark {
  background-image: url(cassandre_background.png); 
  background-position: 100% 0%;
  background-repeat: no-repeat; 
}

#container {
  min-height: 100%;
  position: relative;
}

.menu {
  color: white;
  background-color: black;
  width: 100%;
}

#header {
  margin-bottom: 0;
  padding: 4px;
  position: fixed;
}

#menu>* {
  margin: 0px 2px;
}

#content {
  padding: 30px;
}

#content h1 {
  margin-top: 0;
}

th {
  vertical-align: top;
  text-align: left;
}

td {
  vertical-align: top;
  text-align: left;
}

div.timestamp {
  background-color: LightGray;
  margin-bottom: 6px;
}

div.post {
  padding-bottom: 6px;
}

#footer {
  bottom: 0;
  position: absolute;
}

#footer a {
  float: right;
  text-decoration:none;
  color: white;
  padding: 4px 6px;
  font-size: small;
}

#attributes>label {
	text-transform:capitalize;
	display: block;
	width: 70%;
	float: left;
	text-align: left;
	color: gray;
}

input.actor {
  text-transform:capitalize;
  display: table-cell;
}

#attributes {
	position:fixed;
	top: 10px;
	right: 10px;
	width:200px;
	padding: 10px;
	border-right:2px solid #8cacbb;
	border-bottom:2px solid #8cacbb;
	border-top:1px solid #8cacbb;
	border-left:1px solid #8cacbb;
	background-color:#ccc;
}

#center {
	position: absolute;
	top: 40%;
	left: 30%;
}

.speeches{
  display: table;
}

.speeches-row{
  display: table-row;
}

.custom{
  display: table-row;
}

.actor{
  display: table-cell;
  font-weight: bold !important;
  padding: 0 5px 0 0;
  text-align: right;
  vertical-align: top;
}

a#remove:hover{
  cursor:pointer;
  display:block;
  text-decoration:none;
  background: url('x.png') no-repeat;
  width: 25px; 
  height: 29px; 
}

a#insert:hover {
  cursor:pointer;
  display:block;
  text-decoration:none;
  background: url('add.png') no-repeat;
  width: 25px; 
  height: 29px; 
}

a#insert,a#remove {
  background: rgba(100,100,100,0);
  color:rgba(100,100,100,0);
}

.words{
  display:inline-block;
}

#kwic {
  float: right;
  margin: 0px 10px;
}

.occurrence{
  display: table-row;
}

.occurrence>div{
  display:table-cell;
}

.context{
  font-family: monospace;
  white-space: pre;
  padding-right: 10;
}
