html {
  height:100%;
  min-height:100%;
  position:relative;
}

body {
  height: 100%;
  margin: 0;
}

#groundings a, #content a {
  color: gray !important;
}

#content, #memo {
  padding-bottom: 60px;
}

#watermark {
  background-image: url(cassandre_background.png);
  background-position: 100% 0%;
  background-repeat: no-repeat;
}

.words .post p {
  margin-top: 0px;
  margin-bottom: 0px;
}

th {
  vertical-align: top;
  text-align: left;
}

td {
  vertical-align: top;
  text-align: left;
}

div.timestamp {
  background-color: LightGray;
  margin-bottom: 6px;
}

div.post {
  padding-bottom: 6px;
}

.hidden {
  display: none !important;
}

#groundings {
  border-right: 1px solid #eeeeee;
}

#top-right {
  position: fixed;
  right: 36px;
  top: 36px;
}

#show-leaves {
  cursor: pointer;
  height: 36px;
  line-height:  36px;
  position:fixed;
  top: 0px;
  right: 0px;
  background-color:#eeeeee;
  padding-left:5px;
  padding-right:5px;
  transform: rotate(270deg);
  transform-origin: right bottom 0;
}

.reverse{
  transform: rotate(180deg);
  transform-origin: center center 0;
}

#leaves {
  position: fixed;
  display: none;
  background-color: transparent;
  top: 36px;
  right: 0px;
  width: 30%;
  padding:5px;
  padding-top:0px;
  padding-right:30px;
  padding-left:0px;
  direction: rtl;
  overflow-y: auto;
  bottom: 28px;
}

#leaves>ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 16px;
  padding-bottom: 16px;
  direction: ltr;
  background-color: #eeeeee;
}

.unread {
  font-weight: bold !important;
}

.preview {
  display:none;
}

.mytooltip .preview {
  position: fixed;
  right: 15px;
  z-index: +1;
  display: none;
  padding: 14px 20px;
  width: 50%;
}

.mytooltip:hover .preview {
  font-size: smaller;
  display: inline;
  border: 1px solid #DCA;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  visibility: visible;
}

.mytooltip:hover .preview a{
  color: #ffffff;
}

.mytooltip:hover .preview h1{
  font: inherit;
  font-weight: bold;
}

.mytooltip:hover .preview td,
.mytooltip:hover .preview th{
  color: #ffffff;
  font-size: smaller;
}

.mytooltip:hover .preview img{
  width: 100%;
}

.comment>.meta,
#negative-case>.meta,
#modify_rights,
#authorization {
  color: gray;
  font-size:70%;
}

#negative-case {
  position: static;
}

#comments {
  position: static;
  top: 0px;
  left: 0px;
  right: 0px;
}

button.comment {
  display: table;
}

.comment {
  font-size: 80%;
  border-top: 1px solid lightgray;
  padding-left:5px;
}

.comment > .checkbox {
  position: absolute;
  right: 36px;
  display: inline-block;
  vertical-align: 20px;
}

.checked {
  background-color: lightgray;
  color: gray;
}

#groundings>li,#memos>li,#selectable-memos>li,#branch>li{
  list-style-type: none;
  background-repeat: no-repeat;
  padding-left: 30px;
  padding-bottom: 5px;
}


#add, #create, #create-table, #diaries, #diary,
#all-activity, #only-created, #only-modified, #only-comments,
#clear_highlights, #rare, #specific, #repeated,
#show-activity, #sticky {
  cursor: pointer;
}

.create {
  cursor: pointer;
  background-color:transparent;
  background-repeat: no-repeat;
  background-origin: content-box;
  text-shadow:none;border:none;box-shadow:none;
  height: 30px;
  width: 30px;
}

.green {
  width: 100%;
  background-color:green;
}

.red {
  width: 100%;
  background-color:red;
}

.input-group-text {
  background-position: center;
  background-repeat: no-repeat;
}

.operational {
  background-image: url('operational.svg');
}

.theoretical {
  background-image: url('theoretical.svg');
}

.coding {
  background-image: url('coding.svg');
}

.field {
  background-image: url('field.svg');
}

.transcript {
  background-image: url('transcript.svg');
}

.table {
  background-image: url('table.svg');
  margin-bottom: 0px;
}

.diagram {
  background-image: url('diagram.svg');
}

.graph {
  background-image: url('graph.svg');
}

.storyline {
  background-image: url('storyline.svg');
}

.search {
  cursor: pointer;
  background-image: url('search.svg');
  color: transparent;
}

.card>h5{
  color: blue;
  lline-height:  3rem;
  margin-top:  1rem;
}

.card-icons{
  position: absolute;
  bottom: -.35rem;
  right: .55rem;
  font-size: 2.5em;
}

#network {
  margin-left: 10px;
  margin-right: 10px;
  height: 500px;
  border: 1px solid lightgray;
}

input.actor {
  text-transform:capitalize;
  display: table-cell;
}

.speeches{
  display: table;
}

.speeches-row{
  display: table-row;
}

.custom{
  display: table-row;
}

.actor{
  display: table-cell;
  font-weight: bold !important;
  padding: 0 5px 0 0;
  text-align: right;
  vertical-align: top;
}

.remove_contributor,
.remove_reader,
.remove {
  border: none;
  color: transparent;
  background: url('x.svg') no-repeat;
}

.insert {
  background: url('plus.svg') no-repeat;
}

.remove, .insert {
  cursor: pointer;
  display: block;
  width: 25px;
  height: 29px;
  color: rgba(100,100,100,0);
}

.remove:hover, .insert:hover {
  color: transparent;
  decoration: none;
}

.words{
  display:inline-block;
}

#kwic {
  float: right;
}

.post img {
  max-width: 100%;
  height: auto;
}

.occurrence{
  display: table-row;
}

.occurrence>div{
  display:table-cell;
}

.context{
  font-family: monospace;
  white-space: pre;
  padding-right: 10;
}
