body {
  height: 100%;
  margin: 0; 
}

form {
  margin-bottom: 0px;
}

#watermark {
  background-image: url(cassandre_background.png); 
  background-position: 100% 0%;
  background-repeat: no-repeat; 
}

#container {
  min-height: 100%;
  position: relative;
}

.menu {
  color: white;
  background-color: black;
  width: 100%;
  position: fixed;
}

#header {
  margin-bottom: 0;
  padding: 4px;
}

#menu>* {
  margin: 0px 2px;
}

#container>#memo {
  padding: 30px 0 0 0 ;
}


#memo>#content {
  padding: 0 35px 0 21% ;
}

#content h1 {
  margin-top: 0;
}

#content p {
  padding: 0 5px 0 0;
}

th {
  vertical-align: top;
  text-align: left;
}

td {
  vertical-align: top;
  text-align: left;
}

div.timestamp {
  background-color: LightGray;
  margin-bottom: 6px;
}

div.post {
  padding-bottom: 6px;
}

#footer {
  bottom: 0;
}

#footer a {
  float: right;
  text-decoration:none;
  color: white;
  padding: 4px 6px;
  font-size: small;
}

#groundings {
  background-color:#eeeeee;
  width:20%;
  height:93%;
  float:left;
  padding: 5px 0 0 5px;
  background-repeat: no-repeat;
  cursor: pointer;
}

#show-leaves {
  height: 36px;
  line-height:  36px;
  position:fixed;
  top: 0px;
  right: 0px;
  background-color:#eeeeee;
  padding-left:5px;
  padding-right:5px;
  transform: rotate(270deg);
  transform-origin: right bottom 0;
}

.reverse{
  transform: rotate(180deg);
  transform-origin: center center 0;
}

#leaves {
  position:fixed;
  background-color:#eeeeee;
  display:none;
  top: 36px;
  right: 0px;
  width: 30%;
  padding:5px;
  padding-right:30px;
  padding-left:0px;
}

.preview {
    display:none;
}


#memo {
  padding: 35px 0 0 0;
}

#memo>#content h1 {
  padding: 5px 0 0 0;
  font-size:150%;
}

#container>#content h1 {
  padding: 35px 0 0 10px ;
}

#container>#content #diary_name {
  font-size:150%;
  margin: 40px 0 0 10px ;
}

#contributors_add,
#readers_add,
#authorization {
  color: gray;
  font-size:70%;
}

#comments {
  margin-bottom: 30px;
  left: 0px;
  right: 0px;
}

button.comment {
  display: table;
}

.comment {
  font-size: 80%;  
  border-top: 1px solid lightgray;
  padding-left:5px;
}

#add-grounding, #select-type {
  width: 20%;
  position: absolute;
  text-align: center;
  bottom: 30px;
}

#groundings>li,#memos>li,#branch>li{
  list-style-type: none;
  background-repeat: no-repeat;
  padding-left: 30px;
  padding-bottom: 5px;
}

#create,#add {
  background-color:transparent;
  background-repeat: no-repeat;
  background-origin: content-box;
  text-shadow:none;border:none;box-shadow:none;
  height: 30px;
  width: 30px;
}

.operational {
  background-image: url('operational.png');
}

.theoretical {
  background-image: url('theoretical.png');
}

.coding {
  background-image: url('coding.png');
}

.field {
  background-image: url('field.png');
}

.diagram {
  background-image: url('diagram.png');
}

.graph {
  background-image: url('graph.png');
}

.storyline {
  background-image: url('storyline.png');
}

#network {
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid lightgray;
}

#attributes>label {
	text-transform:capitalize;
	display: block;
	width: 70%;
	float: left;
	text-align: left;
	color: gray;
}

input.actor {
  text-transform:capitalize;
  display: table-cell;
}

#attributes {
	position:fixed;
	top: 10px;
	right: 10px;
	width:200px;
	padding: 10px;
	border-right:2px solid #8cacbb;
	border-bottom:2px solid #8cacbb;
	border-top:1px solid #8cacbb;
	border-left:1px solid #8cacbb;
	background-color:#ccc;
}

#center {
	position: absolute;
	top: 40%;
	left: 30%;
}

.speeches{
  display: table;
}

.speeches-row{
  display: table-row;
}

.custom{
  display: table-row;
}

.actor{
  display: table-cell;
  font-weight: bold !important;
  padding: 0 5px 0 0;
  text-align: right;
  vertical-align: top;
}

.remove {
  background: url('x.png') no-repeat;
}

.insert {
  background: url('add.png') no-repeat;
}

.remove, .insert {
  cursor: pointer;
  display: block;
  width: 25px;
  height: 29px;
  color: rgba(100,100,100,0);
}

.words{
  display:inline-block;
}

#kwic {
  float: right;
  margin: 0px 10px;
}

#logged {
  font-size: small;
  float: right;
  margin: 0px 10px;
}


.occurrence{
  display: table-row;
}

.occurrence>div{
  display:table-cell;
}

.context{
  font-family: monospace;
  white-space: pre;
  padding-right: 10;
}
