<html>
  <head>
    <link rel="icon" type="image/png" href="../style/favicon.png" />
    <link rel="stylesheet" type="text/css" href="../style/main.css" />
  </head>
  <body id="watermark">
    <div id="container">
      <div id="content">
        <h1>{{i18n.i_corpora}}</h1>
        <ul>
          {{#corpora}}
          <li>
            <b>{{id}}</b>&nbsp;–
            <a href='../text/{{id}}/?by=name' >{{count}} {{i18n.i_texts}}</a>
          </li>
          {{/corpora}}
        </ul>
      </div>
      <div id="footer" class="menu">
        <button type="button" id="create">{{i18n.i_create}}</button>
        <a href="http://cassandre-qda.sourceforge.net/about.html">Cassandre</a>
      </div>
    </div>
  </body>
  <script src="../script/jquery.js"></script>
  <script>

  $('#create').on('click', function() {
    self.location = '../text_attributes/';
  });

  </script>
</html>

