<html>
  <head>
    <link rel="icon" type="image/png" href="../style/favicon.png" />
    <link rel="stylesheet" type="text/css" href="../style/main.css" />
  </head>
  <body id="watermark">
    <div id="container">
      <div id="content">
        <h1>Corpora</h1>
        <ul>
          {{#corpora}}
          <li>
            <b>{{id}}</b>&nbsp;–
            <a href='../text/{{id}}/?by=name' >{{count}} text(s)</a>
          </li>
          {{/corpora}}
        </ul>
      </div>
      <div id="footer">
        <input type="button" onClick="self.location='../text_attributes/'" value="+" />
        <a href="http://cassandre-qda.sourceforge.net/about.html">Cassandre</a> &nbsp;
      </div>
    </div>
  </body>
</html>

