<html>
  <head>
    <link rel="icon" type="image/png" href="../style/favicon.png" />
    <link rel="stylesheet" type="text/css" href="../style/main.css" />
  </head>
  <body id="watermark">
    <div id="container">
      <div id="content">
        {{#corpora}}
        <h1>{{id}}</h1>
        <ul>
          <p>
            <a href='../text/{{id}}/?by=name' >{{count}} document(s)</a>
          </p>
          <p>[
            <a onmouseover='style.cursor=pointer' href='../text_attributes/{{id}}' > + </a>
          ]</p>
        </ul>
        {{/corpora}}
      </div>
      <div id="footer">
        <a href="http://cassandre-qda.sourceforge.net/about.html">Cassandre</a> &nbsp;
      </div>
    </div>
  </body>
</html>

