<!doctype html>
<html>
  <head>
    <title>{{diary_name}} - {{name}}</title>
    {{>links}}
    {{>diagramcss}}
  </head>
  <body>
    <nav id="header" class="{{>navbarstyle}} navbar-expand bd-navbar fixed-top">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link text-light" id="diary">{{diary_name}}</a></li>
      </ul>
      {{>log}}
    </nav>
    <div id="container" class='container-fluid h-100'>
      <div id="memo" class='row h-100'>
        {{#authorized}}
        <div class="col-3" id='groundings'>
          <legend>{{i18n.i_groundings}}</legend>
          {{#groundings}}
          <li class="{{type}}" id="{{id}}">
            <a href="{{href}}">{{name}}</a> {{#preview}}<span class="toggle dropdown-toggle"> </span>
            <div class="preview">{{preview}}</div>{{/preview}}
          </li>
          {{/groundings}}
        </div>
        {{/authorized}}
        <main class="col" id="content">
          {{^authorized}}
          <h1>{{i18n.i_sign-in_required}}</h1>
          {{/authorized}}
          {{#authorized}}
          <h1> <img title="{{i18n.i_memo.diagram}}" src="../../style/{{type}}.svg"/> <span id="name"> {{name}} </span> </h1>
          {{>rights}}
          <div id="diagram" class="{{link}}">
            <div class="layout-1"></div>
            <div class="layout-2"></div>
          </div>
          <p>&nbsp;</p>
          <div id="negative-case" class="hidden">
            <span class="meta">{{i18n.i_name.negative-case}}: </span><span class="negative_text">{{negative}}</span>
            {{#editable}}
            <button class="btn" type="button" id="add_negative-case">+</button>
            <input type="text" size="35" class="form-control hidden" placeHolder="{{i18n.i_content.negative-case}}" value="{{negative}}"/>
            <button class="btn hidden" type="button" id="negative-case_created">{{i18n.i_done}}</button>
            {{/editable}}
          </div>
          {{>comments}}
          {{/authorized}}
        </div>
        <div id="leaves">
          <ul id="branch">
          {{#leaves}}
            <li class="{{type}}"><a href="{{href}}">{{name}}</a></li>
          {{/leaves}}
          </ul>
        </div>
      </main>
      <nav id="footer" class="{{>navbarstyle}} fixed-bottom">
        <div role='group'>
          {{#editable}}
          <button class='btn btn-outline-light btn-sm' data-toggle="modal" data-target="#add_grounding" id="add_grounding_btn"><span>{{i18n.i_add_groundings}}</span></button>
          {{/editable}}
          {{#authorized}}
          <button class='btn btn-outline-light btn-sm' id="comment_create">{{i18n.i_comment}}</button>
          {{/authorized}}
        </div>
        <div id="add-leaves">
          {{#editable}}
          <div class="input-group input-group-sm">
            <input id="leave-name" type="search" placeholder="{{i18n.i_name.theoretical}}" class="form-control" />
            <div class="input-group-append">
              <span class="input-group-text theoretical" title="{{i18n.i_create.theoretical}}" id="add">+</span>
              <span class="input-group-text hidden graph" title="{{i18n.i_create.graph}}" id="create">+</span>
            </div>
          </div>
          {{/editable}}
        </div>
      </div>
    </div>
    <div id="show-leaves" class="hidden"><div class="reverse">{{i18n.i_leaves}}</div></div>
    <div id="add_grounding" class="modal fade" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">{{i18n.i_add_groundings}}</div>
          <div class="modal-body">
            <select onChange="adapt(this);"></select>
          </div>
        </div>
      </div>
    </div>
  {{>script}}
  <script>
  $(document).ready(function() {
    {{>render}}
    moment.locale('{{locale}}');
    var moments = $('.moment');
    moments.each(function() {
      var now = moment();
      var jstime = $(this).text();
      var mmtime = moment(jstime);
      if(now.diff(mmtime, 'days') <= 2) {
        $(this).text(mmtime.fromNow());
      } else if(now.diff(mmtime, 'years') <= 1) {
        $(this).text("{{i18n.i_on-a-date}}"+' '+mmtime.format("Do MMMM"));
      } else {
        $(this).text("{{i18n.i_on-a-date}}"+' '+mmtime.format("Do MMMM YYYY"));
      }
    });
    $.ajax({
      url: "../../memo_attribute/{{diary}}",
      type: "GET",
      dataType: "json",
        success: function(grounds) {
        for (var i in grounds.rows) {
          var r = grounds.rows[i];
          var diary = r.key;
          var id = r.value['id'];
          var ground_href = r.value['id'];
          var ground_type = r.value['type'];
          var ground_path = '';
          if (ground_type != 'diagram') {
            var ground_path = "../../memo/{{diary}}/";
          }
          var ground_label = r.value['name'];
          var ground_date = r.value['date']; // unused
          var ground_preview = r.value['preview'];
          if ($('#groundings li').length < 2 && document.getElementById(id) == null && ground_href != "{{_id}}" && ground_type == 'coding') {
            $("#add_grounding").find('select').append($('<option>', {
              id: ground_href,
              value: ground_href,
              text: ground_label
            }));
          };
        }
        $('#groundings').children('li').each(function() {
          var prop_href = ($(this).attr('id'));
          var prop_href = ($(this).find("div").find("a").attr('href'));
          var prop_label = ($(this).find('a').html());
          var prop_label = '<div class="polarity">+</div>'+($(this).find('a').html())+'<div class="molarity">&ndash;</div>';
          $('#diagram').append($('<a>', {
            class: 'node',
            href: prop_href,
            html: prop_label
          }));
        });
      }
    });
    if ($('#groundings li').length == 1) {
      $('#create').remove();
      $('#add_grounding_btn').html("{{i18n.i_add_groundings}}");
      $("#add_grounding").find('.modal-header').html("{{i18n.i_groundings}}");
      $("#add_grounding").find('select').append($('<option>', {
        text: "{{i18n.i_select_grounding}}"
      }));
    } else {
      $('#create').removeClass('hidden');
      $('#negative-case').removeClass('hidden');
      $('#add_grounding_btn').html("{{i18n.i_diagram_type}}");
      $("#add_grounding").find('.modal-header').html("{{i18n.i_diagram_type}}");
      $("#add_grounding").find('select').append($('<option>', { text: "{{i18n.i_link}}" }));
      $("#add_grounding").find('select').append(
        $('<option>', { value: 'pp', text: "{{i18n.i_link_properties}}" }),
        $('<option>', { value: 'ipp', text: "{{i18n.i_inverse_link_between_properties}}" }),
        $('<option>', { value: 'dd', text: "{{i18n.i_link_dimensions}}" }),
        $('<option>', { value: 'idd', text: "{{i18n.i_inverse_link_between_dimensions}}" })
      );
    }
    $.ajax({
      url: "../../changes/memo/{{_id}}/{{update_seq}}",
      type: "GET",
      dataType: "json",
      success: reload
    });
  });

  {{#editable}}
  $('#add').on('click', function() {
    var classlist = $(this)[0].classList;
    create(classlist[classlist.length - 1], '{{_id}}', $('#leave-name').val().trim());
  });

  $('#create').on('click', function() {
    var classlist = $(this)[0].classList;
    create(classlist[classlist.length - 1], '{{_id}}', $('#leave-name').val().trim());
  });

  function adapt(there) {
    refresh = true;
    $.ajax({
      url: "../../{{_id}}",
      type: "GET",
      dataType: "json",
      success: function(data) {
        for (var i in data.groundings) {
          if (!document.getElementById(data.groundings[i])) data.groundings.splice(i, 1);
        }
        data.name = $('#'+data.groundings[0]).find('a').html().trim() +' & ';
        if (there.value && there.value.length == 32) {
          if (data.groundings.indexOf(there.value) == -1) data.groundings.push(there.value);
          data.name = data.name + $('#'+there.value).text();
        } else if (there.value && there.value.length < 4) {
          data.link = there.value;
          data.name = data.name + $('#'+data.groundings[1]).find('a').html().trim();
          $("#dialog").dialog('close');
        } else {
          data.negative = there;
          data.name = data.name + $('#'+data.groundings[1]).find('a').html().trim();
        }
        if (!data.history) data.history = [];
        data.history.push({
          "user": user,
          "date": new Date().toJSON()
        });
        $.ajax({
          type: "PUT",
          url: "../../{{_id}}",
          contentType: "application/json",
          data: JSON.stringify(data),
          error: function(request) {
            alert(
              (JSON.parse(request.responseText).reason || request.responseText)
              + '\nCode ' + request.status
            );
          },
          success: reload
        });
      }
    });
  }

  $("#add_negative-case").click(function () {
    refresh = false;
    $(".negative_text").remove();
    $("#add_negative-case").remove();
    $("#negative-case").find('input').removeClass('hidden');
    $('#negative-case_created').removeClass('hidden');
    $("#comment_create").remove();
    $('html, body').scrollTop($(document).height());
  });

  $("#negative-case_created").click(function () {
    adapt($('#negative-case').find('input').val().trim());
  });
  {{/editable}}

  {{>commentsscript}}
  {{>layoutscript}}
  {{>logscript}}
  </script>
  </body>
</html>
