<html>
  <head>
    <title></title>
    <link rel="icon" type="image/png" href="../../style/favicon.png" />
    <link rel="stylesheet" type="text/css" href="../../style/main.css" />
    <link rel="stylesheet" type="text/css" href="../../style/diagram.css" />
    <link rel="stylesheet" type="text/css" href="../../style/vis.min.css" />
  </head>
  <body id="watermark">
    <div id="container">
      <header>
        <div id="header" class="menu">
          <button type="button" id="diaries">{{i18n.i_diaries}}</button>
          {{i18n.i_sort}}
          <select id="sort">
            <option value="name">{{i18n.i_title}}</option>
          </select>
          <button type="button" id="patterns">{{i18n.i_patterns}}</button>
          <div id='logged'>
          {{^logged}}
            <form id="signin">
              <input type="text" name="name" placeholder="username"/>
              <input type="password" name="password" placeholder="password"/>
              <button type="submit">{{i18n.i_sign-in}}</button>
            </form>
          {{/logged}}
          {{#logged}}
            {{logged}}
            <button id="signout">{{i18n.i_sign-out}}</button>
          {{/logged}}
          </div>
        </div>
      </header>
      <div id="content">
        <h1>&nbsp;</h1>
        <input id="diary_name" type="search" hidden="hidden" />
        <div id="network"></div>
        <ul id="memos" hidden="hidden">
          {{#memos}}
          <li class="{{type}}"> <input type="checkbox" id="{{id}}" name="{{rev}}" />{{date}}&nbsp;–
            <a href="{{id}}" class="memo">{{name}}</a>
          </li>
          {{/memos}}
        </ul>
      </div>
      <div id="footer" class="menu">
        <a href="https://github.com/Hypertopic/Cassandre/wiki">Cassandre</a>
      </div>
    </div>
  </body>
  <script src="../../script/jquery.js"></script>
  <script type="text/javascript" src="../../script/vis.min.js"></script>
  <script>
  var rev = "";
  $(document).ready(function() {
    resetUI();
    $.ajax({
      url: "../../{{diary}}",
      type: "GET",
      dataType: "json",
      success: function(d) {
        $('h1').text(d.diary_name);
        $('#diary_name').val(d.diary_name);
        $('title').text(d.diary_name);
        rev = d._rev;
      }
    });
    var nodes = [];
    var edges = [];
    var diagrams = [];
    var graphs = [];
    {{#memos}}
      memo_id = "{{id}}";
      memo_type = "{{type}}";
      memo_name = "{{{name}}}";
      memo_date = "{{date}}";
      switch (memo_type) {
        case "field":
          node_level = '2';
          break;
        case "coding":
          node_level = '3';
          break;
        case "theoretical":
          node_level = '0';
          break;
        case "diagram":
          diagrams.push(memo_id);
          node_level = '4';
          break;
        case "operational":
          node_level = '1';
          break;
        case "graph":
          graphs.push(memo_id);
          node_level = '5';
          break;
        case "storyline":
          node_level = '6';
          break;
      }
      nodes.push({id: memo_id, shape: 'image', image: '../../style/'+memo_type+'.png', label: memo_date.substring(0,10)+"\n"+memo_name, y: memo_date, level:node_level });
      {{#groundings}}
        if (memo_type == "field") {
           edges.push({from: memo_id, to: "{{.}}", arrows:'from'});
        } else {
           edges.push({from: "{{.}}", to: memo_id, arrows:'to'});
        }
      {{/groundings}}
    {{/memos}}
    var container = document.getElementById('network');
    var data = {
      nodes: nodes,
      edges: edges
    };
    var options = {
      layout: {
        hierarchical: {
          direction: "LR",
          levelSeparation: 250
        }
      }
    };
    network = new vis.Network(container, data, options);
    network.on('click', function (selected) {
      if (selected.nodes[0].length == 32) {
        if($.inArray(selected.nodes[0], diagrams) != -1) {
          self.location = '../../diagram/{{diary}}/'+selected.nodes[0];
        } else if($.inArray(selected.nodes[0], graphs) != -1) {
          self.location = '../../graph/{{diary}}/'+selected.nodes[0];
        } else {
          self.location = selected.nodes[0];
        }
      }
    });
  });

  $('#header')
    .on('click', '#diaries', function() {
      self.location = '..';
    })
    .on('click', '#patterns', function() {
      self.location = '../../kwic/{{diary}}';
    });

  $('#footer')
    .on('click', '#show_delete', function() {
      $("#network").hide();
      $("#memos").show();
      $("#footer").html(
        '<button id="cancel" type="button">{{i18n.i_cancel}}</button>'
        + '<input id="toggle" type="checkbox">{{i18n.i_select}}</button>'
        + '<button id="delete" type="button">{{i18n.i_delete}}</button>'
      );
    })

    .on('click', '#cancel', function() {
      resetUI();
    })

    .on('click', '#toggle', function() {
      var checked = $("#toggle").is(":checked");
      $("input[type='checkbox']").each(function() {
        $(this).prop("checked", checked);
      });
    })

    .on('click', '#delete', function() {
      var checked = $("input:checked");
      var countdown = checked.size();
      if (!countdown) {
        resetUI();
      }
      checked.each(function() {
        var memo = $(this).closest(".memo");
        $.ajax({
          type: "DELETE",
          url: "../../" + $(this).attr("id") + "?rev=" + $(this).attr("name"),
          success: function() {
            countdown--;
            if (countdown<1) {
              location.reload();
            }
          }
        });
      });
    });

  function resetUI() {
    $("#memos").hide();
    $("#network").show();
    $("#footer").html(
      '<button type="button" id="show_delete">{{i18n.i_delete}}...</button>'
      + '<a href="https://github.com/Hypertopic/Cassandre/wiki">Cassandre</a>'
    );
  }

  var reload = function() {
    location.reload();
  };

  $('#signin').on('submit', function(e) {
    e.preventDefault();
    $.post('/_session', $(this).serialize(), reload);
  });

  $('#signout').on('click', function() {
    $.ajax({
      type: 'DELETE',
      url: '/_session',
      success: reload
    });
  });

  $('h1').on('click', function() {
    $(this).hide();
    $('#diary_name').show();
  });

  $('#diary_name').on('keypress', function(key) {
    if (key.which == 13) {
      $.ajax({
        url: "../../{{diary}}",
        type: "GET",
        dataType: "json",
        success: function(data) {
          data.diary_name = $('#diary_name').val().trim();
          $.ajax({
            type: "PUT",
            url: "../../{{diary}}",
            contentType: "application/json",
            data: JSON.stringify(data),
            error: function(request) {
              alert(
                (JSON.parse(request.responseText).reason || request.responseText)
                + '\nCode ' + request.status
              );
            },
            success: reload
          });
        }
      });
    }
  });

  </script>
</html>

