<html>
  <head>
    <link rel="icon" type="image/png" href="../style/favicon.png" />
    <link rel="stylesheet" type="text/css" href="../style/main.css" />
  </head>
  <body id="watermark">
    <div id="container">
      <div id="header" class="menu">
        <div id='logged'>
        {{^logged}}
          <form id="signin">
            <input type="text" name="name" placeholder="{{i18n.i_username}}"/>
            <input type="password" name="password" placeholder="{{i18n.i_password}}"/>
            <button type="submit">{{i18n.i_sign-in}}</button>
          </form>
        {{/logged}}
        {{#logged}}
          {{logged}}
          <button id="signout">{{i18n.i_sign-out}}</button>
        {{/logged}}
        </div>
      </div>
      <div id="content">
        <h1>{{i18n.i_diaries}}</h1>
        <ul>
          {{#diaries}}
          <li>
            <b>{{name}}</b>&nbsp;–
            <a href='../memo/{{id}}/?by=name' >{{count}} {{i18n.i_memos}}</a>
          </li>
          {{/diaries}}
        </ul>
        <div id="dialog" title="{{i18n.i_enter_diary_name}}" hidden="hidden">
          <input name="diary" placeholder="{{i18n.i_my_diary}}"></input>
        </div>
      </div>
      <div id="footer" class="menu">
        <button type="button" id="create" class="theoretical"> + </button>
        <a href="https://github.com/Hypertopic/Cassandre/wiki">Cassandre</a>
      </div>
    </div>
  </body>
  <script src="../script/jquery.js"></script>
  <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
  <script>
  var reload = function() {
    location.reload();
  };

  $('#signin').on('submit', function(e) {
    e.preventDefault();
    $(this).find('input').first().val($(this).find('input').first().val().toLowerCase());
    $.post('/_session', $(this).serialize(), reload);
  });

  $('#signout').on('click', function() {
    $.ajax({
      type: 'DELETE',
      url: '/_session',
      success: reload
    });
  });

  $('#create').on('click', function() {
    $("#dialog").dialog({
      autoOpen:false,
      modal:true,
      width:'auto',
      autoResize: true,
      buttons:{
        "ok":function(){
          $(this).dialog("close");
          var diary_name = $('#dialog').find('input[name="diary"]').val().trim();
          createDiary(diary_name);
          return true;
        },
        "cancel":function(){
          $(this).dialog("close");
          return false;
        }
      },
      open: function() {
        $("#dialog").keypress(function(e) {
          if (e.keyCode == $.ui.keyCode.ENTER) {
            $(this).parent().find("button:eq(1)").trigger("click");
          }
        });
      }
    });
    $("#dialog").dialog("open");
  });
  function createDiary(diary_name) {
    var type = $('#create')[0].className;
    var date = new Date().toJSON();
    var user = "{{peer}}";
    if ("{{logged}}") user = "{{logged}}";
    var diary = {
      diary_name: diary_name,
      history: [{
        "user": user,
        "date": date
      }]
    };
    var data = {
      type: type,
      groundings: [],
      history: [{
        "user": user,
        "date": date
      }],
      name: "",
      body: ""
    };
    if ("{{logged}}") {
      data.contributors = ["{{logged}}"];
    }
    if (diary_name) {
      $.ajax({
        url: "../",
        type: "POST",
        dataType: "json",
        contentType: "application/json",
        data: JSON.stringify(diary),
        success: function(diary) {
          data.diary = diary.id;
          $.ajax({
            url: "../",
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function(data) {
              location.replace('../editable_memo/'+data.id)
            }
          });
        }
      });
    }
  };
  </script>
</html>

