<html>
  <head>
    <title>{{diary_name}}</title>
    <link rel="icon" type="image/png" href="../../style/favicon.png" />
    <link rel="stylesheet" type="text/css" href="../../style/main.css" />
    <link rel="stylesheet" type="text/css" href="../../style/diagram.css" />
    <link rel="stylesheet" type="text/css" href="../../style/vis.min.css" />
  </head>
  <body id="watermark">
    <div id="container">
      <header>
        <div id="header" class="menu">
          <button type="button" id="diaries">{{i18n.i_diaries}}</button>
          <button type="button" id="list">{{i18n.i_list}}</button>
          <button type="button" id="drawNetwork">{{i18n.i_network}}</button>
          {{i18n.i_sort}}
          <select id="sort">
            <option value="name">{{i18n.i_title}}</option>
          </select>
          <button type="button" id="patterns">{{i18n.i_patterns}}</button>
          <div id='logged'>
          {{^logged}}
            <form id="signin">
              <input type="text" name="name" placeholder="username"/>
              <input type="password" name="password" placeholder="password"/>
              <button type="submit">{{i18n.i_sign-in}}</button>
            </form>
          {{/logged}}
          {{#logged}}
            {{logged}}
            <button id="signout">{{i18n.i_sign-out}}</button>
          {{/logged}}
          </div>
        </div>
      </header>
      <div id="content">
        <h1>{{diary_name}}</h1>
        <input id="diary_name" type="search" hidden="hidden" value="{{diary_name}}"/>
        <div id="add-leaves"><img id="show-activity" src="../../style/clock.png" alt="{{i18n.i_activity}}"/></div>
        <div id="activity" title="{{i18n.i_activity}}" hidden="hidden">
        <fieldset>
          <legend>{{i18n.i_filter}}</legend>
          <button type="button" id="all-activity">{{i18n.i_all}}</button>
          <button type="button" id="only-created">{{i18n.i_creations}}</button>
          <button type="button" id="only-modified">{{i18n.i_modifications}}</button>
          <button type="button" id="only-comments">{{i18n.i_comments}}</button>
        </fieldset>
        <ul>
        {{#activity}}
          <li class="{{comment}}{{created}}{{^created}}{{^comment}}modified{{/comment}}{{/created}}">{{date}}, {{user}}
              {{#diary_label}}
                {{#created}}{{i18n.i_created}} {{/created}}{{^created}}{{i18n.i_renamed}} {{/created}}
                {{i18n.i_the-diary}}
              {{/diary_label}}
              {{#comment}}
                {{i18n.i_commented}}
                <a href="{{modified_id}}">{{modified_name}}</a>
              {{/comment}}
              {{#diagram}}
                {{#created}}{{i18n.i_created}} {{/created}}{{^created}}{{i18n.i_modified}} {{/created}}
                <a href="../../diagram/{{diary}}/{{modified_id}}">{{modified_name}}</a>
              {{/diagram}}
              {{#graph}}
                {{#created}}{{i18n.i_created}} {{/created}}{{^created}}{{i18n.i_modified}} {{/created}}
                <a href="../../graph/{{diary}}/{{modified_id}}">{{modified_name}}</a>
              {{/graph}}
              {{#memo}}
                {{#created}}{{i18n.i_created}} {{/created}}{{^created}}{{i18n.i_modified}} {{/created}}
                <a href="{{modified_id}}">{{modified_name}}</a>
              {{/memo}}
          </li>
        {{/activity}}
        </ul></div>
        <div id="network" hidden="hidden"></div>
        <ul id="memos" hidden="hidden">
          {{#memos}}
          <li class="{{type}}"> {{date}}&nbsp;–
            <a href="{{id}}">{{name}}</a>
          </li>
          {{/memos}}
        </ul>
        <ul id="selectable-memos" hidden="hidden">
          {{#memos}}
          <li class="{{type}}"> <input type="checkbox" id="{{id}}" name="{{rev}}" />{{date}}&nbsp;–
            <a class="memo">{{name}}</a>
          </li>
          {{/memos}}
        </ul>
      </div>
      <div id="footer" class="menu">
        <a href="https://github.com/Hypertopic/Cassandre/wiki">Cassandre</a>
      </div>
    </div>
  </body>
  <script src="../../script/jquery.js"></script>
  <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
  <script type="text/javascript" src="../../script/vis.min.js"></script>
  <script>
  $(document).ready(function() {
    resetUI();
  });

  $('#header')
    .on('click', '#diaries', function() {
      self.location = '..';
    })
    .on('click', '#list', function() {
      resetUI();
    })
    .on('click', '#drawNetwork', function() {
      drawNetwork();
    })
    .on('click', '#patterns', function() {
      self.location = '../../kwic/{{diary}}';
    });

  $('#footer')
    .on('click', '#show_delete', function() {
      $("#network").hide();
      $("#memos").hide();
      $("#selectable-memos").show();
      $("#footer").html(
        '<button id="cancel" type="button">{{i18n.i_cancel}}</button>'
        + '<input id="toggle" type="checkbox">{{i18n.i_select}}</button>'
        + '<button id="delete" type="button">{{i18n.i_delete}}</button>'
      );
    })

    .on('click', '#cancel', function() {
      resetUI();
    })

    .on('click', '#toggle', function() {
      var checked = $("#toggle").is(":checked");
      $("input[type='checkbox']").each(function() {
        $(this).prop("checked", checked);
      });
    })

    .on('click', '#delete', function() {
      var checked = $("input:checked");
      var countdown = checked.size();
      if (!countdown) {
        resetUI();
      }
      checked.each(function() {
        var memo = $(this).closest(".memo");
        $.ajax({
          type: "DELETE",
          url: "../../" + $(this).attr("id") + "?rev=" + $(this).attr("name"),
          success: function() {
            countdown--;
            if (countdown<1) {
              location.reload();
            }
          }
        });
      });
    });

  $('#show-activity').on('click', function() {
    $("#activity").dialog({
      autoOpen:false,
      modal:true,
      width:'auto',
      autoResize: true,
      open: function() {
        $("#dialog").keypress(function(e) {
          if (e.keyCode == $.ui.keyCode.ENTER) {
            $(this).parent().find("button:eq(1)").trigger("click");
          }
        });
      }
    });
    $("#activity").dialog("open");
    if ($('ul .created').length < 1) $('#only-created').hide();
    if ($('ul .modified').length < 1) $('#only-modified').hide();
    if ($('ul .commented').length < 1) $('#only-comments').hide();
  });

  $('#all-activity').on('click', function() {
    $(".created").show();
    $(".modified").show();
    $(".commented").show();
  });
  $('#only-created').on('click', function() {
    $(".created").show();
    $(".modified").hide();
    $(".commented").hide();
  });
  $('#only-comments').on('click', function() {
    $(".created").hide();
    $(".modified").hide();
    $(".commented").show();
  });
  $('#only-modified').on('click', function() {
    $(".created").hide();
    $(".commented").hide();
    $(".modified").show();
  });

  function resetUI() {
    var listed = $("#memos>li");
    listed.each(function() {
      var type = $(this).attr('class');
      switch(type){
        case "graph":
        case "diagram":
          $(this).find('a').attr('href', '../../'+type+'/{{diary}}/'+$(this).find('a').attr('href'));
          break;
      }
    });
    $("#memos").show();
    $("#selectable-memos").hide();
    $("#network").hide();
    $("#footer").html(
      '<button type="button" id="show_delete">{{i18n.i_delete}}...</button>'
      + '<a href="https://github.com/Hypertopic/Cassandre/wiki">Cassandre</a>'
    );
  }

  function drawNetwork() {
    var nodes = [];
    var edges = [];
    var diagrams = [];
    var graphs = [];
    {{#memos}}
      memo_id = "{{id}}";
      memo_type = "{{type}}";
      memo_name = "{{{name}}}";
      memo_date = "{{date}}";
      switch (memo_type) {
        case "field":
          node_level = '2';
          break;
        case "coding":
          node_level = '3';
          break;
        case "theoretical":
          node_level = '0';
          break;
        case "diagram":
          diagrams.push(memo_id);
          node_level = '4';
          break;
        case "operational":
          node_level = '1';
          break;
        case "graph":
          graphs.push(memo_id);
          node_level = '5';
          break;
        case "storyline":
          node_level = '6';
          break;
      }
      if (memo_name.length > 25) {
        memo_name = memo_name.substring(0, 12)+memo_name.substring(12, 30).replace(/\s/,"\n")+'...';
      }
      nodes.push({id: memo_id, shape: 'image', image: '../../style/'+memo_type+'.png', label: memo_name+"\n"+memo_date, y: memo_date, level:node_level });
      {{#groundings}}
        if (memo_type == "field") {
           edges.push({from: memo_id, to: "{{.}}", arrows:'from'});
        } else {
           edges.push({from: "{{.}}", to: memo_id, arrows:'to'});
        }
      {{/groundings}}
    {{/memos}}
    var container = document.getElementById('network');
    var data = {
      nodes: nodes.reverse(),
      edges: edges.reverse()
    };
    var options = {
      layout: {
        hierarchical: {
        }
      },
      interaction: {
        navigationButtons: true,
        keyboard: true
      }
    };
    network = new vis.Network(container, data, options);
    network.on('click', function (selected) {
      if (selected.nodes[0].length == 32) {
        if($.inArray(selected.nodes[0], diagrams) != -1) {
          self.location = '../../diagram/{{diary}}/'+selected.nodes[0];
        } else if($.inArray(selected.nodes[0], graphs) != -1) {
          self.location = '../../graph/{{diary}}/'+selected.nodes[0];
        } else {
          self.location = selected.nodes[0];
        }
      }
    });
    $("#memos").hide();
    $("#network").show();
  }

  var reload = function() {
    location.reload();
  };

  $('#signin').on('submit', function(e) {
    e.preventDefault();
    $.post('/_session', $(this).serialize(), reload);
  });

  $('#signout').on('click', function() {
    $.ajax({
      type: 'DELETE',
      url: '/_session',
      success: reload
    });
  });

  $('h1').on('click', function() {
    $(this).hide();
    $('#diary_name').show();
  });

  $('#diary_name').on('keypress', function(key) {
    if (key.which == 13) {
      var diary_name = $('#diary_name').val().trim();
      var user = "{{peer}}";
      if ("{{logged}}") user = "{{logged}}";
      var history = {
        "user": user,
        "date": new Date().toJSON()
      };
      $.ajax({
        url: "../../{{diary}}",
        type: "GET",
        dataType: "json",
        error: function() {
          $.ajax({
            type: "PUT",
            url: "../../{{diary}}",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify({
              _id: "{{diary}}",
              diary_name: diary_name,
              history: [history]
            }),
            success: reload
          });
        },
        success: function(data) {
          data.diary_name = diary_name;
          if (!data.history) data.history = [];
          data.history.push(history);
          $.ajax({
            type: "PUT",
            url: "../../{{diary}}",
            contentType: "application/json",
            data: JSON.stringify(data),
            error: function(request) {
              alert(
                (JSON.parse(request.responseText).reason || request.responseText)
                + '\nCode ' + request.status
              );
            },
            success: reload
          });
        }
      });
    }
  });

  </script>
</html>

