<!doctype html>
<html>
  <head>
    <title>{{i18n.i_diaries}}</title>
    {{>links}}
  </head>
  <body id="watermark">
    <div id="container">
      <nav id="header" class="{{>navbarstyle}} navbar-expand bd-navbar fixed-top">
        <ul class="navbar-nav mr-auto">&nbsp;</ul>
        {{>log}}
      </nav>
      <div id="container" class='container-fluid'>
        <div id="content" class='col'>
          <h1>{{i18n.i_diaries}}</h1>
          <div class="card-columns">
            {{#logged}}
            <div class="loader alert alert-primary">{{i18n.i_loading}}</div>
            {{/logged}}
            {{#diaries}}
            <div class="card text-center bg-light mb-3">
              <h5><a href='../memo/{{id}}/?by=date'>{{name}}</a></h5>
              <p><span id="{{id}}" title="{{i18n.i_memos}}" class="badge badge-pill badge-secondary"></span></p>
            </div>
            {{/diaries}}
            {{#logged}}
            <div class="card text-center bg-light mb-3">
              <div class="card-body">
                <h5 class="card-title">{{i18n.i_create.diary}}</h5>
                <input id="my_diary" placeholder="{{i18n.i_my_diary}}" class="form-control input-sm" />
              </div>
            </div>
            {{/logged}}
          </div>
        </div>
      </div>
      <nav id="footer" class="{{>navbarstyle}} fixed-bottom">
        <a class='navbar-text' href="https://github.com/Hypertopic/Cassandre/wiki">Cassandre</a>
      </nav>
    </div>
  {{>script}}
  <script>
  $(document).ready(function() {
    stickToHeader();
    {{#logged}}
    var added = [];
    $.ajax({
      url: "../diaries/{{logged}}",
      type: "GET",
      dataType: "json",
      success: function(data) {
        for (var i in data) {
          if (!$('#'+data[i].id).length) {
            var card = '<div class="card text-center bg-light mb-3">'
              +'<h5><a href="../memo/'+data[i].id+'/?by=date">'+data[i].name+'</a></h5>'
              +'<div title="{{i18n.i_restricted-access}}" class="card-icons"><img src="../style/lock.svg" alt="" /></div>'
              +'<p><span id="'+data[i].id+'" title="{{i18n.i_memos}}" class="badge badge-pill badge-secondary"></span></p>'
              +'</div>';
            $('h1 + div').prepend(card);
            added.push(data[i].id);
          }
        }
      }
    }).done(function(){
      moment.locale('{{locale}}');
      if (added.length > 1) $.ajax({
        url: "../news/",
        type: "GET",
        dataType: "json",
        success: function(data) {
          for (var i in data) {
            $('#'+data[i].id).text(data[i].size);
            if (data[i].news) {
              $('#'+data[i].id).prepend(data[i].news+'/');
              $('#'+data[i].id).parent().parent().removeClass('bg-light');
              $('#'+data[i].id).parent().parent().addClass('alert-success');
              $('#'+data[i].id).parent().parent().attr("title", "{{i18n.i_updated-diary}}");
              $('#'+data[i].id).removeClass('badge-secondary');
              $('#'+data[i].id).addClass('badge-success');
              $('#'+data[i].id).attr("title", "{{i18n.i_memos-number}}");
              if (typeof data[i].lastvisit !== 'undefined')
                $("<br/><span class='moment'>Dernière consultation "+moment(data[i].lastvisit).fromNow()+'</span>').insertAfter('#'+data[i].id);
            }
          }
        }
      });
    }).done(function(){
      $(".loader").addClass("hidden");
    });
    $.ajax({
      url: "../{{logged}}",
      type: "GET",
      dataType: "json",
      success: function(data) {
        if(data.fullname) $('#username').text(data.fullname);
      }
    });
    {{/logged}}
  });

  $('#my_diary').on('keypress', function(key) {
    if (key.which == 13) {
      createDiary($('#my_diary').val().trim());
    }
  });

  function createDiary(diary_name) {
    if (diary_name == '') {
      alert('{{i18n.i_enter_diary_name}}');
    } else {
      var diary = {
        diary_name: diary_name,
        history: [{
          "user": user,
          "date": new Date().toJSON()
        }]
      };
      var data = {
        contributors: [],
        readers: [],
        type: 'theoretical',
        groundings: [],
        history: [{
          "user": user,
          "date": new Date().toJSON()
        }],
        name: "{{i18n.i_name.theoretical}}",
        body: ""
      };
      if ("{{logged}}") {
        data.contributors.push("{{logged}}");
        data.readers.push("{{logged}}");
      }
      $.ajax({
        url: "../",
        type: "POST",
        dataType: "json",
        contentType: "application/json",
        data: JSON.stringify(diary),
        success: function(diary) {
          data.diary = diary.id;
          $.ajax({
            url: "../",
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function(data) {
              location.replace('../editable_memo/'+data.id)
            }
          });
        }
      });
    }
  };

  {{>layoutscript}}
  {{>logscript}}
  </script>
  </body>
</html>

