<!doctype html>
<html>
  <head>
    {{>links}}
  </head>
  <body id="watermark">
    <div id="container">
      <nav id="header" class="navbar navbar-expand bd-navbar fixed-top navbar-light bg-light">
        <ul class="navbar-nav mr-auto">&nbsp;</ul>
        {{>log}}
      </nav>
      <div id="container" class='container-fluid'>
        <div id="content" class='col'>
          <h1>{{i18n.i_diaries}}</h1>
          <div class="card-columns">
            {{#diaries}}
            <div class="card text-center bg-light mb-3">
              <a href='../memo/{{id}}/?by=date'>
                <div class="card-body">
                  <h5 class="card-title">{{name}}</h5>
                  <p>{{count}} {{i18n.i_memos}}</p>
                </div>
              </a>
            </div>
            {{/diaries}}
            {{#logged}}
            <div class="card text-center bg-light mb-3">
              <div class="card-body">
                <h5 class="card-title">{{i18n.i_create}}</h5>
                <input id="my_diary" placeholder="{{i18n.i_my_diary}}" class="form-control input-sm" />
              </div>
            </div>
            {{/logged}}
          </div>
        </div>
      </div>
      <nav id="footer" class="navbar fixed-bottom navbar-light bg-light">
        <a class='navbar-text' href="https://github.com/Hypertopic/Cassandre/wiki">Cassandre</a>
      </nav>
    </div>
  {{>script}}
  <script>
  $(document).ready(function() {
    stickToHeader();
    if ('{{logged}}') $.ajax({
      url: "../{{logged}}",
      type: "GET",
      dataType: "json",
      success: function(data) {
        if(data.fullname) $('#username').text(data.fullname);
      }
    });
  });

  $('#my_diary').on('keypress', function(key) {
    if (key.which == 13) {
      createDiary($('#my_diary').val().trim());
    }
  });

  function createDiary(diary_name) {
    console.log(diary_name);
    if (diary_name == '') {
      alert('{{i18n.i_enter_diary_name}}');
    } else {
      var diary = {
        diary_name: diary_name,
        history: [{
          "user": user,
          "date": new Date().toJSON()
        }]
      };
      var data = {
        contributors: [],
        readers: [],
        type: 'theoretical',
        groundings: [],
        history: [{
          "user": user,
          "date": new Date().toJSON()
        }],
        name: "{{i18n.i_name.theoretical}}",
        body: ""
      };
      if ("{{logged}}") {
        data.contributors.push("{{logged}}");
      }
      if (diary_name) {
        $.ajax({
          url: "../",
          type: "POST",
          dataType: "json",
          contentType: "application/json",
          data: JSON.stringify(diary),
          success: function(diary) {
            data.diary = diary.id;
            $.ajax({
              url: "../",
              type: "POST",
              dataType: "json",
              contentType: "application/json",
              data: JSON.stringify(data),
              success: function(data) {
                location.replace('../editable_memo/'+data.id)
              }
            });
          }
        });
      }
    }
  };

  {{>layoutscript}}
  {{>logscript}}
  </script>
  </body>
</html>

