<html>
  <head>
    <title>{{diary_name}}</title>
    {{>links}}
    {{^list}}
      {{>viscss}}
    {{/list}}
  </head>
  <body id="watermark">
    <div id="container">
      <header>
        <div id="header" class="menu">
          <button type="button" id="diaries">{{i18n.i_diaries}}</button>
          <button type="button" id="drawNetwork">{{i18n.i_network}}</button>
          <button type="button" id="drawTimeline">{{i18n.i_timeline}}</button>
          <select id="sort">
            <option>{{i18n.i_sort}}</option>
            <option value="name">{{i18n.i_title}}</option>
            <option value="date">{{i18n.i_date}}</option>
            <option value="update">{{i18n.i_update}}</option>
            <option value="type">{{i18n.i_type}}</option>
          </select>
          <button type="button" id="patterns">{{i18n.i_patterns}}</button>
          {{>log}}
        </div>
      </header>
      <div id="content">
        <h1>{{diary_name}}</h1>
        <input id="name" type="search" hidden="hidden" value="{{diary_name}}"/>
        <div id="add-leaves">
          <img id="sticky" src="../../style/checklist.png" hidden="hidden" alt="{{i18n.i_todo}}"/>
          <img id="show-activity" src="../../style/clock.png" alt="{{i18n.i_activity}}"/>
        </div>
        <div id="network" hidden="hidden"></div>
        <ul id="memos">
        {{#sections}}
          {{#memos}}
          <li class="{{type}}"><input type="checkbox" id="{{id}}" name="{{rev}}" hidden="hidden" />
            <span id="{{date}}" class="moment">{{date}}</span>&nbsp;–
            <a href="../../{{path}}/{{diary}}/{{id}}" class="tooltip">{{name}}
            {{#preview}}<span class="preview">{{preview}}</span>{{/preview}}</a>
          </li>
          {{/memos}}
        {{/sections}}
        </ul>
      </div>
      <div id="footer" class="menu">
        <a href="https://github.com/Hypertopic/Cassandre/wiki">Cassandre</a>
      </div>
    </div>
  </body>
  {{>script}}
  {{#list}}<script src="../../script/showdown.min.js"></script>{{/list}}
  {{^list}}<script src="../../script/vis.min.js"></script>{{/list}}
  <script>
  var refresh = true;
  $(document).ready(function() {
    moment.locale('{{locale}}');
    stickToHeader();
    resetUI();
    {{#list}}
    momentRelative('#memos');
    var converter = new showdown.Converter({
      tables: 'true',
      tasklists: 'true',
      strikethrough: 'true'
    });
    converter.setFlavor('github');
    $('.preview').html(function(i, text) {
      return converter.makeHtml(text.trim());
    });
    {{/list}}
    {{#network}}
      drawNetwork();
    {{/network}}
    {{#timeline}}
      drawTimeline();
    {{/timeline}}
    $.ajax({
      url: "../../tasklist/{{diary}}",
      type: "GET",
      dataType: "json",
      success: function(todo) {
        if (todo.pending > 0) $('#sticky').show();
      }
    });
  });

  $('#header')
    .on('click', '#diaries', function() {
      self.location = '..';
    })
    .on('change', '#sort', function() {
      self.location = '?by=' + $('#sort').val();
    })
    .on('click', '#drawNetwork', function() {
      self.location = '?by=network';
    })
    .on('click', '#drawTimeline', function() {
      self.location = '?by=timeline';
    })
    .on('click', '#patterns', function() {
      self.location = '../../kwic/{{diary}}';
    });

  $('#footer')
    .on('click', '#show_delete', function() {
      $("#network").hide();
      $("#memos>li>input").show();
      $("#footer").html(
        '<button id="cancel" type="button">{{i18n.i_cancel}}</button>'
        + '<input id="toggle" type="checkbox">{{i18n.i_select}}</button>'
        + '<button id="delete" type="button">{{i18n.i_delete}}</button>'
      );
    })

    .on('click', '#cancel', function() {
      resetUI();
    })

    .on('click', '#toggle', function() {
      var checked = $("#toggle").is(":checked");
      $("input[type='checkbox']").each(function() {
        $(this).prop("checked", checked);
      });
    })

    .on('click', '#delete', function() {
      var checked = $("input:checked");
      var countdown = checked.size();
      if (!countdown) {
        resetUI();
      }
      checked.each(function() {
        var memo = $(this).closest(".memo");
        $.ajax({
          type: "DELETE",
          url: "../../" + $(this).attr("id") + "?rev=" + $(this).attr("name"),
          success: function() {
            countdown--;
            if (countdown<1) {
              location.reload();
            }
          }
        });
      });
    });

  $('#sticky').on('click', function() {
    self.location = "../../tasklist/{{diary}}/";
  });

  $('#show-activity').on('click', function() {
    self.location = "../../activity/{{diary}}/";
  });

  function resetUI() {
    $("#memos>li>input").hide();
    $("#footer").html(
      '<button type="button" id="show_delete">{{i18n.i_delete}}...</button>'
      + '<a href="https://github.com/Hypertopic/Cassandre/wiki">Cassandre</a>'
    );
  }

  {{#list}}
  function momentRelative(what) {
    var moments = $(what+' .moment');
    moments.each(function() {
      var now = moment();
      var jstime = $(this).text();
      var mmtime = moment(jstime);
      if(now.diff(mmtime, 'days') <= 2) {
        $(this).text(mmtime.fromNow());
      } else if(now.diff(mmtime, 'years') < 1) {
        $(this).text("{{i18n.i_on-a-date}}"+' '+mmtime.format("Do MMMM"));
      } else {
        $(this).text("{{i18n.i_on-a-date}}"+' '+mmtime.format("Do MMMM YYYY"));
      }
    });
    var contributions = $('ul li .moment');
    contributions.each(function() {
      $(this).text($(this).text().replace(/./, function(x) { return x.toUpperCase(); }));
    });
  }
  {{/list}}

  {{#timeline}}
  function drawTimeline() {
    $("#show_delete").hide();
    $(".vis-network").hide();
    var container = document.getElementById('network');
    var data = {{{timeline}}};
    var options = {locale: '{{locale}}'};
    var groups = new vis.DataSet([
      {id: 0, content: '<img src="../../style/theoretical.svg" />', value: 0},
      {id: 1, content: '<img src="../../style/operational.svg" />', value: 1},
      {id: 2, content: '<img src="../../style/field.svg" />', value: 2},
      {id: 3, content: '<img src="../../style/coding.svg" />', value: 3},
      {id: 4, content: '<img src="../../style/diagram.svg" />', value: 4},
      {id: 5, content: '<img src="../../style/graph.svg" />', value: 5},
      {id: 6, content: '<img src="../../style/storyline.svg" />', value: 6},
      {id: 8, content: '<img src="../../style/table.svg" />', value: 8}
    ]);
    timeline = new vis.Timeline(container, data, options);
    timeline.setGroups(groups);
    timeline.on('click', function (selected) {
      if (selected.group == 4) {
        self.location = '../../diagram/{{diary}}/'+selected.item;
      } else if (selected.group == 8) {
        self.location = '../../table/{{diary}}/'+selected.item;
      } else if (selected.group == 5) {
        self.location = '../../graph/{{diary}}/'+selected.item;
      } else if (selected.item !== null) {
        self.location = selected.item;
      }
    });
    $("#memos").hide();
    $("#network").show();
  }
  {{/timeline}}

  {{#network}}
  function drawNetwork() {
    $("#show_delete").hide();
    var diagrams = "{{{diagrams}}}";
    diagrams = diagrams.split(',');
    var graphs = "{{{graphs}}}";
    graphs = graphs.split(',');
    var tables = "{{{tables}}}";
    tables = tables.split(',');
    var container = document.getElementById('network');
    var data = {{{network}}};
    var options = {
      nodes: {
        shape: 'box',
        color: {
          background: 'white',
          highlight: {
            background: 'white'
          }
        }
      },
      edges: {
        color: 'blue'
      },
      layout: {
        hierarchical: {
          sortMethod: 'directed'
        }
      },
      interaction: {
        navigationButtons: true,
        keyboard: true
      }
    };
    network = new vis.Network(container, data, options);
    network.on('click', function (selected) {
      if (selected.nodes[0].length == 32) {
        if($.inArray(selected.nodes[0], diagrams) != -1) {
          self.location = '../../diagram/{{diary}}/'+selected.nodes[0];
        } else if($.inArray(selected.nodes[0], tables) != -1) {
          self.location = '../../table/{{diary}}/'+selected.nodes[0];
        } else if($.inArray(selected.nodes[0], graphs) != -1) {
          self.location = '../../graph/{{diary}}/'+selected.nodes[0];
        } else {
          self.location = selected.nodes[0];
        }
      }
    });
    $("#memos").hide();
    $("#network").show();
  }
  {{/network}}

  {{>layoutscript}}
  {{>logscript}}
  {{>editname}}
  </script>
</html>

