<!doctype html>
<html>
  <head>
    <title>{{diary_name}} - {{name}}</title>
    {{>links}}
    <link rel="stylesheet" href="../style/simplemde.min.css" />
  </head>
  <body id="watermark">
      <header>
        <nav id="header" class="{{>navbarstyle}} navbar-expand bd-navbar fixed-top">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link text-light" id="diary">{{diary_name}}</a></li>
          </ul>
          {{>log}}
        </nav>
      </header>
      <div id="container" class='container-fluid h-100'>
        <div id="memo" class='row h-100'>
          {{#authorized}}
          <div class="col-3" id="groundings">
            <legend>{{i18n.i_groundings}}</legend>
            {{#groundings}}
            <li id="{{.}}" class="{{type}}">
              <h4 class="toggle">{{name}}</h4>
              <div class="preview">{{preview}}</div>
            </li>
            {{/groundings}}
          </div>
          {{/authorized}}
          <main class="col" id="content">
            {{^authorized}}
            <h1>{{i18n.i_sign-in_required}}</h1>
            {{/authorized}}
            {{#authorized}}
            <h1> <img src="../style/{{type}}.svg"/> {{name}}</h1>
            <p>
              <textarea id="body" cols="80" rows="20" type="text">{{body}}</textarea>
            </p>
            {{/authorized}}
          </main>
        </div>
      </div>
      <nav id="footer" class="{{>navbarstyle}} fixed-bottom">
        {{#authorized}}
        <button type="button" class='btn btn-outline-light btn-sm' id="done">{{i18n.i_done}}</button>
        {{/authorized}}
        <a class='navbar-text' href="https://github.com/Hypertopic/Cassandre/wiki">Cassandre</a>
      </nav>

  <script src="../script/jquery.js"></script>
  <script src="../script/simplemde.min.js"></script>
  <script>
  var placeHolder = [];
  placeHolder["field"] = {name : "{{i18n.i_name.field}}", content: "{{{i18n.i_content.field}}}"};
  placeHolder["transcript"] = {name : "{{i18n.i_name.transcript}}", content: "{{{i18n.i_content.transcript}}}"};
  placeHolder["coding"] = {name : "{{i18n.i_name.coding}}", content: "{{{i18n.i_content.coding}}}"};
  placeHolder["theoretical"] = {name : "{{i18n.i_name.theoretical}}", content: "{{{i18n.i_content.theoretical}}}"};
  placeHolder["operational"] = {name : "{{i18n.i_name.operational}}", content: "{{{i18n.i_content.operational}}}"};
  placeHolder["storyline"] = {name : "{{i18n.i_name.storyline}}", content: "{{{i18n.i_content.storyline}}}"};
  $("#name").attr("placeHolder", placeHolder["{{type}}"]["name"]);

  var simplemde = new SimpleMDE({
    element: $("#body")[0],
    showIcons: ["table"],
    hideIcons: ["quote"],
    placeholder: placeHolder["{{type}}"]["content"],
    spellChecker: false
  });

  $(document).ready(function() {
    stickToHeader();
    if ($('#groundings li').length < 1) $("#groundings").addClass('hidden');
    $('#groundings').find('.toggle').next().slideToggle('fast');
  });

  function save(draft, toDoAfter) {
    $.ajax({
      url: "../{{_id}}",
      type: "GET",
      dataType: "json",
      success: function(data) {
        data.body = simplemde.value().replace(/ *\n/g, " \n");
        if (!data.history) data.history = [];
        var user = "{{peer}}";
        if ("{{logged}}") user = "{{logged}}";
        data.history.push({
          "user": user,
          "date": new Date().toJSON()
        });
        $.ajax({
          type: "PUT",
          url: "../{{_id}}",
          contentType: "application/json",
          data: JSON.stringify(data),
          error: function(request) {
            alert(
              (JSON.parse(request.responseText).reason || request.responseText)
              + '\nCode ' + request.status
            );
          },
          success: toDoAfter
        });
      }
    });
  }

  $('#done').on('click', function() {
    save(false, function() {
      self.location = '../memo/{{diary}}/{{_id}}';
    });
  });

  {{>layoutscript}}
  {{>logscript}}
  </script>
  </body>
</html>
