<html>
  <head>
    <link rel="icon" type="image/png" href="../style/favicon.png" />
    <link rel="stylesheet" type="text/css" href="../style/main.css" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <script src="../script/jquery.js"></script>
    <script type="text/javascript">
    function goTo(text) {
      self.location = "../text/" + text;
    }
    function save(toDoAfter) {
      var data = {
        speeches: []
      };
      $("#attributes").children("input").each(function() {
        data[$(this).attr("id")] = $(this).val();
      })
      var next = "" + toDoAfter;
      if (next.match(/goTo/g)) {
        delete data.draft;
      } else {
        data.draft = true;
      }
      $(".turn").each(function() {
        var actor = "" + $(this).children().children("input").val();
        if (actor == "") {
          data.speeches.push({
            text: $(this).children().children("textarea").val()
          })
        } else {
          data.speeches.push({
            actor: $(this).children().children("input").val(),
            text: $(this).children().children("textarea").val()
          })
        }
      })
      $.ajax({
        type: "PUT",
        url: "../{{_id}}",
        contentType: "application/json",
        data: JSON.stringify(data),
        error: function() {
          alert("Someone has probably edited the text meanwhile!");
        },
        success: function() {toDoAfter();}
      });
    }

    function monologize() {
      $(".turn>td>input").each(function() {
        $(this).val("");
      });
    }

    function ShowDialogue() {
      $("header>div").replaceWith(
        "<div id='menu'>"
        + "<input type='button' onclick=\"goTo('')\" value='Corpus' />"
        + "<button onclick='ShowMonologue()' type='button'>Monologue</button>"
        + "</div>"
      );
      $(".turn>span").prepend("<input type='text' value='{{actor}}' />");
    }

    function ShowMonologue() {
      $("header>div").replaceWith(
        "<div id='menu'>"
        + "<input type='button' onclick=\"goTo('')\" value='Corpus' />"
        + "<button onclick='ShowDialogue()' type='button'>Dialogue</button>"
        + "</div>"
      );
      $("input[type='text']").remove();
    }

    </script>
  </head>
  <body id="watermark">
    <form id="container">
      <header>
        <div id="menu">
          <input type="button" onclick="goTo('')" value="Corpus" />
          <input type="button" onclick="monologize('')" value="Monologue" />
        </div>
      </header>
      <div id="content">
        <fieldset id="attributes">
          <input id="_id" type="hidden" value="{{_id}}" />
          <input id="_rev" type="hidden" value="{{_rev}}" />
          <input id="corpus" type="hidden" value="{{corpus}}" />
          {{#attributes}}
          <label for="{{key}}">{{key}}</label>
          <input id="{{key}}" type="text" value="{{value}}" />
          {{/attributes}}
        </fieldset>
        <table>
          <tr><th>Actor</th><th>Speech</th></tr>
          {{#speeches}}
          <tr class="turn">
            {{#actor}}
            <td>
              <input type="text" value="{{actor}}" /><span />
            </td>
            {{/actor}}
            <td>
              <textarea cols="80" rows="3" type="text">{{text}}</textarea>
            </td>
          </tr>
          {{/speeches}}
        </table>
      </div>
      <div id="footer">
        <input type="button" onclick="save(function(){location.reload();})" 
          value="Add row" />
        <input type="button" onclick="save(function(){goTo('{{corpus}}/{{_id}}');})"
          value="Save" />
        <a href="http://cassandre-qda.sourceforge.net/about.html">Cassandre</a> &nbsp;
      </div>
    </form>
  </body>
</html>
