<html>
  <head>
    <title>{{name}} ({{diary}})</title>
    <link rel="icon" type="image/png" href="../style/favicon.png" />
    <link rel="stylesheet" type="text/css" href="../style/main.css" />
    <link rel="stylesheet" href="../style/simplemde.min.css" />
  </head>
  <body id="watermark">
    <form id="container">
      <header>
        <div id="header" class="menu">
          <button type="button" id="diary">&nbsp;</button>
          <div id='logged'>
          {{#logged}}
            {{logged_fullname}}
            <button id="signout">{{i18n.i_sign-out}}</button>
          {{/logged}}
          </div>
        </div>
      </header>
      <div id="memo">
      <input id="_id" type="hidden" value="{{_id}}" />
      <input id="_rev" type="hidden" value="{{_rev}}" />
      <input id="diary" type="hidden" value="{{diary}}" />
      <input id="date" type="hidden" value="{{date}}" />
      <input id="contributors" type="hidden" value="{{contributors}}" />
        {{#authorized}}
        <div id="groundings" >
          <legend>{{i18n.i_groundings}}</legend>          
          {{#groundings}}
          <li id="{{.}}">
            <h4 class="toggle"></h4>
            <div class="preview"></div>
          </li>            
          {{/groundings}}
        </div>
        {{/authorized}}
        <div id="content">
          {{^authorized}}
          <h1>{{i18n.i_sign-in_required}}</h1>
          {{/authorized}}
          {{#authorized}}
          <h1> <img src="../style/{{type}}.png"/> <textarea id="name" type="text" cols="50" rows="1">{{name}}</textarea></h1>
          <p>
            <textarea id="body" cols="80" rows="20" type="text">{{body}}</textarea>
          </p>
          {{/authorized}}
        </div>
      </div>
      <div id="footer" class="menu">
        {{#authorized}}
        <button type="button" id="done">{{i18n.i_done}}</button>
        {{/authorized}}
        <a href="https://github.com/Hypertopic/Cassandre/wiki">Cassandre</a>
      </div>
    </form>
  </body>
  <script src="../script/jquery.js"></script>
  <script src="../script/simplemde.min.js"></script>
  <script>
  var placeHolder = [];
  placeHolder["field"] = {name : "{{i18n.i_name.field}}", content: "{{{i18n.i_content.field}}}"};
  placeHolder["coding"] = {name : "{{i18n.i_name.coding}}", content: "{{{i18n.i_content.coding}}}"};
  placeHolder["theoretical"] = {name : "{{i18n.i_name.theoretical}}", content: "{{{i18n.i_content.theoretical}}}"};
  placeHolder["operational"] = {name : "{{i18n.i_name.operational}}", content: "{{{i18n.i_content.operational}}}"};
  placeHolder["storyline"] = {name : "{{i18n.i_name.storyline}}", content: "{{{i18n.i_content.storyline}}}"};
  $("#name").attr("placeHolder", placeHolder["{{type}}"]["name"]);

  var simplemde = new SimpleMDE({
    element: $("#body")[0],
    showIcons: ["table"],
    hideIcons: ["quote"],
    placeholder: placeHolder["{{type}}"]["content"],
    spellChecker: false
  });

  $(document).ready(function() {
    stickToHeader();
    $.ajax({
      url: "../memo_attribute/{{diary}}",
      type: "GET",
      dataType: "json",
      success: function(grounds) {
        for (var i in grounds.rows) {
          var r = grounds.rows[i];
          var diary = r.key;
          var id = '#' + r.value['id'];
          var ground_href = r.value['id'];
          var ground_type = r.value['type'];
          var ground_label = r.value['name'];
          var ground_date = r.value['date']; // unused
          var ground_preview = r.value['preview'];      
          $(id).addClass(ground_type);
          $(id).find("h4").text(ground_label);
          $(id).find("div").text(ground_preview);
        }
        $('#groundings').find('.toggle').next().slideToggle('fast');
      }
    });
    $.ajax({
      url: "../{{diary}}",
      type: "GET",
      dataType: "json",
      success: function(d) {
        $("#diary").html(d.diary_name);
      }
    });
  });

  $(window).resize(function() {
    stickToHeader();
  });

  function stickToHeader() {
    var h = document.getElementById("header").offsetHeight;
    $("#container>#memo").css({'padding-top': h});
    $("#groundings").css({'padding-top': h});
  }

  function save(draft, toDoAfter) {
    $.ajax({
      url: "../{{_id}}",
      type: "GET",
      dataType: "json",
      success: function(data) {
        data.body = simplemde.value();
        data.name = $('#name').val();
        if (!data.history) data.history = [];
        var user = "{{peer}}";
        if ("{{logged}}") user = "{{logged}}";
        data.history.push({
          "user": user,
          "date": new Date().toJSON()
        });
        $.ajax({
          type: "PUT",
          url: "../{{_id}}",
          contentType: "application/json",
          data: JSON.stringify(data),
          error: function(request) {
            alert(
              (JSON.parse(request.responseText).reason || request.responseText)
              + '\nCode ' + request.status
            );
          },
          success: toDoAfter
        });
      }
    });
  }

  $('#diary').on('click', function() {
    self.location = '../memo/{{diary}}/?by=date';
  });

  $('#groundings').find('.toggle').click(function(){
    $(this).next().slideToggle('fast');
    $(".preview").not($(this).next()).slideUp('fast');
  });

  $('#done').on('click', function() {
    if ($('#name').val().trim() == '') {
      alert("{{i18n.i_enter_memo_name}}")
    } else {
      save(false, function() {
        self.location = '../memo/{{diary}}/{{_id}}';
      });
    }
  });

  </script>
</html>
