<html>
  <head>
    <title>{{diary_name}} - {{name}}</title>
    <link rel="icon" type="image/png" href="../../style/favicon.png" />
    <link rel="stylesheet" type="text/css" href="../../style/main.css" />
    <link rel="stylesheet" type="text/css" href="../../style/diagram.css" />
    <link rel="stylesheet" type="text/css" href="../../style/vis.min.css" />
  </head>
  <body>
    <div id="container">
      <div id="header" class="menu">
        <button type="button" id="diary">{{diary_name}}</button>
        <div id='logged'>
        {{^logged}}
          <form id="signin">
            <input type="text" name="name" placeholder="{{i18n.i_username}}"/>
            <input type="password" name="password" placeholder="{{i18n.i_password}}"/>
            <button type="submit">{{i18n.i_sign-in}}</button>
          </form>
        {{/logged}}
        {{#logged}}
          {{logged_fullname}}
          <button id="signout">{{i18n.i_sign-out}}</button>
        {{/logged}}
        </div>
      </div>
      <div id="memo">
        {{#authorized}}
        <div id="groundings">
          <legend>{{i18n.i_groundings}}</legend>
          {{#groundings}}
          <li class="{{type}}" id="{{id}}">
            <h4><a href="{{href}}">{{name}}</a></h4>
          </li>
          {{/groundings}}
          <div id="add-grounding"></div>
        </div>
        {{/authorized}}
        <div id="content">
          {{^authorized}}
          <h1>{{i18n.i_sign-in_required}}</h1>
          {{/authorized}}
          {{#authorized}}
          <div id="add-leaves">
            <button type="button" class="storyline" id="add">+</button>
          </div>
          <h1> <img src="../../style/{{type}}.png"/> {{name}} </h1>
          <input id="name" type="search" hidden="hidden" value="{{name}}"/>
          <p id="authorization">
            {{i18n.i_created-by}} {{date}}<br/>
            {{i18n.i_contributors}} <span id="contributors">{{contributors_fullnames}}</span><br/>
            {{i18n.i_readers}} <span id="readers">{{readers_fullnames}}</span>
          </p>
          <div id="graph"></div>
          <div id="comments">
            {{#comments}}
            <div class="comment" id="{{id}}" name="{{rev}}">
              <span class="meta"><span class="user">{{user}}</span> ({{date}})</span>: <br/>
              <span class="comment_text">{{text}}</span>
              <input size="80" height="50" type="text" hidden="hidden" class="comment_edit" value="{{text}}"/>
            </div>
            {{/comments}}
            <button type="button" id="comment_create">{{i18n.i_comment}}</button>
            <textarea cols="80" rows="5" type="text" hidden="hidden" placeHolder="{{i18n.i_enter_comment}}"></textarea>
            <button type="button" id="commented" hidden="hidden">{{i18n.i_done}}</button>
          </div>
          <p>&nbsp;</p>
          {{/authorized}}
        </div>
        <div id="leaves">
          <ul id="branch">
          {{#leaves}}
            <li class="{{type}}"><a href="{{href}}">{{name}}</a></li>
          {{/leaves}}
          </ul>
        </div>
      </div>
      <div id="footer" class="menu">
        <a href="https://github.com/Hypertopic/Cassandre/wiki">Cassandre</a>
      </div>
    </div>
    <div id="show-leaves" hidden="hidden"><div class="reverse">{{i18n.i_leaves}}</div></div>
    <div id="dialog" hidden="hidden">
        <select onChange="save(this);"></select>
    </div>
  </body>
  <script src="../../script/jquery.js"></script>
  <script src="../../script/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="../../script/jquery-ui.min.css" />
  <script type="text/javascript" src="../../script/vis.min.js"></script>
  <script>
  var user = "{{peer}}";
  if ("{{logged}}") user = "{{logged}}";
  $(document).ready(function() {
    if ($('#contributors').text().length < 1) {
      $('#contributors').before("{{i18n.i_everyone}}");
    }
    if ($('#readers').text().length < 1) {
      $('#readers').before("{{i18n.i_everyone}}");
    }
    if ($('#leaves li').length > 0) {
      $("#show-leaves").show();
    }
    var container = document.getElementById('graph');
    var nodes = [];
    {{#nodes}}
      var label = "{{label}}";
      var vertical = 'line-height: 90px;';
      if (label.length > 19) vertical = '';
      switch ("{{shape}}") {
        case ('box'):
          var shape = '<rect x="2" y="2" width="344" height="96" rx="20" fill="white" stroke="black" stroke-width="3" />';
          break;
        default:
          var shape = '<polygon fill="white" stroke="black" stroke-width="3"'+
            ' points="33,1   315,1  345,50'+
            '        315,99  33,99  3,50" />';
          break;
      }
      var svg = '<svg xmlns="http://www.w3.org/2000/svg" width="350" height="102">' +
        shape +
        '<foreignObject x="0" y="2" width="100%" height="100%">' +
        '<div xmlns="http://www.w3.org/1999/xhtml" style="font-size:2em; font-family: Helvetica; text-align: center; padding-right: 1em; padding-left: 1em; '+vertical+'">'+
        label+
        '</div></foreignObject></svg>';
      var image = "data:image/svg+xml;charset=utf-8,"+ encodeURIComponent(svg);
      nodes.push({
        id: "{{id}}",
        shape: 'image',
        image: image
      });
    {{/nodes}}
    var edges = [];
    {{#edges}}
      {{^dashes}}
        edges.push({
          id: "{{id}}",
          from: "{{from}}",
          to: "{{to}}",
          color: "{{color}}"
        });
      {{/dashes}}
      {{#dashes}}
        var label = wrap("{{label}}");
        edges.push({
          from: "{{from}}",
          to: "{{to}}",
          label: label,
          dashes: true
        });
      {{/dashes}}
    {{/edges}}
    var data = {
      nodes: nodes,
      edges: edges
    };
    var options = {
      nodes: {
        color: {
          border: 'black',
          background: 'white',
          highlight:{
            border: 'black',
            background: 'white'
          }
        }
      },
      interaction: {
        navigationButtons: true,
        keyboard: true
      }
    };
    var network = new vis.Network(container, data, options);
    network.on('click', function (selected) {
      if (typeof selected.nodes[0] === "undefined" && selected.edges[0].length == 32) {
        self.location = "../../diagram/{{diary}}/"+selected.edges[0];
      } else if (selected.nodes[0].length == 32) {
        self.location = "../../memo/{{diary}}/"+selected.nodes[0];
      } else {}
    });
    $('#add-grounding').html("{{i18n.i_add_groundings}}");
    $("#dialog").attr("title","{{i18n.i_groundings}}");
    $("#dialog").find('select').append($('<option>', {
      text: "{{i18n.i_select_grounding}}"
    }));
  });

  $('#add').on('click', function() {
    var contributors = "{{contributors}}";
    var readers = "{{readers}}";
    var type = $(this)[0].className; 
    var data = {
      diary: "{{diary}}",
      type: type,
      groundings: [],
      name: "",
      history: []
    };
    data.history.push({
      "user": user,
      "date": new Date().toJSON()
    });
    if (contributors.length > 0) {
      data.contributors = contributors.split(',');
    } else if ("{{logged}}") {
      data.contributors = ["{{logged}}"];
    }
    if (readers.length > 0) {
      data.readers = readers.split(',');
    }
    data.groundings.push("{{_id}}");
    if (diary) {
      $.ajax({
        url: "../../",
        type: "POST",
        dataType: "json",
        contentType: "application/json",
        data: JSON.stringify(data),
        success: function(data) {
          self.location = '../../editable_memo/'+data.id;
        }
      });
    }
  });

  $('#groundings').find('.toggle').click(function(){
    $(this).next().slideToggle('fast');
    $(".preview").not($(this).next()).slideUp('fast');
  });

  $("#show-leaves").click(function () {
    var option = { direction: 'left' };
    $('#leaves').toggle('fold');
  });

  $('#diary').on('click', function() {
    self.location = '../../memo/{{diary}}/?by=date';
  });

  $('#add-grounding').on('click', function() {
    $.ajax({
      url: "../../memo_attribute/{{diary}}",
      type: "GET",
      dataType: "json",
        success: function(grounds) {
        for (var i in grounds.rows) {
          var r = grounds.rows[i];
          var id = r.value['id'];
          var ground_type = r.value['type'];
          var ground_label = r.value['name'];
          if(document.getElementById(id) == null && id != "{{_id}}" && ground_type == 'diagram') {
            $("#dialog").find('select').append($('<option>', {
              id: id,
              value: id,
              text: ground_label
            }));
          };
        }
      }
    });
    $("#dialog").dialog({
      autoOpen: true,
      modal: true,
      autoResize: true,
      width:'auto'
    });
  });

  var reload = function() {
    location.reload();
  };

  $('#signin').on('submit', function(e) {
    e.preventDefault();
    $(this).find('input').first().val($(this).find('input').first().val().toLowerCase());
    $.post('/_session', $(this).serialize(), reload);
  });

  $('#signout').on('click', function() {
    $.ajax({
      type: 'DELETE',
      url: '/_session',
      success: reload
    });
  });

  $('h1').on('click', function() {
    $(this).hide();
    $('#name').show();
  });

  $('#name').on('keypress', function(key) {
    if (key.which == 13) {
      var name = $('#name').val().trim();
      $.ajax({
        url: "../../{{_id}}",
        type: "GET",
        dataType: "json",
        success: function(data) {
          data.name = name;
          if (!data.history) data.history = [];
          data.history.push({
            "user": user,
            "date": new Date().toJSON()
          });
          $.ajax({
            type: "PUT",
            url: "../../{{_id}}",
            contentType: "application/json",
            data: JSON.stringify(data),
            error: function(request) {
              alert(
                (JSON.parse(request.responseText).reason || request.responseText)
                + '\nCode ' + request.status
              );
            },
            success: reload
          });
        }
      });
    }
  });

  $("#comment_create").click(function () {
    $("#comment_create").remove();
    $("#comments").find('textarea').show();
    $('#commented').show();
    var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
    scroll(0, scrollTop+80);
  });

  $("#commented").on('click', function() {
    if ($('#comments').find('textarea').val().trim() == '') {
      alert("{{i18n.i_enter_comment}}")
    } else {
      comment();
    }
  });

  $(".comment").click(function () {
    var user = $(this).find('.user').text();
    if ("{{logged_fullname}}" == user) {
      $(this).find('.comment_text').hide();
      $(this).find('.comment_edit').show();
      $("#comment_create").remove();
      $('#commented').remove();
    }
  });

  $(".comment_edit").on('keypress', function(key) {
    if (key.which == 13) {
      var data = {
        commented: "{{_id}}",
        diary: "{{diary}}",
        user: user,
        date: new Date().toJSON(),
        text: $(this).val().trim()
      };
      $.ajax({
        type: "PUT",
        url: '../../'+ $(this).closest('.comment').attr('id') + "?rev=" + $(this).closest('.comment').attr('name'),
        contentType: "application/json",
        data: JSON.stringify(data),
        success: reload
      });
    }
  });

  function comment() {
    var data = {
      commented: "{{_id}}",
      diary: "{{diary}}",
      user: user,
      date: new Date().toJSON(),
      text: $('#comments').find('textarea').val().trim()
    };
    $.ajax({
      type: "POST",
      url: "../../",
      contentType: "application/json",
      data: JSON.stringify(data),
      error: function(request) {
        alert(
          (JSON.parse(request.responseText).reason || request.responseText)
          + '\nCode ' + request.status
        );
      },
      success: reload
    });
  }

  function wrap(t) {
    t = t.trim().replace(/&#39;/g, '\'').replace(/&quot;/g, '"');
    return t.substring(0, 12)+t.substring(12, 30).replace(/\s/,"\n")+t.substring(30, 50).replace(/\s/,"\n");
  }

  function save(there) {
    $.ajax({
      url: "../../"+there.value,
      type: "GET",
      dataType: "json",
      error: function(request) {
        alert(
          (JSON.parse(request.responseText).reason || request.responseText)
          + '\nCode ' + request.status
        );
      },
      success: function(added) {
        $.ajax({
          url: "../../{{_id}}",
          type: "GET",
          dataType: "json",
          success: function(data) {
            var nodeids = data.nodes.map(function(a) {return a.id;});
            if (data.groundings.indexOf(there.value) == -1) data.groundings.push(there.value);
            switch (added.link) {
              case ('pp'):
              case ('ipp'):
                if(nodeids.indexOf(added.groundings[0]) == -1) data.nodes.push({id: added.groundings[0], shape: 'box'});
                if(nodeids.indexOf(added.groundings[1]) == -1) data.nodes.push({id: added.groundings[1], shape: 'box'});
                break;
              case ('dd'):
              case ('idd'):
                if(nodeids.indexOf(added.groundings[0]) == -1) data.nodes.push({id: added.groundings[0], shape: 'diamond'});
                if(nodeids.indexOf(added.groundings[1]) == -1) data.nodes.push({id: added.groundings[1], shape: 'diamond'});
                break;
              case ('dp'):
                if(nodeids.indexOf(added.groundings[0]) == -1) data.nodes.push({id: added.groundings[0], shape: 'box'});
                if(nodeids.indexOf(added.groundings[1]) == -1) data.nodes.push({id: added.groundings[1], shape: 'diamond'});
                break;
            }
            data.history.push({
              "user": user,
              "date": new Date().toJSON()
            });
            $.ajax({
              type: "PUT",
              url: "../../{{_id}}",
              contentType: "application/json",
              data: JSON.stringify(data),
              error: function(request) {
                alert(
                  (JSON.parse(request.responseText).reason || request.responseText)
                  + '\nCode ' + request.status
                );
              },
              success: function() {
                location.replace("{{_id}}")
              }
            });
          }
        });
      }
    });
  }
  </script>
</html>
