<!doctype html>
<html>
  <head>
    {{>links}}
  </head>
  <body id="watermark">
    <div id="container" class='container-fluid h-100'>
      <div id="content" class="h-100 d-flex justify-content-center align-items-center" style="height:100px;">
        <div><h1><a href="memo/">{{i18n.i_diary}}</a></h1></div>
      </div>
      <nav id="footer" class="{{>navbarstyle}} fixed-bottom">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="https://github.com/Hypertopic/Cassandre/wiki">Cassandre</a></li>
        </ul>
      </nav>
    </div>
  </body>
</html>
