<html>
  <head>
    <link rel="icon" type="image/png" href="style/favicon.png" />
    <link rel="stylesheet" type="text/css" href="style/main.css" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  </head>
  <body id="watermark">
    <div id="container">
      <div id="content">
        <div id="center"><h1><a href="text/">Texts Qualitative Analysis</a></h1></div>
      </div>
      <div id="footer">
        <a href="http://cassandre-qda.sourceforge.net/about.html">Cassandre</a> &nbsp;
      </div>
    </div>
  </body>
</html>
