<html>
  <head>
    <link rel="icon" type="image/png" href="../../style/favicon.png" />
    <link rel="stylesheet" type="text/css" href="../../style/main.css" />
  </head>
  <body id="watermark">
    <div id="container">
      <div id="header" class="menu">
        <button type="button" id="corpus">{{corpus}}</button>
        <input id="kwic" type="search" placeholder="{{i18n.i_search}}" />
      </div>
      <div id="content">
        <h1>{{i18n.i_kwic}}</h1>
        <h2>{{i18n.i_occurrences}}: {{pattern}}</h2>
        {{#occurrences}}
        <div class="occurrence" data-text="{{id}}">
          <div class="context">{{context}}</div>
          <div>[<a href="../../text/{{corpus}}/{{id}}">{{title}}</a>]</div>
        </div>
        {{/occurrences}}
      </div>
      <div id="footer" class="menu">
        <input type="button" id="new_pattern" value="{{i18n.i_new_pattern}}" />
        <a href="https://github.com/Hypertopic/Cassandre/wiki">Cassandre</a>
      </div>
    </div>
  </body>
  <script src="../../script/jquery.js"></script>
  <script> 

  $('#corpus').on('click', function(){
    self.location = '../../text/{{corpus}}/?by=name';
  });

  function getUUID() {
    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
      var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8);
      return v.toString(16);
    });
  }

  $('#new_pattern').on('click',function(){
    var text_id = $('.occurrence').data('text');
    $.ajax({
      url: "../../" + text_id,
      type: "GET",
      dataType: "json",
      success: function(text) {
        if (!text.highlights) {
          text.highlights = {};
        }
        text.highlights[getUUID()] = {
          text: "{{pattern}}"
        }
        $.ajax({
          url: "../../" + text_id,
          type: "PUT",
          contentType: "application/json",
          data: JSON.stringify(text),
          success: self.location = "../../kwic/{{corpus}}"
        });
      }
    });
  });

  String.prototype.trimLeft = String.prototype.trimLeft || function() {
    return this.replace(/^\s+/,'');
  };

  $('#content').on('mouseup', function() {
    $('#kwic').val(
      document.getSelection().toString().trimLeft()
    );
  });

  $('#kwic').on('keypress', function(key) {
    if (key.which == 13) {
      self.location = $('#kwic').val().toLowerCase();
    }
  });

  </script> 
</html>
