<html>
  <head>
    <link rel="icon" type="image/png" href="../style/favicon.png" />
    <link rel="stylesheet" type="text/css" href="../style/main.css" />
  </head>
  <body id="watermark">
    <div id="container">
      <div id="content">
        <h1>Kwic</h1>
        <ul>
          {{#kwics}}
          <li>
            <a href='../kwic/{{corpus}}/{{kwic}}' >{{kwic}}</a>
          </li>
          {{/kwics}}
        </ul>
      </div>
      <div id="footer">
        <a href="http://cassandre-qda.sourceforge.net/about.html">Cassandre</a> &nbsp;
      </div>
    </div>
  </body>
</html>

