<!doctype html>
<html>
  <head>
    <title>{{i18n.i_kwic}} - {{pattern}}</title>
    {{>links}}
  </head>
  <body id="watermark">
    <nav id="header" class="{{>navbarstyle}} navbar-expand bd-navbar fixed-top">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" id="corpus">&nbsp;</a></li>
      </ul>
      <div class="form-inline justify-content-between">
        <div class="input-group input-group-sm">
          <input id="kwic" type="search" class="form-control" placeholder="{{i18n.i_search}}" />
          <div class="input-group-append">
            <span class="input-group-text kwic search">?</span>
          </div>
        </div>
      </div>
    </nav>
    <div id="container" class='container-fluid'>
      <div id="content" class="row">
        <h1>{{i18n.i_kwic}}</h1>
        <h2>{{i18n.i_occurrences}}: {{pattern}}</h2>
        {{#occurrences}}
        <div class="occurrence" data-text="{{id}}">
          <div class="context">{{context}}</div>
          <div>[<a href="../../memo/{{corpus}}/{{id}}">{{title}}</a>]</div>
        </div>
        {{/occurrences}}
      </div>
      <nav id="footer" class="{{>navbarstyle}} fixed-bottom">
        <input type="button" id="new_pattern" class='btn btn-outline-light btn-sm' value="{{i18n.i_new_pattern}}" />
        <a class='navbar-text' href="https://github.com/Hypertopic/Cassandre/wiki">Cassandre</a>
      </nav>
    </div>
  <script src="../../script/jquery.js"></script>
  <script> 
  $(document).ready(function() {
    $.ajax({
      url: "../../{{corpus}}",
      type: "GET",
      dataType: "json",
      success: function(d) {
        $("#corpus").html(d.diary_name);
      }
    });
    stickToHeader();
  });

  $('#corpus').on('click', function(){
    self.location = '../../memo/{{corpus}}/?by=date';
  });

  function getUUID() {
    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
      var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8);
      return v.toString(16);
    });
  }

  $('#new_pattern').on('click',function(){
    var text_id = $('.occurrence').data('text');
    $.ajax({
      url: "../../" + text_id,
      type: "GET",
      dataType: "json",
      success: function(text) {
        if (!text.highlights) {
          text.highlights = {};
        }
        text.highlights[getUUID()] = {
          text: "{{pattern}}"
        }
        $.ajax({
          url: "../../" + text_id,
          type: "PUT",
          contentType: "application/json",
          data: JSON.stringify(text),
          success: function() {
            self.location = '../../kwic/{{corpus}}'
          },
          error: function(request) {
            alert(
              (JSON.parse(request.responseText).reason || request.responseText)
              + '\nCode ' + request.status
            );
          }
        });
      }
    });
  });

  String.prototype.trimLeft = String.prototype.trimLeft || function() {
    return this.replace(/^\s+/,'');
  };

  $('#content').on('mouseup', function() {
    $('#kwic').val(
      document.getSelection().toString().trimLeft()
    );
  });

  $('.search').on('click', function() {
    if ($('#kwic').val().length > 0) {
      self.location = $('#kwic').val().toLowerCase();
    }
  });

  $('#kwic').on('keypress', function(key) {
    if (key.which == 13) {
      self.location = $('#kwic').val().toLowerCase();
    }
  });

  {{>layoutscript}}
  </script>
  </body>
</html>
