<html>
  <head>
    <title>{{diary_name}} - {{name}}</title>
    <link rel="icon" type="image/png" href="../../style/favicon.png" />
    <link rel="stylesheet" type="text/css" href="../../style/main.css" />
  </head>
  <body>
    <div id="container">
      <div id="header" class="menu">
        <button type="button" id="diary">{{diary_name}}</button>
        {{#authorized}}
        <button type='button' id='clear_highlights' hidden="hidden">{{i18n.i_raw}}</button>
        <button type='button' id='specific' class='highlight_words'
          disabled='disabled' hidden="hidden">{{i18n.i_specific}}</button>
        <button type='button' id='rare' class='highlight_words'
          disabled='disabled' hidden="hidden">{{i18n.i_rare}}</button>
        <button type='button' id='repeated' disabled='disabled' hidden="hidden">
          {{i18n.i_phrases}}</button>
        <input id='kwic' type='search' placeholder='{{i18n.i_search}}' hidden="hidden"/>
        {{/authorized}}
        <div id='logged'>
        {{^logged}}
          <form id="signin">
            <input type="text" name="name" placeholder="username"/>
            <input type="password" name="password" placeholder="password"/>
            <button type="submit">{{i18n.i_sign-in}}</button>
          </form>
        {{/logged}}
        {{#logged}}
          {{logged_fullname}}
          <button id="signout">{{i18n.i_sign-out}}</button>
        {{/logged}}
        </div>
      </div>
      <div id="memo">
        {{#authorized}}
        <div id="groundings">
          <legend>{{i18n.i_groundings}}</legend>                   
          {{#groundings}}
          <li class="{{type}}" id="{{id}}">
            <h4 class="toggle">{{name}}</h4>
            <div class="preview">{{preview}} <a href="{{href}}">-></a></div>
          </li>            
          {{/groundings}}
          <div id="add-grounding">{{i18n.i_add_groundings}}</div>
        </div>
        {{/authorized}}
        <div id="content">
          {{^authorized}}
          <h1>{{i18n.i_sign-in_required}}</h1>
          {{/authorized}}
          {{#authorized}}
          <div id="add-leaves"><button type="button" id="add">+</button>
            <button id="create" class="diagram" type="button" hidden="hidden">+</button>
          </div>
          <h1><img src="../../style/{{type}}.png"/><span id="name">{{name}}</span></h1>
          <p id="authorization">
            {{i18n.i_created}} {{date}}<br/>
            {{i18n.i_contributors}} <span id="contributors">{{contributors_fullnames}}</span>
            <button type="button" id="contributors_add">+</button>
            <input id="contributors_edit" type="search" hidden="hidden" /><br/>
            {{i18n.i_readers}} <span id="readers">{{readers_fullnames}}</span>
            <button type="button" id="readers_add">...</button>
            <input id="readers_edit" type="search" hidden="hidden" /><br/>
          </p>
          <div class="speeches">
          {{#body}}
          <div class="speeches-row">
            <div class="actor">
            {{#actor}}
            {{actor}}
            {{/actor}}
            </div>
            <div class="writing">
              {{#timestamp}}
              <div class="timestamp">{{timestamp}}</div>
              {{/timestamp}}
              <div class="post">
                {{#words}}<font>{{.}}</font>{{/words}}
                {{#text}}{{text}}{{/text}}
              </div>
            </div>
          </div>
          {{/body}}
          </div>
          <div id="comments">
            {{#comments}}
            <div class="comment"><span class="meta">{{user}} ({{date}})</span>: <br/>{{text}}</div>
            {{/comments}}
            <button type="button" id="comment">{{i18n.i_comment}}</button>
            <textarea cols="80" rows="5" type="text" hidden="hidden" placeHolder="{{i18n.i_enter_comment}}"></textarea>
            <button type="button" id="commented" hidden="hidden">{{i18n.i_done}}</button>
          </div>
        {{/authorized}}
        </div>
        <div id="leaves">
          <ul id="branch">
          {{#leaves}}
            <li class="{{type}}"><a href="{{href}}">{{name}}</a></li>
          {{/leaves}}
          </ul>
        </div>
      </div>
      <div id="footer" class="menu">
        {{#authorized}}
        <button type="button" id="edit">{{i18n.i_edit}}</button>
        {{/authorized}}
        <a href="https://github.com/Hypertopic/Cassandre/wiki">Cassandre</a>
      </div>
    </div>
    <div id="show-leaves"><div class="reverse">{{i18n.i_leaves}}</div></div>
    <div id="dialog" title="{{i18n.i_groundings}}" hidden="hidden">
        <select onChange="record(this);"><option>{{i18n.i_select_grounding}}</option></select>
    </div>
  </body>
  <script src="../../script/jquery.js"></script>
  <script src="../../script/showdown.min.js"></script>
  <script src="../../script/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="../../script/jquery-ui.min.css" />
  <script>

  var metrics = {};
  var trigrams = {};
  var user = "{{peer}}";
  if ("{{logged}}") user = "{{logged}}";

  $(document).ready(function() {
    switch ('{{type}}') {
      case ('field'):
        $('#add').addClass('coding');
        $('#clear_highlights').show();
        $('#specific').show();
        $('#rare').show();
        $('#repeated').show();
        $('#kwic').show();
        $('.writing').removeClass('writing').addClass('words');
        break;
      case ('coding'):
        $('#add').addClass('theoretical');
        $('#create').show();
        break;
      case ('theoretical'):
        $('#add').addClass('operational');
        break;
      case ('operational'):
        $('#add').addClass('field');
        break;
      case ('diagram'):
        $('#add').addClass('diagram');
        break;
      case ('storyline'):
        $('#add').addClass('storyline');
        break;
    }
    if ($('#contributors').text().length < 1) {
      $('#contributors').before("{{i18n.i_everyone}}");
    }
    if ($('#readers').text().length < 1) {
      $('#readers').before("{{i18n.i_everyone}}");
    }
    var converter = new showdown.Converter({
      tables: 'true',
      tasklists: 'true',
      strikethrough: 'true'
    });
    $('.post').html(function(i, text) {
      return converter.makeHtml(text.trim());
    });
    if ($('#leaves li').length < 1) {
      $("#show-leaves").remove();
    }
    if ($('#groundings li').length < 1) {
      $("#groundings").find('legend').remove();
      $("#groundings").css({
         'height': '36px',
         'line-height': '36px',
         'position': 'fixed',
         'top': '0px',
         'padding-top': '36px',
         'padding-left': '5px',
         'padding-right': '5px',
         'width': '200px',
         'height': 'auto',
         'transform': 'rotate(90deg)',
         'transform-origin': 'bottom left 0',
      });
      $("#add-grounding").css({
         'bottom': 'auto',
         'top': '0px',
         'width': 'auto',
         'transform': 'rotate(180deg)',
         'transform-origin': 'center center 0',
      });

      $("#content").css({
         'padding-left': '40px'
      });
      $("#comments").css({
         'margin-left': '40px',
      });
    }
    if ("{{type}}" === 'field') {
      $.ajax({
        url: "../../corpus_words/{{diary}}",
        type: "GET",
        dataType: "json",
        success: function(lexcorpus) {
          var corpus = {};
          for (var i in lexcorpus.rows) {
            var c = lexcorpus.rows[i];
            corpus[c.key[1]] = c.value;
          }
          $.ajax({
            url: "../../text_words/{{_id}}",
            type: "GET",
            dataType: "json",
            success: function(lexdoc) {
              var max_specific = 0;
              for (var j in lexdoc.rows) {
                var d = lexdoc.rows[j];
                var word = d.key[1];
                var inCorpus = corpus[word];
                metrics[word] = {
                  rare: 1/inCorpus.sum,
                  specific: Math.sqrt(d.value)/inCorpus.count,
                };
                max_specific = Math.max(max_specific, metrics[word].specific);
              }
              for (var k in metrics) {
                var m = metrics[k];
                m.specific /= max_specific;
              }
              $('#rare').removeAttr('disabled');
              $('#specific').removeAttr('disabled');
            }
          });
        }
      });
      $.ajax({
        url: "../../phrase/{{diary}}",
        type: "GET",
        dataType: "json",
        success: function(phrases) {
          for (var l in phrases.rows) {
            var r = phrases.rows[l];
            trigrams[[r.key[1], r.key[2], r.key[3]]] = r.value;
          }
          $('#repeated').removeAttr('disabled');
        }
      });
    }
  });

  var reload = function() {
    location.reload();
  };

  $('#signin').on('submit', function(e) {
    e.preventDefault();
    $.post('/_session', $(this).serialize(), reload);
  });

  $('#signout').on('click', function() {
    $.ajax({
      type: 'DELETE',
      url: '/_session',
      success: reload
    });
  });

  $('#contributors_add').on('click', function() {
    $('#contributors_add').hide();
    $('#contributors_edit').show();
  });

  $('#contributors_edit').on('keypress', function(key) {
    if (key.which == 13) {
      record('contributors');
    }
  });

  $('#readers_add').on('click', function() {
    $('#readers_add').hide();
    $('#readers_edit').show();
  });

  $('#readers_edit').on('keypress', function(key) {
    if (key.which == 13) {
      record('readers');
    }
  });

  $('#groundings').find('.toggle').click(function(){
    $(this).next().slideToggle('fast');
    $(".preview").not($(this).next()).slideUp('fast');
  });

  $("#show-leaves").click(function () {
    var option = { direction: 'left' };
    $('#leaves').toggle('fold');
  });

  $('#diary').on('click', function() {
    self.location = '../{{diary}}/?by=name';
  });

  $('#edit').on('click', function() {
    if ('{{type}}' == 'field') { self.location = '../../editable_text/{{_id}}';} 
    else { self.location = '../../editable_memo/{{_id}}';}
  });

  $('#add').on('click', function() {
    var type = $(this)[0].className;
    create(type);
  });

  $('#create').on('click', function() {
    var type = $(this)[0].className;
    create(type);
  });

  $('#add-grounding').on('click', function() {
    $("#dialog").dialog({
      autoOpen: true,
      modal: true,
      autoResize: true,
      width:'auto'
    });
  });

  $("#comment").click(function () {
    $("#comment").remove();
    $("#comments").find('textarea').show();
    $('#commented').show();
  });

  $("#commented").on('click', function() {
    if ($('#comments').find('textarea').val().trim() == '') {
      alert("{{i18n.i_enter_comment}}")
    } else {
      comment();
    }
  });

  function create(type) {
    var diary = "{{diary}}";
    var contributors = "{{contributors}}";
    var data = {
      groundings: [],
      history : []
    };
    data.history.push({
      "user": user,
      "date": new Date().toJSON()
    });
    if (contributors.length > 0) {
      data.contributors = contributors.split(',');
    } else if ("{{logged}}") {
      data.contributors = ["{{logged}}"];
    }
    var readers = "{{readers}}";
    if (readers.length > 0) {
      data.readers = readers.split(',');
    }
    switch (type) {
      case 'field':
        var destination = '../../editable_text/';
        data.corpus = diary,
        data.name = "",
        data.speeches = [{actor:"",text:""}];
        break;
      case 'diagram':
        var destination = "../../diagram/{{diary}}/";
        data.diary = diary;
        data.link = 'pp';
        data.name = $('#name').text();
        data.type = type;
        break;
      default:
        var destination = '../../editable_memo/';
        data.diary = diary,
        data.body = "";
        data.name = "",
        data.type = type;
    }
    data.groundings.push("{{_id}}");
    if (diary) {
      $.ajax({
        url: "../../",
        type: "POST",
        dataType: "json",
        contentType: "application/json",
        data: JSON.stringify(data),
        success: function(data) {
          self.location = destination+data.id;
        }
      });
    }
  }

  function comment() {
    var data = {
      commented: "{{_id}}",
      user: user,
      date: new Date().toJSON(),
      text: $('#comments').find('textarea').val().trim()
    };
    $.ajax({
      type: "POST",
      url: "../../",
      contentType: "application/json",
      data: JSON.stringify(data),
      error: function(request) {
        alert(
          (JSON.parse(request.responseText).reason || request.responseText)
          + '\nCode ' + request.status
        );
      },
      success: reload
    });
  }

  function record(toAdd) {
    $.ajax({
      url: "../../{{_id}}",
      type: "GET",
      dataType: "json",
      success: function(data) {
        switch(toAdd) {
          case ('contributors'):
            var newcontributor = $('#contributors_edit').val().trim().toLowerCase();
            if (!data.contributors) data.contributors = [];
            data.contributors.push(newcontributor);
          break;
          case ('readers'):
            var newreader = $('#readers_edit').val().trim().toLowerCase();
            if (!data.readers) data.readers = [];
            data.readers.push(newreader);
          break;
          default:
            data.groundings.push(toAdd.value);
        }
        $.ajax({
          type: "PUT",
          url: "../../{{_id}}",
          contentType: "application/json",
          data: JSON.stringify(data),
          error: function(request) {
            alert(
              (JSON.parse(request.responseText).reason || request.responseText)
              + '\nCode ' + request.status
            );
          },
          success: reload
        });
      }
    });
  }

  function toColor(metrics) {
    var grayLevel = Math.floor(255*(1-metrics)).toString(16);
    return '#' + grayLevel + grayLevel + grayLevel;
  }

  $('#clear_highlights').on('click', function() {
    $('font').each(function() {
      $(this).removeAttr('color');
    });
  });

  $('.highlight_words').on('click', function() {
    var type = this.id;
    $('font').each(function() {
      $(this).attr('color', toColor(wordMetrics(metrics, $.trim($(this).text()), type)));
    });
  });

  $('#repeated').on('click', function() {
    var words = [];
    $('font').each(function(i) {
      words[i] = {text: $.trim($(this).text()).toLowerCase()};
    });
    words[0].count = 0;
    words[1].count = 0;
    var max = 0;
    for (w=0; w<words.length-2; w++) {
      var nb = trigrams[[words[w].text, words[w+1].text, words[w+2].text]];
      if (!nb) nb = 1;
      words[w].count = Math.max(words[w].count, nb);
      words[w+1].count = Math.max(words[w+1].count, nb);
      words[w+2].count = nb;
      max = Math.max(max, words[w].count);
    }
    $('font').each(function(i) {
      $(this).attr('color', toColor(words[i].count/max));
    });
  });

  function wordMetrics(metrics, word, type) {
    var w = metrics[word.toLowerCase()];
    return (w)?w[type]:.05;
  }

  String.prototype.trimLeft = String.prototype.trimLeft || function() {
    return this.replace(/^\s+/,'');
  };

  $('#content').on('mouseup', function() {
    $('#kwic').val(
      document.getSelection().toString().trimLeft()
    );
  });

  $('#kwic').on('keypress', function(key) {
    if (key.which == 13) {
      self.location = '../../kwic/{{diary}}/' + $('#kwic').val().toLowerCase();
    }
  });

  </script>
</html>
