<!doctype html>
<html>
  <head>
    <title>{{diary_name}} - {{name}}</title>
    {{>links}}
  </head>
  <body>
    <nav id="header" class="navbar navbar-expand bd-navbar fixed-top navbar-light bg-light">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" id="diary">{{diary_name}}</a></li>
        {{#authorized}}
        <div id='lexical' class="btn-group hidden" role="group">
          <li class="nav-item"><a class="nav-link"  id='clear_highlights'>{{i18n.i_raw}}</a></li>
          <li class="nav-item"><a class="nav-link highlight_words" id='specific'
            disabled>{{i18n.i_specific}}</a></li>
          <li class="nav-item"><a class="nav-link highlight_words" id='rare'
            disabled>{{i18n.i_rare}}</a></li>
          <li class="nav-item"><a class="nav-link"  id='repeated' disabled>
            {{i18n.i_phrases}}</a></li>
        </div>
        <form class="form-inline input-group-sm">
          <input id='kwic' class="form-control input-sm hidden" type='search' placeholder='{{i18n.i_search}}'/>
        </form>
        {{/authorized}}
      </ul>
      {{>log}}
    </nav>
    <div id="container" class='container-fluid h-100'>
      <div id="memo" class='row h-100'>
        {{#authorized}}
        <div class="col-md-3" id='groundings'>
          <legend>{{i18n.i_groundings}}</legend>
          {{#groundings}}
          <li class="{{type}}" id="{{id}}">
            <a href="{{href}}">{{name}}</a> <span class="toggle dropdown-toggle"> </span>
            <div class="preview">{{preview}}</div>
          </li>
          {{/groundings}}
        </div>
        {{/authorized}}
        <main class="col" id="content">
        {{^authorized}}
          <h1 id="name">{{i18n.i_sign-in_required}}</h1>
        {{/authorized}}
        {{#authorized}}
          <div id="add-leaves">
            <input id="leave-name" type="search" placeholder="" class="hidden" />
            <button type="button" id="add" class="hidden">+</button>
            <button id="create" type="button" class="hidden">&nbsp;</button>
            <button id="create-table" class="table hidden" type="button">+</button>
          </div>
          <h1><img src="../../style/{{type}}.svg"/> {{name}}</h1>
          <input id="name" type="search" class="form-control hidden" value="{{name}}"/>
          {{>rights}}
          <div class="speeches">
          {{#body}}
          <div class="speeches-row">
            <div class="actor">
            {{#actor}}
            {{actor}}
            {{/actor}}
            </div>
            <div class="writing">
              {{#timestamp}}
              <div class="timestamp">{{timestamp}}</div>
              {{/timestamp}}
              <div class="post">
                {{#words}}<font>{{.}}</font>{{/words}}
                {{#text}}{{text}}{{/text}}
              </div>
            </div>
          </div>
          {{/body}}
          </div>
          {{>comments}}
        {{/authorized}}
        </main>
        <div class="col" id="leaves">
          <ul id="branch">
          {{#leaves}}
            <li class="{{type}}"><a href="{{href}}">{{name}}</a></li>
          {{/leaves}}
          </ul>
        </div>
      </div>
      <nav id="footer" class="navbar fixed-bottom navbar-light bg-light">
        {{#authorized}}
        <div role="group">
          <button class='btn btn-sm' data-toggle="modal" data-target="#add_grounding"><span>{{i18n.i_add_groundings}}</span></button>
          <button class='btn btn-sm hidden' data-toggle="modal" data-target="#remove_grounding" id="remove_grounding_btn">{{i18n.i_remove_grounding}}</button>
          <button class='btn btn-sm' id="edit">{{i18n.i_edit}}</button>
          <button class='btn btn-sm' id="comment_create">{{i18n.i_comment}}</button>
        </div>
        {{/authorized}}
        <a class='navbar-text' href="https://github.com/Hypertopic/Cassandre/wiki">Cassandre</a>
      </nav>
    </div>
    <div id="show-leaves" class="hidden"><div class="reverse">{{i18n.i_leaves}}</div></div>
    <div id="add_grounding" class="modal fade" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">{{i18n.i_add_groundings}}</div>
          <div class="modal-body">
            <select onChange="record('add_grounding', this.value);"><option>{{i18n.i_select_grounding}}</option></select>
          </div>
        </div>
      </div>
    </div>
    <div id="remove_grounding" class="modal fade" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">{{i18n.i_remove_grounding}}</div>
          <div class="modal-body">
            <select onChange="record('remove_grounding', this.value);"><option>{{i18n.i_select_grounding}}</option></select>
          </div>
        </div>
      </div>
    </div>
    <div id="modify_rights_dialog" class="modal fade" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">{{i18n.i_modify_rights}}</div>
          <div class="modal-body">
            <table><tr><th>{{i18n.i_contributors}}</th><th>{{i18n.i_readers}}</th></tr><tr><td>
              <input id="add_contributor" type="search" placeholder="{{i18n.i_add_contributor}}"/><br/>
              <p>{{i18n.i_editable-by}}</p>
              <div class="contributors">
              {{#contributors_fullnames}}
                <p>{{.}}<button class='remove_contributor' value='{{.}}'>x</button></p>
              {{/contributors_fullnames}}
              </div>
            </td><td>
              <input id="add_reader" type="search" placeholder="{{i18n.i_add_reader}}"/><br/>
              <p>{{i18n.i_readable-by}}</p>
              <div class="readers">
              {{#readers_fullnames}}
                <p>{{.}}<button class='remove_reader' value='{{.}}'>x</button></p>
              {{/readers_fullnames}}
              </div>
            </td></tr></table>
          </div>
        </div>
      </div>
    </div>
  </body>
  {{>script}}
  <script src="../../script/showdown.min.js"></script>
  <script>
  var metrics = {};
  var trigrams = {};
  $(document).ready(function() {
    if ({{draft}}) self.location = "../../editable_text/{{_id}}";
    {{>render}}
    moment.locale('{{locale}}');
    var moments = $('.moment');
    moments.each(function() {
      var now = moment();
      var jstime = $(this).text();
      var mmtime = moment(jstime);
      if(now.diff(mmtime, 'days') <= 2) {
        $(this).text(mmtime.fromNow());
      } else if(now.diff(mmtime, 'years') <= 1) {
        $(this).text("{{i18n.i_on-a-date}}"+' '+mmtime.format("Do MMMM"));
      } else {
        $(this).text("{{i18n.i_on-a-date}}"+' '+mmtime.format("Do MMMM YYYY"));
      }
    });
    switch ('{{type}}') {
      case ('field'):
        $("#name").attr("placeHolder", "{{i18n.i_name.field}}");
        $('#add').addClass('coding');
        $("#leave-name").attr("placeHolder", "{{i18n.i_name.coding}}");
        break;
      case ('transcript'):
        $("#name").attr("placeHolder", "{{{i18n.i_name.transcript}}}");
        $('#add').addClass('coding');
        $("#leave-name").attr("placeHolder", "{{i18n.i_name.coding}}");
        $('#lexical').removeClass('hidden');
        $('#kwic').removeClass('hidden');
        $('.writing').removeClass('writing').addClass('words');
        break;
      case ('coding'):
        $("#name").attr("placeHolder", "{{i18n.i_name.coding}}");
        $('#add').addClass('theoretical');
        $("#leave-name").attr("placeHolder", "{{i18n.i_name.theoretical}}");
        if ($('#name').val().length > 0) {
          $('#create').removeClass('hidden');
          $('#create').addClass('diagram');
          $('#create-table').removeClass('hidden');
        }
        break;
      case ('theoretical'):
        $("#name").attr("placeHolder", "{{i18n.i_name.theoretical}}");
        $('#add').addClass('operational');
        $("#leave-name").attr("placeHolder", "{{i18n.i_name.operational}}");
        break;
      case ('operational'):
        $("#name").attr("placeHolder", "{{i18n.i_name.operational}}");
        $('#add').addClass('field');
        $('#create').addClass('transcript');
        $('#create').removeClass('hidden');
        $("#leave-name").attr("placeHolder", "{{i18n.i_name.field}}");
        break;
      case ('diagram'):
        self.location = "../../diagram/{{diary}}/{{_id}}";
        break;
      case ('graph'):
        self.location = "../../graph/{{diary}}/{{_id}}";
        break;
      case ('storyline'):
        $("#name").attr("placeHolder", "{{i18n.i_name.storyline}}");
        $('#add').addClass('storyline');
        $("#leave-name").attr("placeHolder", "{{i18n.i_name.storyline}}");
        break;
    }
    var converter = new showdown.Converter({
      tables: 'true',
      tasklists: 'true',
      strikethrough: 'true'
    });
    $('.post').html(function(i, text) {
      return converter.makeHtml(text.trim());
    });
    if ($('#groundings li').length == 1) $("#groundings").find('legend').text("{{i18n.i_grounding}}");
    if ($('#groundings li').length < 1) $("#groundings").addClass('hidden');
    if ("{{type}}" === 'transcript') {
      $.ajax({
        url: "../../corpus_words/{{diary}}",
        type: "GET",
        dataType: "json",
        success: function(lexcorpus) {
          var corpus = {};
          for (var i in lexcorpus.rows) {
            var c = lexcorpus.rows[i];
            corpus[c.key[1]] = c.value;
          }
          $.ajax({
            url: "../../text_words/{{_id}}",
            type: "GET",
            dataType: "json",
            success: function(lexdoc) {
              var max_specific = 0;
              for (var j in lexdoc.rows) {
                var d = lexdoc.rows[j];
                var word = d.key[1];
                var inCorpus = corpus[word];
                metrics[word] = {
                  rare: 1/inCorpus.sum,
                  specific: Math.sqrt(d.value)/inCorpus.count,
                };
                max_specific = Math.max(max_specific, metrics[word].specific);
              }
              for (var k in metrics) {
                var m = metrics[k];
                m.specific /= max_specific;
              }
              $('#rare').removeAttr('disabled');
              $('#specific').removeAttr('disabled');
            }
          });
        }
      });
      $.ajax({
        url: "../../phrase/{{diary}}",
        type: "GET",
        dataType: "json",
        success: function(phrases) {
          for (var l in phrases.rows) {
            var r = phrases.rows[l];
            trigrams[[r.key[1], r.key[2], r.key[3]]] = r.value;
          }
          $('#repeated').removeAttr('disabled');
        }
      });
    }
    stickToHeader();
    $.ajax({
      url: "../../changes/memo/{{_id}}/{{update_seq}}",
      type: "GET",
      dataType: "json",
      success: reload
    });
  });

  $('#add_contributor').on('keypress', function(key) {
    if (key.which == 13) {
      record('add_contributor', $('#add_contributor').val().trim().toLowerCase());
    }
  });

  $('#add_contributor').autocomplete({
    minLength: 3,
    appendTo: '#modify_rights_dialog',
    source: function(request, response) {
      $.getJSON('../../userlist/' + request.term, function (data) {
        response($.map(data.rows, function (value, key) {
          if ("{{contributors}}".split(',').indexOf(value.id) == -1) return {
            label: value.value.fullname,
            value: value.id
          };
        }));
      });
    },
    select: function (event, ui) {
      record('add_contributor', ui.item.value);
    }
  });

  $('#add_reader').on('keypress', function(key) {
    if (key.which == 13) {
      record('add_reader', $('#add_reader').val().trim().toLowerCase());
    }
  });

  $('#add_reader').autocomplete({
    minLength: 3,
    appendTo: '#modify_rights_dialog',
    source: function(request, response) {
      $.getJSON('../../userlist/' + request.term, function (data) {
        response($.map(data.rows, function (value, key) {
          if ("{{readers}}".split(',').indexOf(value.id) == -1) return {
            label: value.value.fullname,
            value: value.id
          };
        }));
      });
    },
    select: function (event, ui) {
      record('add_reader', ui.item.value);
    }
  });

  $('.remove_reader').on('click', function() {
    var i = "{{readers_fullnames}}".split(',').indexOf($(this).val());
    record('remove_reader', "{{readers}}".split(',')[i]);
  });

  $('.remove_contributor').on('click', function() {
    var i = "{{contributors_fullnames}}".split(',').indexOf($(this).val());
    record('remove_contributor', "{{contributors}}".split(',')[i]);
  });

  $('#edit').on('click', function() {
    if ('{{type}}' == 'transcript') { self.location = '../../editable_text/{{_id}}';}
    else { self.location = '../../editable_memo/{{_id}}';}
  });

  $('#add').on('click', function() {
    create($(this)[0].className, '{{_id}}', $('#leave-name').val().trim());
  });

  $('#create').on('click', function() {
    var name = $('#leave-name').val().trim(),
        type = $(this)[0].className;
    if (type == 'diagram') name = $('#name').val().trim(); 
    create(type, '{{_id}}', name);
  });

  $('#create-table').on('click', function() {
    create($(this)[0].className, '{{_id}}', $('#leave-name').val().trim());
  });

  $('#add_grounding').on('show.bs.modal', function (event) {
    $.ajax({
      url: "../../memo_attribute/{{diary}}",
      type: "GET",
      dataType: "json",
      success: function(ground_candidates) {
        for (var i in ground_candidates.rows) {
          var r = ground_candidates.rows[i],
              id = r.value['id'],
              name = r.value['name'];
          if (name.length > 45) name = name.substr(0,45)+'...';
          if(document.getElementById(id) == null && id != "{{_id}}") {
            $("#add_grounding").find('select').append($('<option>', {
              value: id,
              text: name
            }));
          }
        }
      }
    });
  })

  $('#remove_grounding').on('show.bs.modal', function (event) {
    $('#groundings').children('li').each(function() {
      var id = ($(this).attr('id')),
          name = ($(this).find('a').text());
      if (name.length > 45) name = name.substr(0,45)+'...';
      $("#remove_grounding").find('select').append($('<option>', {
        value: id,
        text: name
      }));
    });
  });

  function renameDiagram(id,name) {
    $.ajax({
      url: '../../'+id,
      type: "GET",
      dataType: "json",
      success: function(diagram) {
        var properties = diagram.name.split('&');
        if (diagram.groundings[0] == "{{_id}}") {
          diagram.name = name+' & '+ properties[1].trim();
        } else {
          diagram.name = properties[0].trim() +' & '+name;
        }
        $.ajax({
          type: "PUT",
          url: '../../'+id,
          contentType: "application/json",
          data: JSON.stringify(diagram)
        });
      }
    });
  }

  function record(action, value) {
    $.ajax({
      url: "../../{{_id}}",
      type: "GET",
      dataType: "json",
      success: function(data) {
        switch(action) {
          case ('add_contributor'):
            if (!data.contributors) data.contributors = [];
            data.contributors.push(value);
          break;
          case ('remove_contributor'):
            var i = data.contributors.indexOf(value);
            data.contributors.splice(i, 1);
          break;
          case ('add_reader'):
            if (!data.readers) data.readers = [];
            data.readers.push(value);
          break;
          case ('remove_reader'):
            var i = data.readers.indexOf(value);
            data.readers.splice(i, 1);
          break;
          case ('add_grounding'):
            if (!data.groundings) data.groundings = [];
            if (data.groundings.indexOf(value) == -1) data.groundings.push(value);
          break;
          case ('remove_grounding'):
            var i = data.groundings.indexOf(value);
            if (i > -1) data.groundings.splice(i, 1);
          break;
        }
        $.ajax({
          type: "PUT",
          url: "../../{{_id}}",
          contentType: "application/json",
          data: JSON.stringify(data),
          error: function(request) {
            alert(
              (JSON.parse(request.responseText).reason || request.responseText)
              + '\nCode ' + request.status
            );
          }
        });
      }
    });
  }

  function toColor(metrics) {
    var grayLevel = Math.floor(255*(1-metrics)).toString(16);
    return '#' + grayLevel + grayLevel + grayLevel;
  }

  $('#clear_highlights').on('click', function() {
    $('font').each(function() {
      $(this).removeAttr('color');
    });
  });

  $('.highlight_words').on('click', function() {
    var type = this.id;
    $('font').each(function() {
      $(this).attr('color', toColor(wordMetrics(metrics, $.trim($(this).text()), type)));
    });
  });

  $('#repeated').on('click', function() {
    var words = [];
    $('font').each(function(i) {
      words[i] = {text: $.trim($(this).text()).toLowerCase()};
    });
    words[0].count = 0;
    words[1].count = 0;
    var max = 0;
    for (w=0; w<words.length-2; w++) {
      var nb = trigrams[[words[w].text, words[w+1].text, words[w+2].text]];
      if (!nb) nb = 1;
      words[w].count = Math.max(words[w].count, nb);
      words[w+1].count = Math.max(words[w+1].count, nb);
      words[w+2].count = nb;
      max = Math.max(max, words[w].count);
    }
    $('font').each(function(i) {
      $(this).attr('color', toColor(words[i].count/max));
    });
  });

  function wordMetrics(metrics, word, type) {
    var w = metrics[word.toLowerCase()];
    return (w)?w[type]:.05;
  }

  String.prototype.trimLeft = String.prototype.trimLeft || function() {
    return this.replace(/^\s+/,'');
  };

  $('#content').on('mouseup', function() {
    $('#kwic').val(
      document.getSelection().toString().trimLeft()
    );
  });

  $('#kwic').on('keypress', function(key) {
    if (key.which == 13) {
      self.location = '../../kwic/{{diary}}/' + $('#kwic').val().toLowerCase();
    }
  });

  {{>commentsscript}}
  {{>layoutscript}}
  {{>logscript}}
  {{>editname}}
  </script>
</html>
