<html>
  <head>
    <link rel="icon" type="image/png" href="../style/favicon.png" />
    <link rel="stylesheet" type="text/css" href="../style/main.css" />
    <script src="../script/jquery.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      var corpus = $("#corpus").val();
      const attr = 
          '<div class="custom">'
            +'<label class="actor"><input type="text" placeholder="attribute" /></label>'
            +'<input type="text" placeholder="value" />'
            +'</div>';
      if (corpus.length<1){
        $("h1").replaceWith(
          '<h1>New text in a new corpus</h1>'
        );
        $("#submit").before(
           attr + attr + attr + attr
        );
      } else {
        // Ajouter la propriété  readonly="readonly" à corpus
        $("#corpus").attr({
           readonly: "readonly"
        });
      }
    });
    function upload() {
      var data = {
        "name": $("#name").val(),
        "corpus": $("#corpus").val()
      };
      if (data.name && data.corpus) {
        $(".custom").each(function() {
          var key = $(this).children(".actor").children("input").val();
          if (key)
            data[key] = $(this).children("input").val();
        });
        $.ajax({
          url: "../",
          type: "POST",
          dataType: "json",
          contentType: "application/json",
          data: JSON.stringify(data),
          success: function(data) {location.replace("../editable_text/"+ data.id)}
        });
      }
    }
    </script>
  </head>
  <body id="watermark">
    <div id="container">
      <div id="content">
        <h1>New text </h1>
        <form>
          <fieldset>
            <legend>Attributes</legend>
            <div class="speeches">
              <div class="speeches-row">
                <label class="actor">title</label>
                <input id="name" type="text" />
              </div>
              <div class="speeches-row">
                <label class="actor">corpus</label>
                <input id="corpus" type="text" value="{{corpus}}" />
              </div>
              {{#attributes}}
              <div class="custom">
                <label class="actor"><input type="hidden" value="{{.}}">{{.}}</label>
                <input id="{{.}}" type="text" />
              </div>
              {{/attributes}}
              <div class="speeches-row" id="submit">
                <label class="actor"></label>
                <button type="button" onclick="upload()">Set attributes</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div id="footer">
        <a href="http://cassandre-qda.sourceforge.net/about.html">Cassandre</a> &nbsp;
      </div>
    </div>
  </body>
</html>

