<html>
  <head>
    <link rel="icon" type="image/png" href="../../style/favicon.png" />
    <link rel="stylesheet" type="text/css" href="../../style/main.css" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <script type="text/javascript">
    function httpGet(url) {
      var http = new XMLHttpRequest();
      http.open("GET", "../../" + url, false);
      http.setRequestHeader("Accept", "application/json");
      http.send("");
      return JSON.parse(http.responseText);
    }
    function toColor(metrics) {
      var grayLevel = Math.floor(255*(1-metrics)).toString(16);
      return "#" + grayLevel + grayLevel + grayLevel;
    }
    function highlightWords(type) {
      var words = document.getElementsByTagName("font");
      var metrics = wholeMetrics(type);
      for (i in words) {
        var w = words[i];
        w.color = toColor(wordMetrics(metrics, w.textContent, type));
      }
    }
    function highlightPhrases() {
      var view = httpGet("phrase/{{corpus}}");
      var trigrams = [];
      for (i in view.rows) {
        var r = view.rows[i];
        trigrams[r.key[1], r.key[2], r.key[3]] = r.value;
      }
      var markups = document.getElementsByTagName("font");
      var words = [];
      for (m=0; m<markups.length; m++) {
        words[m] = {text: markups[m].textContent.toLowerCase()};
      }
      words[0].count = 0;
      words[1].count = 0;
      words[2].count = 0;
      words[3].count = 0;
      var max = 0;
      for (w=0; w<words.length-4; w++) {
        var nb = trigrams[words[w].text, words[w+2].text, words[w+4].text];
        if (!nb) nb = 1;
        words[w].count = Math.max(words[w].count, nb);
        words[w+2].count = Math.max(words[w+2].count, nb);
        words[w+4].count = nb;
        max = Math.max(max, words[w].count);
      }
      for (m=0; m<markups.length; m++) {
        markups[m].color = toColor(words[m].count/max);
      }
    }
    function wholeMetrics(type) {
      var corpus = {};
      var lexcorpus = httpGet("corpus_words/{{corpus}}");
      for (i in lexcorpus.rows) {
        var c = lexcorpus.rows[i];
        corpus[c.key[1]] = c.value;
      }
      var lexdoc = httpGet("text_words/{{_id}}");
      var metrics = {};
      var max_specific1 = 0;
      for (i in lexdoc.rows) {
        var d = lexdoc.rows[i];
        var word = d.key[1];
        var inCorpus = corpus[word];
        metrics[word] = {
          rare: 1/inCorpus.sum,
          specific1: Math.sqrt(d.value)/inCorpus.count,
        };
        max_specific1 = Math.max(max_specific1,metrics[word].specific1);
      }
      for (i in metrics) {
        var m = metrics[i];
        m.specific1 /= max_specific1;
      }
      return metrics;
    }
    function wordMetrics(metrics, word, type) {
      var w = metrics[word.toLowerCase()];
      switch (type) {
        case "specific1":
          return (w)?w.specific1:.05;
        case "rare": 
          return (w)?w.rare:.05;
      } 
    }
    </script>
  </head>
  <body>
    <div id="container">
      <form id="menu">
        <input type="button" onClick="self.location='..'" value="Corpus" />
        <input type="button" onClick="self.location.reload(true)"
          value="Raw text" />
        <input type="button" onClick="highlightWords('specific1')"
          value="Specific words" />
        <input type="button" onClick="highlightWords('rare')"
          value="Rare words" />
        <input type="button" onClick="highlightPhrases()"
          value="Repeated phrases" />
      </form>
      <div id="content">
        <h1>{{name}}</h1>
        <table>
          {{#speeches}}
          <tr>
            {{#actor}}
            <th>{{actor}}</th>
            {{/actor}}
            <td>
              {{#timestamp}}
              <div class="timestamp">{{timestamp}}</div>
              {{/timestamp}}
              <div class="post">
                {{#words}}<font>{{.}}</font>{{/words}}
              </div>
            </td>
          </tr>
          {{/speeches}}
        </table>
      </div>
      <div id="footer">
        <a href="http://cassandre-qda.sourceforge.net/about.html">Cassandre</a> &nbsp;
      </div>
    </div>
  </body>
</html>
