<!doctype html>
<html>
  <head>
    <title>{{fullname}}</title>
    {{>links}}
    <link rel="stylesheet" href="../style/cal-heatmap.css" />
  </head>
  <body id="watermark">
    <div id="container">
      <nav id="header" class="{{>navbarstyle}} navbar-expand bd-navbar fixed-top">
        <ul class="navbar-nav mr-auto">
          <span class="navbar-text">{{i18n.i_filter}}</span>
          <li class="nav-item"><a class="nav-link" id="all-activity">{{i18n.i_all}}</a></li>
          <li class="nav-item"><a class="nav-link" id="only-created">{{i18n.i_creations}}</a></li>
          <li class="nav-item"><a class="nav-link" id="only-modified">{{i18n.i_modifications}}</a></li>
          <li class="nav-item"><a class="nav-link" id="only-comments">{{i18n.i_comments}}</a></li>
        </ul>
        {{>log}}
      </nav>
      <div id="content">
        <h1>{{fullname}} <span id="contribution"></span></h1>
        <div id="cal-heatmap"></div>
        <ul>
          {{#activity}}
          <li class="{{action}}">
            <span id="{{date}}" class="moment"></span>&nbsp;–
            <a href='../{{type}}/{{diary}}/{{id}}'>{{name}}</a>
          </li>
          {{/activity}}
        </ul>
      </div>
      <nav id="footer" class="{{>navbarstyle}} fixed-bottom">
        <a class='navbar-text' href="https://github.com/Hypertopic/Cassandre/wiki">Cassandre</a>
      </nav>
    </div>
  {{>script}}
  <script type="text/javascript" src="../script/d3.min.js"></script>
  <script type="text/javascript" src="../script/cal-heatmap.min.js"></script>
  <script>
  var refresh = true;
  var cal = new CalHeatMap();
  $(document).ready(function() {
    stickToHeader();
    moment.locale('{{locale}}');
    var moments = $('.moment');
    var times = {};
    moments.each(function() {
      var now = moment();
      var jstime = $(this).attr("id");
      var unixstamp = moment(jstime).format('X');
      times[unixstamp] = 1;
      var mmtime = moment(jstime);
      if(now.diff(mmtime, 'days') <= 2) {
        $(this).text(mmtime.fromNow());
      } else if(now.diff(mmtime, 'years') <= 1) {
        $(this).text("{{i18n.i_on-a-date}}"+' '+mmtime.format("Do MMMM"));
      } else {
        $(this).text("{{i18n.i_on-a-date}}"+' '+mmtime.format("Do MMMM YYYY"));
      }
    });
    var contributions = $('ul li .moment');
    contributions.each(function() {
      $(this).text($(this).text().replace(/./, function(x) { return x.toUpperCase(); }));
    });
    if ($('ul .created').length < 1) $('#only-created').hide();
    if ($('ul .modified').length < 1) $('#only-modified').hide();
    if ($('ul .commented').length < 1) $('#only-comments').hide();
    drawChart(times);
    showContributions();
  });

  function drawChart(data) {
    cal.init({
      domain: "week",
      subDomain: "day",
      data: data,
      range: 53,
      start: new Date(new Date().setFullYear(new Date().getFullYear() - 1)),
      end: new Date(),
      itemName: ["contribution", "contributions"],
      domainLabelFormat: ""
    });
  }

  $('#all-activity').on('click', function() {
    $(".created").show();
    $(".modified").show();
    $(".commented").show();
    showContributions();
  });
  $('#only-created').on('click', function() {
    $(".created").show();
    $(".modified").hide();
    $(".commented").hide();
    showContributions();
  });
  $('#only-comments').on('click', function() {
    $(".created").hide();
    $(".modified").hide();
    $(".commented").show();
    showContributions();
  });
  $('#only-modified').on('click', function() {
    $(".created").hide();
    $(".commented").hide();
    $(".modified").show();
    showContributions();
  });

  function showContributions() {
    var times = {};
    var list = $('ul li span:visible');
    list.each(function() {
      var unixstamp = moment(this.id).format('X');
      times[unixstamp] = 1;
    });
    cal.update(times);
    var n = Object.keys($('ul li span:visible')).length;
    var n = n - 4;
    if (n > 0) $('h1 #contribution').html(' ('+n+')');
    if (n == 0) $('h1 #contribution').html('');
  }

  {{>layoutscript}}
  {{>logscript}}
  </script>
  </body>
</html>

