<!doctype html>
<html>
  <head>
    <title>{{diary_name}} - {{i18n.i_activity}}</title>
    {{>links}}
    <link rel="stylesheet" href="../../style/cal-heatmap.css" />
  </head>
  <body>
    <nav id="header" class="{{>navbarstyle}} navbar-expand bd-navbar fixed-top">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="d-inline-block text-truncate text-{{>contrastcolor}} btn navbar-btn" id="diary">{{diary_name}}</a></li>
        <li class="nav-item"><a class="nav-link btn disabled" id="drawChart" title="{{i18n.i_draw-chart}}">
          <span class="d-block d-sm-none"><img src="{{>relpath}}style/calendar.svg" alt="{{i18n.i_draw-chart}}"></span>
          <span class="d-none d-sm-block">{{i18n.i_draw-chart}}</span>
        </a></li>
      </ul>
      {{>log}}
    </nav>
    <div id="container" class='container-fluid h-100'>
      <main class="col pb-5" id="content">
        <h1>{{i18n.i_activity}}</h1>
        <fieldset class="form-group d-none">
          <legend class="col-form-label">
            <span class="navbar-text">{{i18n.i_show}}</span>
            <a id="all-activity">{{i18n.i_all}}</a>
            <a id="only-created">{{i18n.i_creations}}</a>
            <a id="only-modified">{{i18n.i_modifications}}</a>
            <a id="only-commented">{{i18n.i_comments}}</a>
          </legend>
        </fieldset>
        <div id="cal-heatmap"></div>
        <div id="activity" title="{{i18n.i_activity}}">
        <div id="contributors">
          <span class="all">&nbsp;</span>
          <span class="commented d-none"></span>
          <span class="created d-none"></span>
          <span class="modified d-none"></span>
        </div>
        <div id="alert" class="d-flex justify-content-center" title="{{i18n.i_loading}}">
          <div class="d-none d-sm-inline-flex">{{i18n.i_loading}}</div>
          <div class="spinner-border spinner-border-sm ml-auto  mr-auto mr-sm-0" role="status" aria-hidden="true"></div>
        </div>
        <ul id="activities">
        </ul></div>
      </main>
      <nav id="footer" class="{{>navbarstyle}} fixed-bottom">
        <a class='navbar-text ml-auto' href="https://github.com/Hypertopic/Cassandre/wiki">
          <img src="../../style/info.svg" width="30" height="30" alt="Cassandre" loading="lazy">
        </a>
      </nav>
    </div>
  {{>script}}
  <script type="text/javascript" src="../../script/d3.min.js"></script>
  <script type="text/javascript" src="../../script/cal-heatmap.min.js"></script>
  <script>
  let cal = new CalHeatMap(),
      all = {},
      created = {},
      commented = {},
      converter = new showdown.Converter({strikethrough: 'true'}),
      diary_id = '{{diary}}',
      fullnames = [],
      modified = {},
      pathes = [],
      end,
      start;
  $(document).ready(function() {
    moment.locale('{{locale}}');
    {{#logged}}
    getFullname('{{logged}}');
    $('#username').text(fullnames['{{logged}}']);
    {{/logged}}
    showMore("Z");
    stickToHeader();
  });

  $('#drawChart').on('click', function() {
    $('#drawChart').addClass('disabled');
    $('#cal-heatmap').append('<div id="loading" class="d-flex justify-content-center" title="{{i18n.i_loading}}">\
      <div class="d-none d-sm-inline-flex">{{i18n.i_loading}}</div>\
      <div class="spinner-border spinner-border-sm ml-auto  mr-auto mr-sm-0" role="status" aria-hidden="true"></div></div>');
    $.ajax({
      url: '../../activity_chart/'+diary_id+'/',
      type: "GET",
      dataType: "json"
    }).done(function(data) {
      for (u of data.fullnames) {
        if (fullnames[u.user] == null) fullnames[u.user] = u.fullname;
      }
      end = new Date(data.end);
      start = new Date(end.setFullYear(end.getFullYear() - 1));
      for (activity in {created,commented,modified}) {
        if (data['n'+activity].length > 0)
          for (e of data['n'+activity]) {
            var fullname = e.user;
            if (fullnames[e.user] == null) getFullname(e.user);
            if (fullnames[e.user] != null) fullname = fullnames[e.user];
            $('#contributors .'+activity).append(fullname+'&nbsp;('+e.n+') ');
          }
      }
      for (var a of data.activity) {
        var date = a.date;
        if(date > start.toJSON()) {
          all[moment(date).format('X')] = 1;
          if (a.commented) commented[moment(date).format('X')] = 1;
          if (a.created)     created[moment(date).format('X')] = 1;
          if (a.modified)   modified[moment(date).format('X')] = 1;
        }
      }
    }).done(function() {
      $('#loading').remove();
      $('fieldset').removeClass('d-none');
      cal.init({
        domain: "week",
        subDomain: "day",
        subDomainDateFormat: function(date) {
          return moment(date).format("LL");
        },
        subDomainTitleFormat: {
          filled: "{count} {name}, {date}"
        },
        data: all,
        range: 53,
        start: start,
        end: end,
        itemName: ["contribution", "contributions"],
        domainLabelFormat: ""
      });
    });
  });

  $('#all-activity').on('click', function() {
    $('#contributors').children().removeClass('d-none');
    $('#contributors .created').addClass('d-none');
    $('#contributors .modified').addClass('d-none');
    $('#contributors .commented').addClass('d-none');
    cal.update(all);
  });
  $('#only-created').on('click', function() {
    $('#contributors').children().removeClass('d-none');
    $('#contributors .all').addClass('d-none');
    $('#contributors .modified').addClass('d-none');
    $('#contributors .commented').addClass('d-none');
    cal.update(created);
  });
  $('#only-commented').on('click', function() {
    $('#contributors').children().removeClass('d-none');
    $('#contributors .all').addClass('d-none');
    $('#contributors .created').addClass('d-none');
    $('#contributors .modified').addClass('d-none');
    cal.update(commented);
  });
  $('#only-modified').on('click', function() {
    $('#contributors').children().removeClass('d-none');
    $('#contributors .all').addClass('d-none');
    $('#contributors .created').addClass('d-none');
    $('#contributors .commented').addClass('d-none');
    cal.update(modified);
  });

  function type2path(type) {
    switch (type) {
      case 'table':
      case 'graph':
      case 'diagram':
        return type;
      break;
      default:
        return 'memo';
      break;
    }
  }

  function getFullname(o) {
    $.ajax({
      url: "../../userlist/"+o,
      type: "GET",
      async: false,
      dataType: "json"
    }).done(data => fullnames[data.rows[0].id] = data.rows[0].value.fullname);
  }

  function showMore(start) {
    $.ajax({
      url: '../../activity/'+diary_id+'/'+start,
      type: "GET",
      dataType: "json",
      success: function(data) {
        for (var a of data) {
          var [date, user, user_fullname, type] = [a.date, a.user, a.user_fullname, a.modified_type];
          if (typeof a.commented !== 'undefined') {
            action = '{{i18n.i_commented}}&nbsp;: ';
          }
          path = type2path(type);
          if (typeof user_fullname !== 'undefined') fullnames[user] = user_fullname;
          if (typeof user_fullname === 'undefined' && fullnames[user] == null) getFullname(user);
          if (typeof user_fullname === 'undefined' && fullnames[user] !== null) user_fullname = fullnames[user];
          if (typeof user_fullname === 'undefined' && fullnames[user] == null) user_fullname = user;

          if (typeof a.diary_label !== 'undefined') {
            if (typeof a.created   !== 'undefined') action = '{{i18n.i_created}} {{i18n.i_the-diary}}';
            if (typeof a.modified  !== 'undefined') action = '{{i18n.i_modified}} {{i18n.i_the-diary}}';
          } else {
            if (typeof a.commented !== 'undefined') action = '{{i18n.i_commented}}&nbsp;: ';
            if (typeof a.created   !== 'undefined') action = '{{i18n.i_created}} ';
            if (typeof a.modified  !== 'undefined') action = '{{i18n.i_modified}} ';
            action += '<a href="../../'+path+'/'+diary_id+'/'+a.modified_id+'">'+a.modified_name+'</a>';
          }
          var li = '<li>'
            +'<span id="'+date+'" class="'+date+' moment"></span>, '
            +'<span class="'+user+'">'+user_fullname+'</span> '
            + action + '</li>';
          $("#activities").append(li);
        }
      }
    }).always(function(){
      if ($('#activity ul li').length < 1) {
        var nothing_to_show = '{{i18n.i_nothing-to-show}}';
        {{^logged}}nothing_to_show +='. {{i18n.i_sign-in-for-more}}';{{/logged}}
        $('#alert').text(nothing_to_show);
      } else {
        momentRelative('#activity ul');
        $('#activities li a').html(function(i, text) {
          var md = converter.makeHtml(text.replace(/&gt;/g, '>').trim());
          if (md.substring(0,3) == '<p>') md = md.replace(/<\/?p>/g, '');
          return md;
        });
        $('#alert').remove();
        if (start == 'Z') $('#drawChart').removeClass('disabled');
      }
    });
  }

  {{>layoutscript}}
  {{>logscript}}
  </script>
  </body>
</html>

