<!doctype html>
<html>
  <head>
    <title>{{i18n.i_does-not-exist}}</title>
    {{>links}}
  </head>
  <body id="watermark">
    <div id="container" class='container-fluid h-100'>
      <div id="content" class="h-100 d-flex justify-content-center align-items-center" style="height:100px;">
        <div><h1>{{i18n.i_does-not-exist}}</h1>
          <p><a id="back"><img src="../../style/arrow-left.svg" /></a></p>
        </div>
      </div>
      <nav id="footer" class="{{>navbarstyle}} fixed-bottom">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="https://github.com/Hypertopic/Cassandre/wiki">
            <img src="../../style/info.svg" width="30" height="30" alt="Cassandre" loading="lazy">
          </a></li>
        </ul>
      </nav>
    </div>
    {{>script}}
    <script>
    $('#back').on('click', function() {
      var diary = window.location.pathname.split('/')[2];
      self.location = '../../memo/'+diary+'/';
    });
    </script>
  </body>
</html>
