<!doctype html>
<html>
  <head>
    <title>{{diary_name}} - {{name}}</title>
    {{>links}}
    {{>diagramcss}}
  </head>
  <body>
    <nav id="header" class="{{>navbarstyle}} navbar-expand bd-navbar fixed-top">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="d-inline-block text-truncate btn navbar-btn text-{{>contrastcolor}}" id="diary">{{diary_name}}</a></li>
        <a id="toggle-groundings" class="nav-link btn text-{{>contrastcolor}} d-none" data-toggle="collapse" aria-expanded="true" href="#groundings">{{i18n.i_show_groundings}}</a>
      </ul>
      <ul class="navbar-nav justify-content-between">
        <li class="form-inline justify-content-between">{{>log}}</li>
      </ul>
    </nav>
    <div id="container" class='container-fluid h-100'>
      <div id="memo" class='row h-100'>
        {{#authorized}}
        <div id='groundings' class="groundings col-xs-12 col-sm-3 collapse show">
          <button type="button" class="close" title="{{i18n.i_hide_groundings}}" data-toggle="collapse" href="#groundings">×</button>
          <legend>{{i18n.i_groundings}}</legend>
          {{#groundings}}
          <li class="d-inline d-sm-block {{type}}" id="{{id}}">
            <a href="{{href}}">{{name}}</a> {{#preview}}<span class="toggle dropdown-toggle"> </span>
            <div class="preview">{{preview}}</div>{{/preview}}
          </li>
          {{/groundings}}
        </div>
        {{/authorized}}
        <main class="col pb-sm-5" id="content">
          {{^authorized}}
          <h1>{{i18n.i_sign-in_required}}</h1>
          {{/authorized}}
          {{#authorized}}
          <h1> <img title="{{i18n.i_memo.diagram}}" src="../../style/{{type}}.svg"/> <span id="name"> {{name}} </span> </h1>
          {{>rights}}
          <svg id="diagram" viewBox="0 0 508 300" class="{{link}}"></svg>
          <p class="spacer">&nbsp;</p>
          <div id="negative-case" class="hidden">
            <span class="meta"></span><span id="temp" class="negative_text">{{negative}}</span>
            {{#editable}}
            <input type="text" size="35" class="form-control hidden" placeHolder="{{i18n.i_content.negative-case}}" value="{{negative}}"/>
            {{/editable}}
          </div>
          <div id="statement" class="hidden">
            <span class="meta"></span><span class="statement_text">{{statement}}</span>
            {{#editable}}
            <input type="text" size="35" class="form-control hidden" placeHolder="{{i18n.i_content.statement}}" value="{{statement}}"/>
            {{/editable}}
          </div>
          {{>comments}}
          {{/authorized}}
          <div aria-live="polite" aria-atomic="true" class="position-0">
            <div id="toasts"></div>
          <div>
        </main>
        {{#authorized}}
        <div class="col-xs-12 col-sm-3 d-sm-none d-lg-none d-xl-block pb-5 leaves" id="leaves">
          <button type="button" class="close">×</button>
          <legend>{{i18n.i_leaves}}</legend>
          {{#leaves}}
            <li class="{{type}}"><a href="{{href}}">{{name}}</a></li>
          {{/leaves}}
        </div>
        {{/authorized}}
      </div>
      <nav id="footer" class="{{>navbarstyle}} fixed-bottom">
        <div role='group'>
          {{#editable}}
          <button class='groundings btn btn-outline-{{>contrastcolor}} btn-sm collapse show' data-toggle="modal" data-target="#add_grounding" id="add_grounding_btn"><span>{{i18n.i_add_groundings}}</span></button>
          <button class="btn btn-outline-{{>contrastcolor}} btn-sm hidden" id="write_statement" title="{{i18n.i_write_statement}}">
            <span class="d-block d-sm-none" title="{{i18n.i_write_statement}}">3V</span>
            <span class="d-none d-sm-block">{{i18n.i_write_statement}}</span>
          </button>
          <button class="btn btn-outline-{{>contrastcolor}} btn-sm hidden" id="add_negative-case" title="{{i18n.i_add_negative-case}}">
            <span class="d-block d-sm-none"><img src="{{>relpath}}style/location.svg" alt="{{i18n.i_add_negative-case}}"></span>
            <span class="d-none d-sm-block">{{i18n.i_add_negative-case}}</span>
          </button>
          <button class="btn btn-outline-{{>contrastcolor}} btn-sm hidden" id="negative-case_done">{{i18n.i_save}}</button>
          <button class="btn btn-outline-{{>contrastcolor}} btn-sm hidden" id="statement_done">{{i18n.i_save}}</button>
          {{/editable}}
          {{#authorized}}
          {{>commentsbtn}}
          {{/authorized}}
        </div>
        <div id="add-leaves">
          {{#editable}}
          <div class="input-group input-group-sm">
            <input id="leave-name" type="search" placeholder="{{i18n.i_name.theoretical}}" class="form-control" />
            <div class="input-group-append">
              <div class="d-none input-group-text spinner" title="{{i18n.i_loading}}">
                <span class="spinner-border spinner-border-sm" role="status"></span>
              </div>
              <span class="input-group-text create-leave theoretical" title="{{i18n.i_create.theoretical}}" id="add">+</span>
              <span class="input-group-text create-leave hidden graph" title="{{i18n.i_create.graph}}" id="create">+</span>
              <span class="input-group-text create-leave storyline" title="{{i18n.i_create.storyline}}" id="conclude">+</span>
            </div>
          </div>
          {{/editable}}
        </div>
      </nav>
    </div>
    {{>modify_rights_dialog}}
    <div id="show-leaves" class="d-none d-sm-block d-lg-block d-xl-none invisible">
      <div class="reverse">{{i18n.i_leaves}}
        <img title="{{i18n.i_leaves}}" src="../../style/chevron-down.svg" alt="{{i18n.i_leaves}}"/>
      </div>
    </div>
    <div id="add_grounding" class="modal fade" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{i18n.i_link}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body text-center">
            <select onChange="adapt({grounding: this.value});"></select>
            <button id="pp" type="button" class="btn btn-outline-secondary articulate">
              <svg width="70" height="44">
                <rect x="1" y="1" width="25" height="40" stroke-width="2"/>
                <rect x="40" y="1" width="25" height="40" stroke-width="2"/>
                <path d="M20 9 H 46" stroke-width="2"/>
                <path d="M20 33 H 46" stroke-width="2"/>
              </svg><br/>
              {{i18n.i_link_properties}}
            </button>
            <button id="ipp" type="button" class="btn btn-outline-secondary articulate">
              <svg width="70" height="44">
                <rect x="1" y="1" width="25" height="40" stroke-width="2"/>
                <rect x="40" y="1" width="25" height="40" stroke-width="2"/>
                <path d="M20 9 46 33" stroke-width="2"/>
                <path d="M20 33 46 9" stroke-width="2"/>
              </svg><br/>
              {{i18n.i_inverse_link_between_properties}}
            </button>
            <button id="dd" type="button" class="btn btn-outline-secondary articulate">
              <svg width="70" height="44">
                <polygon points="1,1 30,1 30,36" stroke-width="2"/>
                <polygon points="35,1 65,1 35,36 " stroke-width="2"/>
              </svg><br/>
              {{i18n.i_link_dimensions}}
            </button>
            <button id="idd" type="button" class="btn btn-outline-secondary articulate">
              <svg width="70" height="44">
                <polygon points="1,1 65,1 1,36" stroke-width="2"/>
                <polygon points="1,41 65,41 65,6 " stroke-width="2"/>
              </svg><br/>
              {{i18n.i_inverse_link_between_dimensions}}
            </button>
          </div>
        </div>
      </div>
    </div>
  {{>script}}
  <script>
  var userids = [];
  let candidates = [],
      diary_id = "{{diary}}",
      link = '{{link}}',
      this_id = "{{_id}}",
      this_type = "{{type}}";
  $(document).ready(function() {
    {{>render}}
    moment.locale('{{locale}}');
    var moments = $('.moment');
    moments.each(function() {
      var now = moment();
      var jstime = $(this).text();
      var mmtime = moment(jstime);
      if(now.diff(mmtime, 'days') <= 2) {
        $(this).text(mmtime.fromNow());
      } else if(now.diff(mmtime, 'years') <= 1) {
        $(this).text("{{i18n.i_on-a-date}}"+' '+mmtime.format("Do MMMM"));
      } else {
        $(this).text("{{i18n.i_on-a-date}}"+' '+mmtime.format("Do MMMM YYYY"));
      }
    });
    $.ajax({
      url: "../../memo_type/{{diary}}/coding",
      type: "GET",
      dataType: "json",
        success: function(grounds) {
        for (var i in grounds.rows) {
          var r = grounds.rows[i],
              id = r.value['id'],
              ground_href = r.value['id'];
              ground_label = r.value['name'];
          if ($('#groundings>li').length < 2 && document.getElementById(id) == null && ground_href != "{{_id}}") {
            $("#add_grounding").find('select').append($('<option>', {
              id: ground_href,
              value: ground_href,
              title: ground_label,
              text: ground_label
            }));
          };
        }
      }
    });
    var shape1 = shape2 = articulated = negative = '',
        content1 = $('#groundings>li').first().find('a').html(),
        content2 = $('#groundings>li').last().find('a').html();
    {{#editable}}
    if("{{name}}".replace(/&#39;|&quot;/g, '').replace(/\t/g, ' ').trim().indexOf(content1.replace(/"|'/g, '').replace(/\s/g, ' ').trim()) == -1
    || "{{name}}".replace(/&#39;|&quot;/g, '').replace(/\t/g, ' ').trim().indexOf(content2.replace(/"|'/g, '').replace(/\s/g, ' ').trim()) == -1) {
      if ($('#groundings>li').length == 2) adapt({rename: true});
    }
    {{/editable}}
    switch ("{{link}}") {
      case 'pp':
      case 'ipp':
        shape1 = '<rect x="15" y="1" width="170" height="294" stroke="black" fill="transparent" stroke-width="2"/>';
        shape2 = '<rect x="319" y="1" width="170" height="294" stroke="black" fill="transparent" stroke-width="2"/>';
        content1 = '<foreignObject x="15" y="3" width="170" height="290">'
          +  '<div style="text-align: center; padding-top: 15px">1</div>'
          +  '<div style="display: table; height: 215px; overflow: hidden;  margin: 0 auto">'
          +    '<p xmlns="http://www.w3.org/1999/xhtml" style="display: table-cell; vertical-align: middle; text-align: center;">'
          +      content1
          +    '</p></div>'
          +    '<div style="text-align: center;">0</div>'
          +'</foreignObject>'
        content2 = '<foreignObject x="319" y="3" width="170" height="290">'
          +  '<div style="text-align: center; padding-top: 15px">1</div>'
          +  '<div style="display: table; height: 215px; overflow: hidden;  margin: 0 auto">'
          +    '<p xmlns="http://www.w3.org/1999/xhtml" style="display: table-cell; vertical-align: middle; text-align: center;">'
          +      content2
          +    '</p></div>'
          +  '<div class="molarity" style="text-align: center;">0</div>'
          +'</foreignObject>';
      break;
      case 'dd':
        shape1 = '<polygon points="5,1 235,1 235,294" fill="transparent" style="stroke:black;stroke-width:2" />';
        shape2 = '<polygon points="259,1 494,1 259,294" fill="transparent" style="stroke:black;stroke-width:2" />';
        content1 = '<foreignObject x="50" y="13" width="170" height="185">'
          +  '<div style="display: table; height: 185px; overflow: hidden;  margin: 0 auto">'
          +    '<p xmlns="http://www.w3.org/1999/xhtml" style="display: table-cell; vertical-align: top; text-align: right;">'
          +      content1
          +    '</p></div>'
          +'</foreignObject>'
        content2 = '<foreignObject x="274" y="13" width="170" height="185">'
          +  '<div style="display: table; height: 185px; overflow: hidden;  margin: 0 auto">'
          +    '<p xmlns="http://www.w3.org/1999/xhtml" style="display: table-cell; vertical-align: top; text-align: left;">'
          +      content2
          +    '</p></div>'
          +'</foreignObject>';
      break;
      case 'idd':
        shape1 = '<polygon points="15,1 489,1 15,274" fill="transparent" style="stroke:black;stroke-width:2" />'
        shape2 = '<polygon points="489,21 489,294 15,294" fill="transparent" style="stroke:black;stroke-width:2" />'
        content1 = ''
          +'<foreignObject x="30" y="13" width="250" height="185">'
          +  '<div style="display: table; height: 185px; overflow: hidden;  margin: 0 auto">'
          +    '<p xmlns="http://www.w3.org/1999/xhtml" style="display: table-cell; vertical-align: top; text-align: left;">'
          +      content1
          +    '</p></div>'
          +'</foreignObject>'
        content2 = ''
          +'<foreignObject x="224" y="100" width="250" height="185">'
          +  '<div style="display: table; height: 185px; overflow: hidden;  margin: 0 auto">'
          +    '<p xmlns="http://www.w3.org/1999/xhtml" style="display: table-cell; vertical-align: bottom; text-align: right;">'
          +      content2
          +    '</p></div>'
          +'</foreignObject>';
      break;
    }
    if ("{{link}}" == 'pp') {
      articulated = '<path d="M170 30 H 330" stroke="green" stroke-width="2"/>'
        +'<path d="M170 270 H 330" stroke="green" stroke-width="2"/>';
      negative = '<path stroke-dasharray="10,10" d="M170 30 330 270" stroke="red"  stroke-width="2"/>'
      +'<path id="situation" stroke-dasharray="10,10" d="M170 270 330 30" stroke="red"  stroke-width="2"/>';
    }
    if ("{{link}}" == 'ipp') {
      articulated = '<path d="M170 30 330 270" stroke="red" stroke-width="2"/>'
        +'<path d="M170 270 330 30" stroke="red" stroke-width="2"/>';
      negative = '<path id="situation" stroke-dasharray="10,10"  d="M170 30 H 330" stroke="green" stroke-width="2"/>'
        +'<path stroke-dasharray="10,10" d="M170 270 H 330" stroke="green" stroke-width="2"/>';
    }
    if ("{{negative}}") {
      articulated += negative
      +'<text fill=""><textPath href="#situation" startOffset="50%" text-anchor="middle">{{negative}}</textPath></text>';
    }
    if ($('#groundings>li').length == 1) {
      $('#create').remove();
      $('.articulate').addClass('hidden');
      $('#add_grounding_btn').html("{{i18n.i_add_groundings}}");
      $("#add_grounding").find('.modal-title').append(" <em>"+$('#groundings>li').first().find('a').html()+"</em> {{i18n.i_in}}");
      $("#add_grounding").find('select').append($('<option>', {
        text: "{{i18n.i_select_grounding}}"
      }));
      shape2 = content2 = '';
    } else {
      $('#create').removeClass('hidden');
      $('#negative-case').removeClass('hidden');
      $('#statement').removeClass('hidden');
      if ('{{statement}}' != '') $('#statement .meta').text('{{i18n.i_name.statement}}: ');
      if ('{{negative}}' != '') $('#negative-case .meta').text('{{i18n.i_name.negative-case}}: ');
      $('#add_negative-case').removeClass('hidden');
      $('#write_statement').removeClass('hidden');
      $('#add_grounding_btn').html("{{i18n.i_link}}");
      $("#add_grounding").find('select').remove();
      $('#'+'{{link}}').prop('title', '{{i18n.i_current-link}}').prop('disabled', true);
      $('.articulate').removeClass('hidden');
    }
    $('#diagram').html(shape1+content1+shape2+content2+articulated);
    var converter = new showdown.Converter({strikethrough: 'true'});
    converter.setFlavor('github');
    renderComments(converter);
    renderPreviews(converter);
    if ($('#groundings>li').length == 1) {
      $('#add_grounding').modal('show')
    } else if ($('.statement_text').text().length < 1) {
      inform('warning', "{{{i18n.i_next.statement}}} <strong>{{i18n.i_write_statement}}</strong>");
      if ($('.negative_text').text().length < 1 && $('#leaves li').length < 1) {
        inform('info', "{{i18n.i_next.negative-case}} {{i18n.i_hereunder_button}}");
      }
    }
    poller('memo', '{{update_seq}}');
  });

  {{#editable}}
  $('.create-leave').on('click', function() {
    var classlist = $(this)[0].classList;
    create(classlist[classlist.length - 1], $('#leave-name').val().trim());
  });

  $('.articulate').on('click', function() {
    adapt({link: $(this).attr('id')});
  });

  function adapt(o) {
    refresh = true;
    var gid = [];
    for (var i = 0; i < $('#groundings>li').length; i++) {
      gid.push($('#groundings>li')[i].id);
    }
    $("#dialog").dialog('close');
    var data = {
      'action': o,
      'gid': gid,
      'name': $('#'+gid[0]).find('a').html().trim()
    };
    if (Object.keys(o)[0] == 'grounding') {
      var second = {
        id: o.grounding,
        text: $('#'+o.grounding).text()
      }
    } else if (typeof(gid[1]) !== 'undefined') {
      var second = {
        id: gid[1],
        text: $('#'+gid[1]+' > a').html().trim()
      }
    }
    if (gid[0].localeCompare(second.id) < 0) {
      data.name += ' & '+second.text;
    } else {
      data.name = second.text+' & '+ data.name;
    }
    $.ajax({
      url: "../../adapt_diagram/{{_id}}",
      type: "PUT",
      contentType: "application/json",
      data: JSON.stringify(data),
      error: function(request) {
        alert(
          (JSON.parse(request.responseText).reason || request.responseText)
          + '\nCode ' + request.status
        );
      }
    }).done(function(){
      reload;
    });
  }

  $("#write_statement").click(function () {
    refresh = false;
    $(".statement_text").remove();
    $('#statement .meta').text('{{i18n.i_name.statement}}: ');
    $("#add-leaves").addClass('hidden');
    $("#footer .btn").addClass('hidden');
    $("#statement").find('input').removeClass('hidden');
    $('#statement_done').removeClass('hidden');
    $('html, body').scrollTop($(document).height());
  });

  $("#add_negative-case").click(function () {
    refresh = false;
    $(".negative_text").remove();
    $('#negative-case .meta').text('{{i18n.i_name.negative-case}}: ');
    $("#add-leaves").addClass('hidden');
    $("#footer .btn").addClass('hidden');
    $("#negative-case").find('input').removeClass('hidden');
    $('#negative-case_done').removeClass('hidden');
    $('html, body').scrollTop($(document).height());
  });

  $("#statement_done").click(function () {
    adapt({statement: $('#statement').find('input').val().trim()});
  });

  $("#negative-case_done").click(function () {
    adapt({negative: $('#negative-case').find('input').val().trim()});
  });

  $('#statement > input').on('keypress', function(key) {
    if (key.which == 13) {
      adapt({statement: $('#statement').find('input').val().trim()});
    }
  });

  $('#negative-case > input').on('keypress', function(key) {
    if (key.which == 13) {
      adapt({negative: $('#negative-case').find('input').val().trim()});
    }
  });
  {{/editable}}

  {{>rightsscript}}
  {{>layoutscript}}
  {{>logscript}}
  </script>
  </body>
</html>
