<!doctype html>
<html>
  <head>
    <title>{{i18n.i_diaries}}</title>
    {{>links}}
  </head>
  <body>
    <div id="container">
      <nav id="header" class="{{>navbarstyle}} navbar-expand bd-navbar fixed-top">
        <ul class="navbar-nav mr-auto">&nbsp;</ul>
        {{>log}}
      </nav>
      <div id="container" class='container-fluid pb-5'>
        <div id="content" class='col'>
          <h1>{{i18n.i_diaries}}</h1>
          <div class="card-columns">
            {{#logged}}
            <div id="loading" class="d-flex justify-content-center progress-bar progress-bar-striped progress-bar-animated alert" title="{{i18n.i_loading}}">
              <div class="d-none d-sm-inline-block">{{i18n.i_loading}}</div>
              <div class="d-sm-none spinner-border spinner-border-sm ml-auto  mr-auto mr-sm-0" role="status" aria-hidden="true"></div>
            </div>
            {{/logged}}
            {{#diaries}}
            <div class="card text-center bg-light mb-3">
              <div title="{{i18n.i_integrate}} {{i18n.i_in}} {{i18n.i_collection}}" class="in-collection d-none"><img src="../style/chevron-down.svg" alt="v" /></div>
              <h5><a href='../memo/{{id}}/'>{{name}}</a></h5>
              <p><span id="{{id}}" title="{{i18n.i_memos}}" class="badge badge-pill badge-secondary progress-bar-striped progress-bar-animated d-none">{{i18n.i_loading}}</span></p>
            </div>
            {{/diaries}}
            {{#logged}}
            <div class="card text-center bg-light mb-3">
              <div class="card-body">
                <h5 class="card-title">{{i18n.i_create.diary}}</h5>
                <input id="my_diary" placeholder="{{i18n.i_my_diary}}" class="form-control input-sm" />
              </div>
            </div>
            {{/logged}}
          </div>
        </div>
      </div>
      <nav id="footer" class="{{>navbarstyle}} fixed-bottom">
        <div role="group">
          <button class="btn navbar-btn btn-outline-{{>contrastcolor}} btn-sm d-none" id="show">{{i18n.i_last-visit}}</button>
          <button class="btn navbar-btn btn-outline-{{>contrastcolor}} btn-sm d-none" type='button' id='create_diary'>{{i18n.i_create.diary}}</button>
        </div>
        <a class='navbar-text ml-auto' href="https://github.com/Hypertopic/Cassandre/wiki">
          <img src="../style/info.svg" width="30" height="30" alt="Cassandre" loading="lazy">
        </a>
      </nav>
      {{>storing_fullname_dialog}}
      <div id="in_collection" class="modal fade" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">{{i18n.i_integrate}} {{i18n.i_in}} {{i18n.i_collection}}</div>
            <div class="modal-body">
              <p>{{i18n.i_integrate}} <span class="font-italic diary"></span> {{i18n.i_in}}<br/>
                <input id="target_collection" class="form-control input-sm" placeholder="{{i18n.i_collection}}"/>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{>script}}
  <script src="{{>relpath}}script/collection.js"></script>
  <script>
  let register = [],
      id = '';
  $(document).ready(function() {
    {{^logged}}nothing_to_show +='. {{i18n.i_sign-in-for-more}}';{{/logged}}
    stickToHeader();
    {{#logged}}
    var added = [];
    $.ajax({
      url: "../{{logged}}",
      type: "GET",
      dataType: "json"
    }).fail(function() {
        $('#storing_fullname_dialog').modal('show');
    }).done(function(data) {
        if(data.fullname.length == 0) $('#storing_fullname_dialog').modal('show');
        if(data.fullname) $('#username').text(data.fullname);
        for (var o of data.order) {
          if (typeof o.collection !== 'undefined') {
            let collection = o.collection,
                diary = o.diary;
            if (document.getElementById(collection) == null) $("#content").append("<h3 class='collection d-none'>"+collection+"</h3><div id='"+collection+"' class='card-columns'></div>");
            if (document.getElementById(diary) !== null) {
              $('#'+collection).append($('#'+diary).parent().parent());
              $('#'+collection).prev().removeClass('d-none');
            }
            register[diary] = collection;
            if (source.indexOf(collection) < 0) source.push(collection);
          }
        }
      }
    );
    $.ajax({
      url: "../diaries/{{logged}}",
      type: "GET",
      dataType: "json",
      success: function(data) {
        for (var d of data) {
          let id = d.id;
          if (!$('#'+id).length) {
            var card = '<div class="card text-center bg-light mb-3">'
              +'<div title="{{i18n.i_integrate}} {{i18n.i_in}} {{i18n.i_collection}}" class="in-collection d-none"><img src="../style/chevron-down.svg" alt="v" /></div>'
              +'<h5><a href="../memo/'+id+'/">'+d.name+'</a></h5>'
              +'<div title="{{i18n.i_restricted-access}}" class="card-icons"><img src="../style/lock.svg" alt="" /></div>'
              +'<p><span id="'+id+'" title="{{i18n.i_memos}}" class="badge badge-pill badge-secondary progress-bar-striped progress-bar-animated d-none">{{i18n.i_loading}}</span></p>'
              +'</div>';
            if (register[id]) {
              $('#'+register[id]).append(card);
            } else {
              $('#loading').after(card);
            }
            added.push(d.id);
          }
        }
      }
    }).done(function(){
      if (added.length > 1) $("#show").removeClass('d-none');
      if (added.length > 3) $(".in-collection").removeClass('d-none');
      $(".collection").each(function() {
        if($(this).next().children().length < 1 && $(this).text().length > 0) {
          $(this).next().remove();
          $(this).remove();
          source.splice(source.indexOf($(this).attr('id')), 1);
        }
      });
      $(".collection").removeClass('d-none');
    }).done(function(){
      $("#loading").addClass('d-none').removeClass('d-flex');
      if ($(".card").length == 0) $('h1').after(nothing_to_show);
    });
    {{/logged}}
    {{^logged}}
    if ($(".card").length == 0) $('h1').after(nothing_to_show);
    {{/logged}}
  });

  $('#show').on('click', function() {
    $(".badge").removeClass('d-none');
    $.ajax({
      url: "../news/",
      type: "GET",
      dataType: "json",
      success: function(data) {
        for (var n of data) {
          $('#'+n.id).text(n.size);
          if (n.news) {
            $('#'+n.id).prepend(n.news+' / ');
            $('#'+n.id).parent().parent().removeClass('bg-light');
            $('#'+n.id).parent().parent().addClass('alert-success');
            $('#'+n.id).parent().parent().attr("title", "{{i18n.i_updated-diary}}");
            $('#'+n.id).removeClass('badge-secondary');
            $('#'+n.id).addClass('badge-success');
            $('#'+n.id).attr("title", "{{i18n.i_memos-number}}");
            if (typeof n.lastvisit !== 'undefined')
              $("<br/><span class='moment'>{{i18n.i_last-visit}} "+hr_date(n.lastvisit)+'</span>').insertAfter('#'+n.id);
          }
        }
      }
    }).done(function(){
      $("#show").addClass('d-none');
      $(".progress-bar-striped").removeClass('progress-bar progress-bar-striped progress-bar-animated');
    });
  });

  $('#my_diary').on('keypress', function(key) {
    if ($('#my_diary').val().length > 0) {
      $('a').removeAttr('href');
      $('.in-collection').remove();
      $('#signout').prop('disabled', true);
      $('#show').prop('disabled', true);
      $('#create_diary').removeClass("d-none");
    }
    if (key.which == 13) {
      createDiary($('#my_diary').val().trim());
    }
  });

  $('#create_diary').on('click', function() {
    createDiary($('#my_diary').val().trim());
  });

  function createDiary(diary_name) {
    if (diary_name == '') {
      alert('{{i18n.i_enter_diary_name}}');
    } else {
      var diary = {
        diary_name: diary_name,
        history: [{
          "user": user,
          "date": new Date().toJSON(),
          "name": diary_name
        }]
      };
      var data = {
        contributors: [],
        readers: [],
        type: 'theoretical',
        groundings: [],
        history: [{
          "user": user,
          "date": new Date().toJSON()
        }],
        editing: {
          "user": user,
          "date": new Date().toJSON()
        },
        name: "{{i18n.i_name.theoretical}}",
        body: ""
      };
      if ("{{logged}}") {
        data.contributors.push("{{logged}}");
        data.readers.push("{{logged}}");
      }
      $.ajax({
        url: "../",
        type: "POST",
        dataType: "json",
        contentType: "application/json",
        data: JSON.stringify(diary),
        success: function(diary) {
          data.diary = diary.id;
          $.ajax({
            url: "../",
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function(data) {
              location.replace('../editable_memo/'+data.id)
            }
          });
        }
      });
    }
  };

  {{>layoutscript}}
  {{>logscript}}
  </script>
  </body>
</html>

