<!doctype html>
<html>
  <head>
    <title>{{diary_name}}</title>
    {{>links}}
    {{^list}}
      {{>viscss}}
    {{/list}}
  </head>
  <body>
    <nav id="header" class="{{>navbarstyle}} navbar-expand-md fixed-top">
      <a class="navbar-brand" id="diaries" title="{{i18n.i_diaries}}">
        <img src="../../style/brand.svg" width="30" height="30" alt="{{i18n.i_diaries}}" loading="lazy">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="text-light bg-dark"><img src="../../style/three-bars.svg" alt="=" /></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="form-inline justify-content-between">
            <div class="dropdown">
              <a class="nav-link dropdown-toggle hidden" href="#" id="show" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{i18n.i_show}}
              </a>
              <div class="dropdown-menu" aria-labelledby="show">
                <a class="dropdown-item" id="drawNetwork">{{i18n.i_network}}</a>
                <a class="dropdown-item" id="drawTimeline">{{i18n.i_timeline}}</a>
                {{#logged}}
                <h6 class="dropdown-header">{{i18n.i_export}}</h6>
                <a class="dropdown-item" href="../../export/{{diary}}/html">html</a>
                <a class="dropdown-item" href="../../export/{{diary}}/json">json</a>
                <a class="dropdown-item" href="../../export/{{diary}}/xml">xml</a>
                {{/logged}}
              </div>
            </div>
            <div class="dropdown">
              <a class="nav-link dropdown-toggle" title="{{i18n.i_sort}}" id="sort" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{i18n.i_sort}}
              </a>
              <div class="dropdown-menu" aria-labelledby="sort">
                <a class="dropdown-item" href="#" value='name'>{{i18n.i_title}}</a>
                <a class="dropdown-item" href="#" value='date'>{{i18n.i_date}}</a>
                <a class="dropdown-item" href="#" value='update'>{{i18n.i_update}}</a>
                <a class="dropdown-item" href="#" value='type'>{{i18n.i_type}}</a>
              </div>
            </div>
            <a class="nav-link" id="drawTimeline">{{i18n.i_timeline}}</a>
            <a class="nav-link hidden" id="patterns">{{i18n.i_patterns}}</a>
          </li>
        </ul>
        <ul class="navbar-nav justify-content-between">
          <li class="form-inline justify-content-between">
            {{>log}}
          </li>
        </ul>
      </div>
    </nav>
    <div id="container" class='container-fluid pb-5'>
      <div id="content" class='col'>
        <h1>{{diary_name}}
          <span id="size" class="badge badge-pill badge-{{^unreads}}secondary{{/unreads}}{{#unreads}}success{{/unreads}}" title="{{i18n.i_memos}}">{{#unreads}}{{unreads}} / {{/unreads}}{{size}}</span>
        </h1>
        <input id="name" type="search" class="form-control hidden" value="{{diary_name}}"/>
        <div id="top-right">
          <img id="show-activity" src="../../style/history.svg" alt="{{i18n.i_activity}}" title="{{i18n.i_activity}}"/>
        </div>
        {{#list}}
        <div id="tasklist-alert" role="group" class="list-group list-group-horizontal-md pb-4 hidden">
          <div class="list-group-item list-group-item-action list-group-item-secondary d-flex justify-content-between align-items-center">{{i18n.i_tasklist-alert}}</div>
        </div>
        {{/list}}
        <div id="network" class="hidden"></div>
        <div id="memos"></div>
        <p class="text-center">
          <img id="more" src="../../script/cloud-download.svg" alt="{{i18n.i_show-more}}" title="{{i18n.i_show-more}}"/>
        </p>
      </div>
    </div>
    <nav id="footer" class="{{>navbarstyle}} fixed-bottom">
      <a class='navbar-text' href="https://github.com/Hypertopic/Cassandre/wiki">
        <img src="../../style/info.svg" width="30" height="30" alt="Cassandre" loading="lazy">
      </a>
    </nav>
  {{>script}}
  {{#list}}<script src="../../script/showdown.min.js"></script>{{/list}}
  {{^list}}<script src="../../script/vis.min.js"></script>{{/list}}
  <script>
  var refresh = true,
      activity = {{{activity}}},
      converter = new showdown.Converter({
        tables: 'true',
        tasklists: 'true',
        strikethrough: 'true'
      }),
      from = '0',
      horizon = '{}',
      list = [],
      number = 0,
      origin = '0',
      result,
      results = [];
      text = {
        comments: "{{i18n.i_unchecked-comment}}",
        diagram: "{{i18n.i_to-be-articulated}}",
        editing: "{{i18n.i_to-be-resumed}}",
        pending: "{{i18n.i_todo}}",
        ungrounded: "{{i18n.i_ungrounded}}",
        unnamed: "{{i18n.i_unnamed}}",
      };
  if (["date","update"].indexOf("{{by}}") > -1) horizon = '1970';
  $(document).ready(function() {
    {{#logged}}
    if ("{{by}}".length <= 0) track('update');
    {{/logged}}
    if (["date","update"].indexOf("{{by}}") > -1) {
      from = 'a';
      origin = 'a';
    }
    includePublic();
    moment.locale('{{locale}}');
    let sort_by ='{{i18n.i_title}}';
    switch('{{by}}') {
      case 'date':
        sort_by ='{{i18n.i_date}}';
      break;
      case 'update':
        sort_by ='{{i18n.i_update}}';
      break;
      case 'type':
        sort_by ='{{i18n.i_type}}';
      break;
    }
    $('#sort').text('{{i18n.i_by}} '+sort_by.toLowerCase());
    resetUI();
    {{#list}}
    var pendingtasks = function() {
      return $.ajax({
        url: "../../tasklist/{{diary}}",
        type: "GET",
        async: false,
        dataType: "json"
      })
    }
    var uncheckedcomments = function() {
      return $.ajax({
        url: "../../comments/{{diary}}",
        type: "GET",
        async: false,
        dataType: "json"
      })
    }
    pendingtasks().done(tasks => $.each(tasks, function(k,v) {
      taskreport(k,v);
    }));
    uncheckedcomments().done(data => taskreport('comments', data.comments.length));
    if (number > 0) $('#tasklist-alert').removeClass("hidden");
    {{/list}}
    $.ajax({
      url: "../../kwic/{{diary}}",
      type: "GET",
      dataType: "json",
      success: function(kwic) {
        if (kwic.pending > 0) $('#patterns').removeClass("hidden");
      }
    });
    poller('diary', '{{update_seq}}');
  });

  $('#header')
    .on('click', '#diaries', function() {
      self.location = '..';
    })
    .on('click', '#drawNetwork', function() {
      self.location = '?by=network';
    })
    .on('click', '#drawTimeline', function() {
      self.location = '../../network/{{diary}}';
    })
    .on('click', '#patterns', function() {
      self.location = '../../kwic/{{diary}}';
    });

  $('#footer')
    .on('click', '#show_delete', function() {
      $("#network").addClass("hidden");
      $("#memos>li>input").removeClass("hidden");
      $("#footer").html(
        '<div role="group" class="form-check-inline">'
        + '<button class="btn navbar-btn btn-outline-light btn-sm" id="cancel" type="button">{{i18n.i_cancel}}</button>'
        + '<div class="custom-control custom-switch"><input id="toggle" type="checkbox" class="custom-control-input"></input><label class="navbar-text custom-control-label" for="toggle">{{i18n.i_select}}</label></div>'
        + '<button class="btn navbar-btn btn-outline-light btn-sm" id="delete" type="button">{{i18n.i_delete}}</button>'
        + '</div>'
      );
    })
    .on('click', '#cancel', function() {
      resetUI();
    })
    .on('click', '#toggle', function() {
      var checked = $("#toggle").is(":checked");
      $("input[type='checkbox']").each(function() {
        $(this).prop("checked", checked);
      });
    })
    .on('click', '#delete', function() {
      var checked = $("input.deletable:checked");
      var countdown = checked.length;
      if (!countdown) {
        resetUI();
      }
      checked.each(function() {
        var memo = $(this).closest(".memo");
        $.ajax({
          type: "DELETE",
          url: "../../" + $(this).attr("id") + "?rev=" + $(this).attr("name"),
          success: function() {
            countdown--;
            if (countdown<1) {
              location.reload();
            }
          }
        });
      });
    });

  $('.dropdown-menu a').on('click', function(e) {
    var by = $(this).attr('value');
    {{#logged}}track(by).done();{{/logged}}
  });

  $('#tasklist-alert').on('click', function() {
    self.location = "../../tasklist/{{diary}}/";
  });

  $('#show-activity').on('click', function() {
    self.location = "../../activity/{{diary}}/";
  });

  function resetUI() {
    $("#memos>li>input").addClass("hidden");
    $("#footer").html(
      '<button class="btn navbar-btn btn-outline-light btn-sm" type="button" id="show_delete">{{i18n.i_delete}}...</button>'
      + '<a class="navbar-text" href="https://github.com/Hypertopic/Cassandre/wiki">'
      + '<img src="../../style/info.svg" width="30" height="30" alt="Cassandre" loading="lazy"></a>'
    );
  }

  function taskreport(task, count) {
    if (count > 0) {
      $("#tasklist-alert").append($('<div>', {
        id: task,
        class: "list-group-item list-group-item-action list-group-item-secondary d-flex justify-content-between align-items-center",
        text: text[task],
        title: text[task]
      }));
      $('#'+task).append($('<span>', {
        class: "badge badge-pill badge-info",
        text: count
      }));
    }
    number = number + count;
  }

  $('#more').on('click', function() {
    includePublic();
  });

  function showMore() {
    includePublic();
  };

  function showList(data) {
    for (var i in data) {
      if(document.getElementById(data[i].id) == null) {
        var unread = 'unread';
        var date = data[i].date;
        if('{{by}}' == 'update') date = data[i].update;
        var sort_key = data[i].sortkey;
        var j = activity.findIndex(e => e.doc === data[i].id);
        if (j > -1 && activity[j].date > data[i].update) unread = '';
        var li = '<li class="'+data[i].type+'" name="'+sort_key+'">'
          +'<input type="checkbox" id="'+data[i].id+'" name="'+data[i].rev+'" class="hidden deletable" />'
          +'<span id="'+data[i].id+'" name="'+data[i].update+'" class="'+date+' moment '+unread+'"></span>&nbsp;– '
          +'<span class="mytooltip">'
          +'<a href="../../'+data[i].path+'/'+data[i].diary+'/'+data[i].id+'" class="'+unread+'">'+data[i].name+'</a>';
        if (typeof data[i].preview !== 'undefined' && data[i].preview.trim().length > 0)
          li += '<span class="preview text-light bg-dark">'+data[i].preview+'</span>';
        li += '</span></li>';
        $("#memos").append(li);
      }
    }
    momentRelative('#memos');
    converter.setFlavor('github');
    $('.preview').html(function(i, text) {
      return converter.makeHtml(text.replace(/&gt;/g, '>').trim());
    });
    var nothing_to_show = '{{i18n.i_nothing-to-show}}';
    {{^logged}}nothing_to_show +='. {{i18n.i_sign-in-for-more}}';{{/logged}}
    if ({{size}} == 0) $('#memos').text(nothing_to_show);
    if (document.getElementById("memos").childNodes.length >= {{size}}) $('#more').addClass("d-none");
  }

  async function getMore(coord) {
    return new Promise((resolve, reject) => {
      $.ajax({
        url: "../../memos/{{diary}}/{{by}}/"+coord,
        type: "GET",
        dataType: "json",
        success: function(data) {
          list = list.concat(data);
          if (data.length > 0) {
            resolve(data[data.length-1].sortkey);
          } else {
            if (list.length > 0) {
              resolve(list[list.length-1].sortkey);
            } else {
              resolve(horizon);
            }
          }
        }
      });
    });
  }

  async function includePublic() {
    if (list.length > 0) {
      from = list[list.length-1].sortkey;
    }
    if (result !== undefined) results.push(result);
    result = await getMore(from);
    if (results.indexOf(result) > -1) result = horizon;
    await getMore(origin+'/'+result);
    list = list.filter((v, i, a) => a.findIndex((t) => (t.id === v.id)) === i);
    if (["date","update"].indexOf("{{by}}") > -1) {
      list.sort((a, b) => (a.sortkey < b.sortkey) ? 1 : -1);
      if (list.length > 0 && from > list[list.length-1].sortkey) from = list[list.length-1].sortkey;
    } else {
      list.sort((a, b) => (a.sortkey > b.sortkey) ? 1 : -1);
    }
    showList(list);
    $('.theoretical').attr('title',"{{i18n.i_memo.theoretical}}");
    $('.operational').attr('title',"{{i18n.i_memo.operational}}");
    $('.field').attr('title',"{{i18n.i_memo.field}}".replace('&#39;',"'"));
    $('.transcript').attr('title',"{{i18n.i_memo.transcript}}".replace('&#39;',"'"));
    $('.interview').attr('title',"{{i18n.i_memo.transcript}}".replace('&#39;',"'"));
    $('.coding').attr('title',"{{i18n.i_memo.coding}}");
    $('.theoretical').attr('title',"{{i18n.i_memo.theoretical}}");
    $('.storyline').attr('title',"{{i18n.i_memo.storyline}}");
    $('.graph').attr('title',"{{i18n.i_memo.graph}}");
    $('.diagram').attr('title',"{{i18n.i_memo.diagram}}");
    $('.table').attr('title',"{{i18n.i_memo.table}}");
    stickToHeader();
  }

  {{>layoutscript}}
  {{>logscript}}
  {{>editname}}
  </script>
  </body>
</html>

