<!doctype html>
<html>
  <head>
    <title>{{diary_name}} - {{name}}</title>
    {{>links}}
    <link rel="stylesheet" href="../style/easymde.min.css" />
  </head>
  <body>
      <header>
        <nav id="header" class="{{>navbarstyle}} navbar-expand bd-navbar fixed-top">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item text-{{>contrastcolor}}">{{diary_name}}</li>
            {{#authorized}}{{#editing}}
            <li><button title="{{i18n.i_double}}" class="btn text-{{>contrastcolor}}" id="double">¶²</button></li>
            {{/editing}}{{/authorized}}
          </ul>
          {{>log}}
        </nav>
      </header>
      <div id="container" class='container-fluid h-100'>
        <div id="memo" class='row h-100'>
          {{#authorized}}
            <div id="cherrypick" class="col-12 alert-danger d-none">{{i18n.i_concurrent_versions}}
              <div class="row col-12">
                <div class="col-6"> {{i18n.i_autosaved_version}}
                  <textarea style="width: 100%" id="local" disabled></textarea>
                  <button type="button" class="btn btn-primary" id="edit-local">{{i18n.i_edit}} {{i18n.i_this-one}}</button>
                </div>
                <div class="col-6"> {{i18n.i_remote_version}}
                  <textarea style="width: 100%" id="remote" disabled>{{body}}</textarea>
                  <button type="button" class="btn btn-primary" id="edit-remote">{{i18n.i_edit}} {{i18n.i_this-one}}</button>
                </div>
              </div>
              <br /><div class="w-100"></div>
            </div>
            <div class="col-3" id="groundings">
            <legend>{{i18n.i_groundings}}</legend>
            {{#groundings}}
            <li id="{{.}}" class="{{type}}">
              <h4 class="toggle">{{name}}</h4>
              <div class="preview">{{preview}}</div>
            </li>
            {{/groundings}}
          </div>
          {{/authorized}}
          <main class="col pb-0 pb-sm-5" id="content">
            {{^authorized}}
            <h1>{{i18n.i_sign-in_required}}</h1>
            {{/authorized}}
            {{#authorized}}
            {{^editing}}
            <h1>{{i18n.i_loading}}</h1>
            <p id="loading" class="spinner-border spinner-border-sm ml-auto mr-auto ml-sm-0" role="status" aria-hidden="true"></p>
            {{/editing}}
            {{#editing}}
            <h1> <img src="../style/{{type}}.svg"/> {{name}}</h1>
            <p>
              <textarea id="body" cols="80" rows="20" type="text">{{body}}</textarea>
            </p>
            {{/editing}}
            {{/authorized}}
          </main>
        </div>
      </div>
      <nav id="footer" class="{{>navbarstyle}} fixed-bottom">
        {{#authorized}}{{#editing}}
        <div role="group">
          <button type="button" class="btn btn-outline-{{>contrastcolor}} btn-sm" id="done">{{i18n.i_save}}</button>
          <button type="button" class="btn btn-outline-{{>contrastcolor}} btn-sm" id="cancel">{{i18n.i_cancel}}</button>
        </div>
        {{/editing}}{{/authorized}}
        <a class="navbar-text" href="https://github.com/Hypertopic/Cassandre/wiki">
          <img src="../style/info.svg" width="30" height="30" alt="Cassandre" loading="lazy">
        </a>
      </nav>

  <script src="../script/jquery.js"></script>
  <script src="../script/easymde.min.js"></script>
  <script src="../script/showdown.min.js"></script>
  <script>
  var placeHolder = [];
  placeHolder["field"] = {name : "{{i18n.i_name.field}}", content: "{{{i18n.i_content.field}}}"};
  placeHolder["interview"] = {name : "{{i18n.i_name.transcript}}", content: "{{{i18n.i_content.transcript}}}"};
  placeHolder["transcript"] = {name : "{{i18n.i_name.transcript}}", content: "{{{i18n.i_content.transcript}}}"};
  placeHolder["coding"] = {name : "{{i18n.i_name.coding}}", content: "{{{i18n.i_content.coding}}}"};
  placeHolder["theoretical"] = {name : "{{i18n.i_name.theoretical}}", content: "{{{i18n.i_content.theoretical}}}"};
  placeHolder["operational"] = {name : "{{i18n.i_name.operational}}", content: "{{{i18n.i_content.operational}}}"};
  placeHolder["storyline"] = {name : "{{i18n.i_name.storyline}}", content: "{{{i18n.i_content.storyline}}}"};
  $("#name").attr("placeHolder", placeHolder["{{type}}"]["name"]);
  {{#authorized}}
  {{#editing}}
  var easymde = new EasyMDE({
    element: $("#body")[0],
    autosave: {
      enabled: true,
      uniqueId: "{{_id}}",
      timeFormat: {locale: '{{locale}}'}
    },
    toolbar: ["bold", "italic", "strikethrough", "|", "heading-3", "unordered-list", "horizontal-rule", "|", "link", "image", "table", "|", "guide"],
    placeholder: placeHolder["{{type}}"]["content"],
    spellChecker: false
  });
  {{/editing}}
  {{/authorized}}
  var warning = 'Save your content';
  $(document).ready(function() {
    {{^editing}}
    self.location = '../../memo/{{diary}}/{{_id}}';
    {{/editing}}
    {{#editing}}
    window.addEventListener("beforeunload", function (e) {
      if (warning != false) {
        (e || window.event).returnValue = warning;
        return warning;
      }
    });
    $("#kwic").parent().addClass('hidden');
    var converter = new showdown.Converter({
      parseImgDimensions: 'true',
      tables: 'true',
      tasklists: 'true',
      strikethrough: 'true'
    });
    converter.setFlavor('github');
    renderPreviews(converter);
    if ($('#groundings li').length < 1) $("#groundings").addClass('hidden');
    $('#groundings').find('.toggle').next().slideToggle('fast');
    {{#authorized}}
    $('#header > ul > li:first').after($('.editor-toolbar'));
    if ("{{type}}" == 'interview') $('.editor-toolbar').remove ();
    if (easymde.value() == $('#remote').text()) {
      easymde.clearAutosavedValue();
    } else {
      cherrypick()
    }

    {{/authorized}}
    {{/editing}}
    stickToHeader();
  });

  {{#editing}}
  function double() {
    easymde.value(easymde.value().replace(/\n/g, "\n \n"))
  }

  function cherrypick(){
    $("#groundings").addClass('hidden');
    $('.editor-toolbar').addClass('hidden');
    $('#double').addClass('hidden');
    $('#local').attr("rows", easymde.value().split(/\r\n|\r|\n/).length + 2);
    $('#remote').attr("rows", $("#remote").val().split(/\r\n|\r|\n/).length + 2);
    $("#local").val(easymde.value());
    $("#cherrypick").removeClass('d-none');
  }

  $('#edit-local').on('click', function() {
    leaveChoice();
  });

  $('#edit-remote').on('click', function() {
    easymde.clearAutosavedValue();
    easymde.value($("#remote").val());
    leaveChoice();
  });

  function leaveChoice() {
    $("#groundings").removeClass('hidden');
    $('.editor-toolbar').removeClass('hidden');
    $('#double').removeClass('hidden');
    $("#cherrypick").addClass('d-none');
  }

  function save(modify, toDoAfter) {
    warning = false;
    var data = 'false';
    if (modify) data = easymde.value().replace(/ *\n/g, " \n");
    $.ajax({
      url: "../update_memo_content/{{_id}}",
      type: "PUT",
      contentType: "application/json",
      data: data,
      error: function(request) {
        if (request.status == 401) alert("{{i18n.i_lost_connection}}".replace(/&#39;/g,"'").replace(/&quot;/g,'"')); 
        self.location = '../memo/{{diary}}/{{_id}}';
      },
      success: toDoAfter
    });
  }

  $('#double').on('click', function() {
    double();
  });

  var toDoAfter = function() {
    easymde.clearAutosavedValue();
    self.location = '../memo/{{diary}}/{{_id}}';
  };

  $('#cancel').on('click', function() {
    save(false, toDoAfter);
  });

  $('#done').on('click', function() {
    save(true, toDoAfter);
  });
  {{/editing}}

  {{>layoutscript}}
  {{>logscript}}
  </script>
  </body>
</html>
