<!doctype html>
<html>
  <head>
    <title>{{diary_name}} - {{name}}</title>
    {{>links}}
    <link rel="stylesheet" href="../style/easymde.min.css" />
  </head>
  <body>
      <header>
        <nav id="header" class="{{>navbarstyle}} navbar-expand bd-navbar fixed-top">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item text-{{>contrastcolor}}">{{diary_name}}</li>
            {{#authorized}}
            <li><button title="{{i18n.i_double}}" class="btn text-{{>contrastcolor}}" id="double">¶²</button></li>
            {{/authorized}}
          </ul>
          {{>log}}
        </nav>
      </header>
      <div id="container" class='container-fluid h-100'>
        <div id="memo" class='row h-100'>
          {{#authorized}}
          <div class="col-3" id="groundings">
            <legend>{{i18n.i_groundings}}</legend>
            {{#groundings}}
            <li id="{{.}}" class="{{type}}">
              <h4 class="toggle">{{name}}</h4>
              <div class="preview">{{preview}}</div>
            </li>
            {{/groundings}}
          </div>
          {{/authorized}}
          <main class="col pb-0 pb-sm-5" id="content">
            {{^authorized}}
            <h1>{{i18n.i_sign-in_required}}</h1>
            {{/authorized}}
            {{#authorized}}
            {{^editing}}
            <h1>{{i18n.i_no_back-button}}</h1><p><a href="../../memo/{{diary}}/{{_id}}">{{i18n.i_resume}}</a></p>
            {{/editing}}
            {{#editing}}
            <h1> <img src="../style/{{type}}.svg"/> {{name}}</h1>
            <p>
              <textarea id="body" cols="80" rows="20" type="text">{{body}}</textarea>
            </p>
            {{/editing}}
            {{/authorized}}
          </main>
        </div>
      </div>
      <nav id="footer" class="{{>navbarstyle}} fixed-bottom">
        {{#authorized}}{{#editing}}
        <div role="group">
          <button type="button" class="btn btn-outline-{{>contrastcolor}} btn-sm" id="done">{{i18n.i_save}}</button>
        </div>
        {{/editing}}{{/authorized}}
        <a class="navbar-text" href="https://github.com/Hypertopic/Cassandre/wiki">
          <img src="../style/info.svg" width="30" height="30" alt="Cassandre" loading="lazy">
        </a>
      </nav>

  <script src="../script/jquery.js"></script>
  <script src="../script/easymde.min.js"></script>
  <script>
  var placeHolder = [];
  placeHolder["field"] = {name : "{{i18n.i_name.field}}", content: "{{{i18n.i_content.field}}}"};
  placeHolder["interview"] = {name : "{{i18n.i_name.transcript}}", content: "{{{i18n.i_content.transcript}}}"};
  placeHolder["transcript"] = {name : "{{i18n.i_name.transcript}}", content: "{{{i18n.i_content.transcript}}}"};
  placeHolder["coding"] = {name : "{{i18n.i_name.coding}}", content: "{{{i18n.i_content.coding}}}"};
  placeHolder["theoretical"] = {name : "{{i18n.i_name.theoretical}}", content: "{{{i18n.i_content.theoretical}}}"};
  placeHolder["operational"] = {name : "{{i18n.i_name.operational}}", content: "{{{i18n.i_content.operational}}}"};
  placeHolder["storyline"] = {name : "{{i18n.i_name.storyline}}", content: "{{{i18n.i_content.storyline}}}"};
  $("#name").attr("placeHolder", placeHolder["{{type}}"]["name"]);
  {{#authorized}}
  var easymde = new EasyMDE({
    element: $("#body")[0],
    autosave: {
      enabled: true,
      uniqueId: "{{_id}}",
      delay: 1000,
      timeFormat: {locale: '{{locale}}'}
    },
    toolbar: ["bold", "italic", "strikethrough", "|", "heading-3", "unordered-list", "horizontal-rule", "|", "link", "image", "table", "|", "guide"],
    placeholder: placeHolder["{{type}}"]["content"],
    spellChecker: false
  });
  {{/authorized}}
  var warning = 'Save your content';
  $(document).ready(function() {
    window.addEventListener("beforeunload", function (e) {
      if (warning != false) {
        (e || window.event).returnValue = warning;
        return warning;
      }
    });
    $("#kwic").parent().addClass('hidden');
    if ($('#groundings li').length < 1) $("#groundings").addClass('hidden');
    $('#groundings').find('.toggle').next().slideToggle('fast');
    {{#authorized}}
    $('#header > ul > li:first').after($('.editor-toolbar'));
    {{/authorized}}
    stickToHeader();
  });

  function double() {
    easymde.value(easymde.value().replace(/\n/g, "\n \n"))
  }

  function save(draft, toDoAfter) {
    warning = false;
    $.ajax({
      url: "../update_memo_content/{{_id}}",
      type: "PUT",
      contentType: "application/json",
      data: easymde.value().replace(/ *\n/g, " \n"),
      error: function(request) {
        if (request.status == 401) alert("{{i18n.i_lost_connection}}".replace(/&#39;/g,"'").replace(/&quot;/g,'"')); 
        self.location = '../memo/{{diary}}/{{_id}}';
      },
      success: toDoAfter
    });
  }

  $('#double').on('click', function() {
    double();
  });

  $('#done').on('click', function() {
    save(false, function() {
      easymde.clearAutosavedValue();
      self.location = '../memo/{{diary}}/{{_id}}';
    });
  });

  {{>layoutscript}}
  {{>logscript}}
  </script>
  </body>
</html>
