<!doctype html>
<html>
  <head>
    <title>{{diary_name}}</title>
    {{>links}}
    <style>
    ul {
      list-style-type: disclosure-closed;
    }
    </style>
  </head>
  <body>
    <nav id="header" class="{{>navbarstyle}} navbar-expand bd-navbar fixed-top">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link btn navbar-btn text-truncate" id="diary">{{diary_name}}</a></li>
        <li class="nav-item"><a class="nav-link btn-sm" id="json" href="../../export/{{diary}}/json/">json</a></li>
        <li class="nav-item"><a class="nav-link btn-sm" id="xml" href="../../export/{{diary}}/xml/">xml</a></li>
        <li class="nav-item"><a class="nav-link btn-sm disabled" id='pdf'>pdf</a></li>
      </ul>
      {{>log}}
    </nav>
    <div id="container" class='container-fluid'>
      <main id="content" class='col'>
        <h1></h1>
        <div class="alert alert-secondary" role="alert">{{i18n.i_export.text-only}}</div>
        <p></p>
        <ul id="memos">
        {{#memos}}
          <p><strong>{{i18n.i_title}}</strong>: <span id="{{id}}">{{name}}</span><br/>
          <strong>{{i18n.i_created-by}}</strong>: <span data="{{author}}" class="user"></span><br/>
          <strong>{{i18n.i_date}}</strong>: <span class="{{date}} moment" data="{{date}}"></span> {{#update}}<strong>({{i18n.i_update}}</strong>: <span class="{{update}} moment" data="{{update}}"></span>){{/update}}<br/>
          <strong>Type</strong>: <span class="type" data="{{type}}"></span><br/>
          <strong>{{i18n.i_grounding}}</strong>: {{#groundings}}<span class="grounding" data="{{id}}"><a href="#{{id}}">{{name}}</a></span>{{/groundings}}</p>
          {{#body}}<span class="content">{{body}}</span>{{/body}}
          {{#statement}}{{statement}}{{/statement}}
        {{/memos}}
        </ul>
      </main>
    </div>
  {{>script}}
  {{#list}}<script src="../../script/showdown.min.js"></script>{{/list}}
  <script src="../../script/jspdf.umd.min.js"></script>
  <script src="../../script/html2canvas.min.js"></script>
  <script>
  const ansi = [
    {char: '->', base: /\u2192/g},
    {char: '*', base: /\u2022/g},
    {char: '... ', base: /\u2026/g},
    {char: ':-|', base: /[\ud800-\udbff][\udc00-\udfff]/g},
    {char: 'oe', base: /\u0153/g},
    {char: '-', base: /\u2013/g},
    {char: '"', base: /[\u201C-\u201F]/g},
    {char: "'", base: /[\u2018-\u2019]/g},
    {char: 'EUR', base: /\u20AC/g}
  ];
  var refresh = true,
      fullnames = types = [];
  types["field"] = "{{i18n.i_memo.field}}";
  types["interview"] = "{{i18n.i_memo.transcript}}";
  types["transcript"] = "{{i18n.i_memo.transcript}}";
  types["coding"] = "{{i18n.i_memo.coding}}";
  types["theoretical"] = "{{i18n.i_memo.theoretical}}";
  types["statement"] = "{{i18n.i_name.statement}}";
  types["table"] = "{{i18n.i_memo.table}}";
  types["diagram"] = "{{i18n.i_memo.diagram}}";
  types["graph"] = "{{i18n.i_memo.graph}}";
  types["operational"] = "{{i18n.i_memo.operational}}";
  types["storyline"] = "{{i18n.i_memo.storyline}}";
  $(document).ready(function() {
    moment.locale('{{locale}}');
    {{#list}}
    momentRelative('#memos');
    var converter = new showdown.Converter({
      tables: 'true',
      tasklists: 'true',
      strikethrough: 'true'
    });
    converter.setFlavor('github');
    $('.content').html(function(i, text) {
      return converter.makeHtml(text.trim());
    });
    getFullname('{{logged}}');
    $('#username').text(fullnames['{{logged}}']);
    if ('{{diary}}') $.ajax({
      url: "../../{{diary}}",
      type: "GET",
      dataType: "json",
      success: function(data) {
        if(data.diary_name) {
          $('title').text(data.diary_name);
          $('#diary').text(data.diary_name);
          $('#json').prop('href', $('#json').prop('href')+data.diary_name);
          $('#xml').prop('href', $('#xml').prop('href')+data.diary_name);
        }
      }
    }).done(function(){
      $('#pdf').removeClass('disabled');
    });
    $('.type').each(function() {
      let i = $(this).attr('data');
      $(this).text(types[i].replace('&#39;', "'"));
    });
    $('.user').each(function() {
      let user_fullname = user = $(this).attr('data');
      if (fullnames[user] == null) getFullname(user);
      user_fullname = fullnames[user]
      $(this).text(user_fullname);
    });
    $('.grounding').each(function() {
      let id = $(this).attr('data'),
          text = $('#'+id).text();
      if ($(this).text().length == 0) {
        if (text.length > 0) {
          $(this).find('a').html(text);
        } else {
          $(this).find('a').html("{{i18n.i_nothing-to-show}}");
        }
      }
      if (document.getElementById(id) == null) $(this).find('a').prop('href', "../../memo/{{diary}}/"+id);
    });
    {{/list}}
    stickToHeader();
  });

  $('#header')
    .on('click', '#diary', function() {
      self.location = '../../memo/{{diary}}/?by=date';
    })
    .on('click', '#pdf', function() {
      printPDF();
    });

  function getFullname(o) {
    $.ajax({
      url: "../../userlist/"+o,
      type: "GET",
      async: false,
      dataType: "json"
    }).done(data => fullnames[data.rows[0].id] = data.rows[0].value.fullname);
  }

  function inform(type, msg){
    $('.alert-primary').remove();
    $('.alert-success').remove();
    $('<div class="alert alert-'+type+'" role="alert">'+msg+'</div>').insertAfter($('.alert').last());
  }

  function printPDF() {
    inform('primary', '{{i18n.i_export.in-progress}}<div class="spinner-border spinner-border-sm"></div>');
    const { jsPDF } = window.jspdf;
    var doc = new jsPDF('p', 'mm', [297, 210]);
    var content = document.body;
    $("#memos").children().each(function () {
      $(this).html(replaceUnicode($(this).html()));
    });
    const diary_name = $('#diary').text()
    doc.html(document.getElementById("memos"),{
      html2canvas: {
          allowTaint: true,
          useCORS: true,
          scale: 200 / document.body.scrollWidth
      },
      callback: function(){
        const pageCount = doc.internal.getNumberOfPages()
        doc.setTextColor("black");
        doc.setFontSize(8)
        for (var i = 1; i <= pageCount; i++) {
          doc.setPage(i)
          doc.text('Page ' + String(i) , doc.internal.pageSize.width - 10, doc.internal.pageSize.height - 10, {
            align: 'right'
          })
          doc.text(diary_name, doc.internal.pageSize.width - 10, 10, null, 270)
        }
        inform('success', "{{i18n.i_export.done}}");
        doc.save();
      },
      x: 0,
      y: 10
    });
  }

  function replaceUnicode(str){
    ansi.forEach(function(letter){
      str = str.replace(letter.base, letter.char);
    });
    return str;
  };

  {{>layoutscript}}
  {{>logscript}}
  </script>
  </body>
</html>

