<!doctype html>
<html>
  <head>
    <title>{{diary_name}}</title>
    {{>links}}
  </head>
  <body>
    <nav id="header" class="{{>navbarstyle}} navbar-expand bd-navbar fixed-top">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link btn navbar-btn text-truncate" id="diary">{{diary_name}}</a></li>
        <li class="nav-item"><a class="nav-link btn-sm" id="json" href="../../export/{{diary}}/json/">json</a></li>
        <li class="nav-item"><a class="nav-link btn-sm" id="xml" href="../../export/{{diary}}/xml/">xml</a></li>
        <li class="nav-item"><a class="nav-link btn-sm disabled" id='pdf'>pdf</a></li>
      </ul>
      {{>log}}
    </nav>
    <div id="container" class='container-fluid'>
      <main id="content" class='col'>
        <h1></h1>
        <ul id="memos">
          {{#memos}}
          <table border="1">
            <tr><td>Author</td><td>{{author}}</td></tr>
            <tr><td>Date</td><td><span class="moment" id="{{date}}"></span> (rev: <span class="moment" id="{{update}}"></span>)</td></tr>
            <tr><td>Type</td><td>{{type}}</td></tr>
            <tr><td>Grounding</td><td>{{#groundings}}{{name}}{{/groundings}}</td></tr>
            <tr><td>Title</td><td>{{name}}</td></tr>
          </table>
          {{#body}}<span class="content">{{body}}</span>{{/body}}
          {{/memos}}
        </ul>
      </main>
    </div>
    <nav id="footer" class="{{>navbarstyle}} fixed-bottom">
      <a class='navbar-text' href="https://github.com/Hypertopic/Cassandre/wiki">
        <img src="../../style/info.svg" width="30" height="30" alt="Cassandre" loading="lazy">
      </a>
    </nav>
  {{>script}}
  {{#list}}<script src="../../script/showdown.min.js"></script>{{/list}}
  <script>
  var refresh = true;
  $(document).ready(function() {
    moment.locale('{{locale}}');
    {{#list}}
    momentRelative('#memos');
    var converter = new showdown.Converter({
      tables: 'true',
      tasklists: 'true',
      strikethrough: 'true'
    });
    converter.setFlavor('github');
    $('.content').html(function(i, text) {
      return converter.makeHtml(text.trim());
    });
    getFullname('{{logged}}');
    $('#username').text(fullnames['{{logged}}']);
    if ('{{diary}}') $.ajax({
      url: "../../{{diary}}",
      type: "GET",
      dataType: "json",
      success: function(data) {
        if(data.diary_name) {
          $('title').text(data.diary_name);
          $('#diary').text(data.diary_name);
          $('#json').prop('href', $('#json').prop('href')+data.diary_name);
          $('#xml').prop('href', $('#xml').prop('href')+data.diary_name);
        }
      }
    $('.type').each(function() {
      let i = $(this).attr('data');
      $(this).text(types[i].replace('&#39;', "'"));
    });
    $('.user').each(function() {
      let user_fullname = user = $(this).attr('data');
      if (fullnames[user] == null) getFullname(user);
      user_fullname = fullnames[user]
      $(this).text(user_fullname);
    });
    $('.grounding').each(function() {
      let id = $(this).attr('data'),
          text = $('#'+id).text();
      if ($(this).text().length == 0) {
        if (text.length > 0) {
          $(this).find('a').html(text);
        } else {
          $(this).find('a').html("{{i18n.i_nothing-to-show}}");
        }
      }
      if (document.getElementById(id) == null) $(this).find('a').prop('href', "../../memo/{{diary}}/"+id);
    });
    {{/list}}
    stickToHeader();
  });

  $('#header')
    .on('click', '#diary', function() {
      self.location = '../../memo/{{diary}}/?by=date';
  function getFullname(o) {
    $.ajax({
      url: "../../userlist/"+o,
      type: "GET",
      async: false,
      dataType: "json"
    }).done(data => fullnames[data.rows[0].id] = data.rows[0].value.fullname);
  }
    });

      }
    });
    var contributions = $('ul li .moment');
    contributions.each(function() {
      $(this).text($(this).text().replace(/./, function(x) { return x.toUpperCase(); }));
    });
  }

  {{>layoutscript}}
  {{>logscript}}
  </script>
  </body>
</html>

