<!doctype html>
<html>
  <head>
    <title>{{diary_name}} - {{name}}</title>
    {{>links}}
    {{>diagramcss}}
    {{>viscss}}
  </head>
  <body>
    <nav id="header" class="{{>navbarstyle}} navbar-expand bd-navbar fixed-top justify-content-between">
      <ul class="navbar-nav mr-auto">
        <a class="d-inline-block btn navbar-btn " id="diary" data-toggle="tooltip" data-placement="bottom" title="{{diary_name}}">
          <svg class="bi" width="24" height="24" fill="currentColor">
            <use xlink:href="{{>relpath}}style/bootstrap-icons.svg#book"/>
          </svg>
        </a>
        {{#authorized}}
        <a id="toggle-groundings" class="btn" data-toggle="collapse" aria-expanded="true" title="{{i18n.i_show_groundings}}" href=".groundings">
          <span class="d-block d-sm-none">
            <svg class="bi" width="24" height="24" fill="currentColor">
              <use xlink:href="{{>relpath}}style/bootstrap-icons.svg#window"/>
            </svg>
          </span>
          <span class="d-none d-sm-block">
            <svg class="bi" width="24" height="24" fill="currentColor">
              <use xlink:href="{{>relpath}}style/bootstrap-icons.svg#layout-sidebar"/>
            </svg>
          </span>
        </a>
        {{/authorized}}
        <div class="dropdown">
          <a class="nav-link btn dropdown-toggle href="#" id="render" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span title="{{i18n.i_layout}}">
              <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="{{>relpath}}style/bootstrap-icons.svg#diagram-3"/>
              </svg>
            </span>
          </a>          
          <div class="dropdown-menu" aria-labelledby="render">
            <div id="graphviz" class="dropdown-item">Statique</div>
            <div id="vis" class="dropdown-item">Dynamique</div>
          </div>
        </div>
      </ul>
      {{>log}}
    </nav>
    <div id="container" class='container-fluid h-100'>
      <div id="memo" class='row h-100'>
        {{#authorized}}
        <div id='groundings' class="groundings pb-0 pb-sm-5 col-xs-12 col-sm-3 collapse">
          <button type="button" class="close" title="{{i18n.i_hide_groundings}}" data-toggle="collapse" data-placement="bottom" href=".groundings">×</button>
          <legend>{{i18n.i_groundings}}</legend>
          {{#groundings}}
          <li class="d-inline d-sm-block {{type}}" id="{{id}}">
            <a href="{{href}}">{{name}}</a>
          </li>
          {{/groundings}}
        </div>
        {{/authorized}}
        <main class="col pb-5" id="content">
          {{^authorized}}
          <h1>{{i18n.i_sign-in_required}}</h1>
          {{/authorized}}
          {{#authorized}}
          <h1 {{#editable}}class="editable"{{/editable}}> <img title="{{i18n.i_memo.graph}}" src="../../style/{{type}}.svg"/> {{name}} </h1>
          <input id="name" type="search" class="form-control hidden" value="{{name}}"/>
          {{>creator}}
          <div id="graph" class="d-none"></div>
          {{>comments}}
          <div aria-live="polite" aria-atomic="true" class="position-0">
            <div id="toasts""></div>
          <div>
          {{/authorized}}
        </main>
        {{#authorized}}
        <div class="col-xs-12 col-sm-3 pb-5 d-sm-none d-lg-none leaves" id="leaves">
          <button type="button" class="close">×</button>
          <legend>{{i18n.i_leaves}}</legend>
          {{#leaves}}
            <li class="d-inline d-sm-block {{type}}"><a href="{{href}}">{{name}}</a></li>
          {{/leaves}}
        </div>
        {{/authorized}}
      </div>
      <nav id="footer" class="{{>navbarstyle}} fixed-bottom">
        <div role="group">
          {{#editable}}
          <button class='groundings btn btn-sm collapse' data-toggle="modal" data-target="#add_grounding">
            <span data-toggle="tooltip" data-placement="top" title="{{i18n.i_add_groundings}}">
              <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="{{>relpath}}style/grounding.svg#add"/>
              </svg>
            </span>
          </button>
          <button class='groundings btn btn-sm collapse d-none' data-toggle="modal" data-target="#remove_grounding" id="remove_grounding_btn">
            <span data-toggle="tooltip" data-placement="top" title="{{i18n.i_remove_grounding}}">
              <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="{{>relpath}}style/grounding.svg#remove"/>
              </svg>
            </span>
          </button>
          {{/editable}}
          {{#authorized}}
          {{>commentsbtn}}
          {{/authorized}}
        </div>
        <div id="add-leaves">
          {{#editable}}
          <div class="input-group input-group-sm">
            <input id="leave-name" type="search" placeholder="{{i18n.i_name.storyline}}" class="form-control input" />
            <div class="input-group-append">
              <div class="d-none input-group-text spinner" title="{{i18n.i_loading}}">
                <span class="spinner-border spinner-border-sm" role="status"></span>
              </div>
              <span class="input-group-text storyline" title="{{i18n.i_create.storyline}}" id="add">+</span>
            </div>
          </div>
          {{/editable}}
        </div>
      </nav>
    </div>
    {{>modify_rights_dialog}}
    {{>existing_memo_dialog}}
    <div id="show-leaves" class="d-none d-sm-block d-lg-block invisible">
      <div title="{{i18n.i_leaves}}" class="reverse">{{i18n.i_leaves}}
        <svg class="bi" width="16" height="16" fill="currentColor">
          <use xlink:href="{{>relpath}}style/bootstrap-icons.svg#chevron-down"/>
        </svg>
      </div>
    </div>
    <div id="add_grounding" class="modal fade" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">{{i18n.i_integrate}}</div>
          <div class="modal-body">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="type-of-field-memo" id="one-articulation" value="one" required>
              <label class="form-check-label" for="one-articulation">{{i18n.i_one-articulation}}</label>
            </div>
            <div class="form-check form-check-inline" hidden>
              <input class="form-check-input" type="radio" name="type-of-field-memo" id="all-articulations" value="all" required>
              <label class="form-check-label" for="all-articulations">{{i18n.i_all-articulations}}</label>
            </div><br/>
            <select id="select_grounding" onChange="record('add_grounding', this.value);" hidden><option>{{i18n.i_select_grounding}}</option></select>
          </div>
          <div class="modal-footer">
            <button id="integrate_all-articulations" type="button" class="d-none btn btn-secondary">Ok</button>
          </div>
        </div>
      </div>
    </div>
    <div id="remove_grounding" class="modal fade" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">{{i18n.i_remove_grounding}}</div>
          <div class="modal-body">
            <select onChange="record('remove_grounding', this.value);"><option>{{i18n.i_select_grounding}}</option></select>
          </div>
        </div>
      </div>
    </div>
  {{>script}}
  <script src="../../script/vis.min.js"></script>
  <script src="../../script/viz.js"></script>
  <script src="../../script/full.render.js"></script>
  <script src="{{>relpath}}script/grounding.js"></script>
  <script>
  let connected_nodes = "{{connected_nodes}}".split(','),
      articulations = [],
      candidates = [],
      edges = [],
      main = document.getElementById("content"),
      container = document.getElementById('graph'),
      userids = [],
      nodes = [],
      diary_id = "{{diary}}",
      this_id = "{{_id}}",
      this_type = "{{type}}";
  $(document).ready(function() {
    {{>render}}
    $('#groundings').collapse({toggle: false});
    {{#nodes}}
      var label = wrap("{{label}}");
      switch ("{{shape}}") {
        case ('diamond'):
          var shape = 'hexagon';
          break;
        default:
          var shape = 'box';
          break;
      }
      nodes.push({
        id: "{{id}}",
        label: label,
        shape: shape
      });
    {{/nodes}}
    {{#edges}}
      {{^dashes}}
        edges.push({
          id: "{{id}}",
          from: "{{from}}",
          to: "{{to}}",
          color: "{{color}}"
        });
      {{/dashes}}
      {{#dashes}}
        var label = wrap("{{label}}");
        edges.push({
          from: "{{from}}",
          to: "{{to}}",
          color: "{{color}}",
          label: label,
          dashes: true
        });
      {{/dashes}}
    {{/edges}}
    {{#editable}}
    var isolated_nodes = nodes.filter(function(a) { if (connected_nodes.indexOf(a.id) == -1) return a;});
    if (isolated_nodes.length > 0) record('clean_nodes', '');
    {{/editable}}
    edges = edges.filter(o => o.to !== '');
    nodes = nodes.filter(o => o.id !== '');
    drawGraphViz();
    var converter = new showdown.Converter({strikethrough: 'true'});
    renderComments(converter);
    renderPreviews(converter);
    $('#modify_rights').removeClass('hidden');
    {{#editable}}
    if ($('#groundings').length < 2) inform('info', "{{i18n.i_content.graph}}".replace('@show', "<strong>{{i18n.i_show_groundings}}</strong>").replace('@add', "<strong>{{i18n.i_add_groundings}}</strong>"));
    {{/editable}}
    poller('memo', '{{update_seq}}');
  });

  $('#add').on('click', function() {
    var classlist = $(this)[0].classList;
    create(classlist[classlist.length - 1], $('#leave-name').val().trim(), '', 0);
  });

  $('#vis').on('click', function() {
    destroyGraphViz();
    $('#graph').removeClass('d-none');
    var data = {
      nodes: nodes,
      edges: edges
    };
    var options = {
      nodes: {
        color: {
          border: 'black',
          background: 'white',
          highlight:{
            border: 'black',
            background: 'white'
          }
        }
      },
      interaction: {
        navigationButtons: true,
        keyboard: true
      },
      layout: {
        randomSeed: 1,
        improvedLayout: true
      },
      physics: {
        barnesHut: {
          avoidOverlap: 1
        },
        repulsion: {
          nodeDistance: 100
        },
        solver: 'repulsion',
      }
    };
    var network = new vis.Network(container, data, options);
    network.on('click', function (selected) {
      if (typeof selected.nodes[0] === "undefined" && selected.edges[0].length == 32) {
        self.location = "../../diagram/{{diary}}/"+selected.edges[0];
      } else if (selected.nodes[0].length == 32) {
        self.location = "../../memo/{{diary}}/"+selected.nodes[0];
      } else {}
    });
  });

  $('#graphviz').on('click', function() {
    drawGraphViz();
    $('#graph').addClass('d-none');
  });

  $('.dropdown').on('show.bs.dropdown', function () {
    $('#render').tooltip('hide');
  })

  $('#all-articulations').on('click', function() {
    $('#integrate_all-articulations').removeClass('d-none');
    $('#loading').addClass('hidden');
    $('#select_grounding').addClass('d-none');
  });

  $('#one-articulation').on('click', function() {
    $('#select_grounding').removeClass('d-none');
    $('#integrate_all-articulations').addClass('d-none');
  });

  $('#integrate_all-articulations').on('click', function() {
    record('integrate_everything', JSON.stringify(articulations));
  });

  function destroyGraphViz() {
    var context = document.getElementById("content"),
        svg = context.getElementsByTagName("svg");
    if (svg.length > 0) main.removeChild(svg[0]);
  }

  function drawGraphViz() {
    destroyGraphViz();
    var viz = new Viz(),
        graphviz = 'graph "{{name}}" {overlap=false; graph [fontname = "helvetica"]; node [fontname = "helvetica" style="filled" fillcolor="white"]; edge [fontname = "helvetica"];';
    for (var n of nodes) {
      graphviz += 'node'+n.id + '[label="' + n.label.replace(/['"]/g, '\'').replace(/\n/g, '\\n') + '", shape='+n.shape+']; ';
    }
    for (var e of edges) {
      if (nodes.findIndex(x => x.id === e.to) > -1 && nodes.findIndex(x => x.id === e.from) > -1) {
        if (e.dashes == null) {
          graphviz += 'node'+e.from + ' -- ' + 'node'+e.to + '[color=' +e.color+ ']; ';
        } else {
          graphviz += 'node'+e.from + ' -- ' + 'node'+e.to + '[style=dashed,color='+e.color+',label="' +e.label.replace(/['"]/g, '\'').replace(/\n/g, '\\n')+ '"]; ';
        }
      }
    }
    graphviz += '}';
    var options = {
      engine: 'neato',
      format: 'svg'
    };
    viz.renderSVGElement(graphviz, options)
    .then(function(element) {
      main.insertBefore(element, container);
      if($('#content svg').attr('width').slice(0, -2) > 300)
        $('#content svg').removeAttr('width').removeAttr('height');
    })
    .catch(error => {
      viz = new Viz();
      console.error(error);
    });
  }

  function wrap(t) {
    t = t.trim().replace(/&#39;/g, '\'').replace(/&quot;/g, '"');
    return t.substring(0, 12)+t.substring(12, 30).replace(/\s/,"\n")+t.substring(30, 50).replace(/\s/,"\n");
  }

  function record(action, diagram) {
    $('#'+action+' .modal-body').append($('#loading').removeClass('hidden'));
    if (diagram !== '') diagram = JSON.parse(diagram);
    var data = {
      'action': action,
      'connected_nodes': connected_nodes,
      'diagram': diagram
    };
    $.ajax({
      type: "PUT",
      url: "../../adapt_graph/{{_id}}",
      contentType: "application/json",
      data: JSON.stringify(data)
    }).done(function () {
      refresh = true;
      location.replace("{{_id}}")
    }).fail(error_alert)
  }

  {{>layoutscript}}
  {{>logscript}}
  </script>
  </body>
</html>
