<!doctype html>
<html>
  <head>
    <title>{{i18n.i_diary}}</title>
    {{>links}}
  </head>
  <body id="watermark">
    <div id="container" class='container-fluid h-100'>
      <div id="content" class="h-100 d-flex justify-content-center align-items-center" style="height:100px;">
        <div><h1><a href="memo/">{{i18n.i_diary}}</a></h1></div>
      </div>
      <nav id="footer" class="{{>navbarstyle}} fixed-bottom">
        <div id="last-maintenance" class="nav-item"></div>
        <div class="nav-item"><a class="nav-link" href="https://github.com/Hypertopic/Cassandre/wiki">
          <img src="style/info.svg" width="30" height="30" alt="Cassandre" loading="lazy">
        </a></div>
      </nav>
    </div>
    {{>script}}
    <script>
      $.ajax({
        url: "{{>relpath}}config",
        type: "GET",
        dataType: "json"
      }).done(function(c){
        if (new Date().toISOString().substr(0,10) == c.maintenance.date.substr(0,10)) {
          $('#last-maintenance').prepend("{{i18n.i_maintenance-scheduled}}".replace('@duration', c.maintenance.duration));
          $('#last-maintenance').append(new Intl.DateTimeFormat('{{locale}}', {hour: "numeric", minute: "numeric"}).format(new Date(c.maintenance.date)));
        }
      });
    </script>
  </body>
</html>
