<!doctype html>
<html>
  <head>
    <title>{{i18n.i_kwic}} - {{pattern}}</title>
    {{>links}}
  </head>
  <body>
    <nav id="header" class="{{>navbarstyle}} navbar-expand bd-navbar fixed-top">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link text-light" id="diary">&nbsp;</a></li>
        <li class="dropdown d-none">
          <a class="nav-link dropdown-toggle" href="#" id="filter" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{i18n.i_filter}}
          </a>
          <div class="dropdown-menu" aria-labelledby="filter">
            <a class="dropdown-item disabled" id="show-all">{{i18n.i_all-memos}}</a>
            <a class="dropdown-item" id="show-transcript">{{i18n.i_transcript-only}}</a>
          </div>
        </li>
      </ul>
      <div class="form-inline justify-content-between">
        <div class="input-group input-group-sm">
          <input id="kwic" type="search" class="form-control" placeholder="{{i18n.i_search}}" />
          <div class="input-group-append">
            <span class="input-group-text kwic search">?</span>
          </div>
        </div>
      </div>
    </nav>
    <div id="container" class='container-fluid'>
      <div id="content" class="col mb-3 pb-5">
        <h1>{{i18n.i_kwic}}</h1>
        <h2>{{i18n.i_occurrences}}: {{pattern}}</h2>
        {{#occurrences}}
        <div class="occurrence" data-text="{{id}}">
          {{#context}}
          <div class="context d-none d-lg-inline">{{pre}}</div>
          <div class="context">{{pole}}</div>
          <div class="context d-none d-md-inline">{{post}}</div>
          {{/context}}
          <a class="{{type}}" href="../../{{path}}/{{corpus}}/{{id}}" title="{{title}}">
            <div class="ml-4 d-inline"></div>
            <span class="ml-1 d-none d-xl-inline">{{title}}</span>
          </a>
        </div>
        {{/occurrences}}
      </div>
      <nav id="footer" class="{{>navbarstyle}} fixed-bottom">
        <input type="button" id="new_pattern" class='btn btn-outline-light btn-sm' value="{{i18n.i_new_pattern}}" />
        <a class='navbar-text' href="https://github.com/Hypertopic/Cassandre/wiki">Cassandre</a>
      </nav>
    </div>
  {{>script}}
  <script> 
  $(document).ready(function() {
    $.ajax({
      url: "../../{{diary}}",
      type: "GET",
      dataType: "json",
      success: function(d) {
        $("#diary").html(d.diary_name);
      }
    });
    stickToHeader();
    if ($(".transcript").length > 0 && $(".occurrence").length > $(".transcript").length)
      $("#filter").parent().removeClass('d-none');
  });

  $('#diary').on('click', function(){
    self.location = '../../memo/{{diary}}/?by=date';
  });

  function getUUID() {
    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
      var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8);
      return v.toString(16);
    });
  }

  $('#new_pattern').on('click',function(){
    var text_id = $('.occurrence').data('text');
    $.ajax({
      url: "../../" + text_id,
      type: "GET",
      dataType: "json",
      success: function(text) {
        if (!text.highlights) {
          text.highlights = {};
        }
        text.highlights[getUUID()] = {
          text: "{{pattern}}"
        }
        $.ajax({
          url: "../../" + text_id,
          type: "PUT",
          contentType: "application/json",
          data: JSON.stringify(text),
          success: function() {
            self.location = '../../kwic/{{diary}}'
          },
          error: function(request) {
            alert(
              (JSON.parse(request.responseText).reason || request.responseText)
              + '\nCode ' + request.status
            );
          }
        });
      }
    });
  });

  $('#show-transcript').on('click', function() {
    $(".occurrence").addClass('d-none');
    $(".transcript").parent().removeClass('d-none');
    $(".interview").parent().removeClass('d-none');
    $("#show-all").removeClass('disabled');
    $("#show-transcript").addClass('disabled');
  });
  $('#show-all').on('click', function() {
    $(".occurrence").removeClass('d-none');
    $("#show-all").addClass('disabled');
    $("#show-transcript").removeClass('disabled');
  });

  {{>layoutscript}}
  </script>
  </body>
</html>
