<!doctype html>
<html>
  <head>
    <title>{{diary_name}} - {{#authorized}}{{name}}{{/authorized}}{{^authorized}}{{i18n.i_nothing-to-show}}{{/authorized}}</title>
    {{>links}}
  </head>
  <body>
    <div id="container" class='container-fluid h-100'>
      <div id="memo" class='row h-100'>
        <main class="col pb-0 pb-sm-5 order-2" id="content">
        {{^authorized}}
          <h1 id="name">{{i18n.i_nothing-to-show}}</h1>
          <div>{{^logged}}{{i18n.i_sign-in-for-more}}{{/logged}}</div>
        {{/authorized}}
        {{#authorized}}
          <h1><img src="{{>relpath}}style/{{type}}.svg"/> {{name}}</h1>
          <input id="name" type="search" class="form-control hidden" value="{{name}}"/>
          <div class="speeches">
          {{#body}}
          <div class="speeches-row">
            <div class="actor">
            {{#actor}}
            {{actor}}
            {{/actor}}
            </div>
            <div class="writing">
              {{#timestamp}}
              <div class="timestamp">{{timestamp}}</div>
              {{/timestamp}}
              <div class="post">
                {{#words}}<font>{{.}}</font>{{/words}}
                {{#text}}{{text}}{{/text}}
              </div>
            </div>
          </div>
          {{/body}}
          </div>
          {{^statements}}
          {{>comments}}
          {{>rights}}
          {{/statements}}
          <div aria-live="polite" aria-atomic="true" class="position-0">
            <div id="toasts"></div>
          <div>
        {{/authorized}}
        </main>
        {{#authorized}}
        <div id='groundings' class="groundings order-1 pb-0 pb-sm-5 col-xs-12 col-sm-3 collapse show">
          <button type="button" class="close" title="{{i18n.i_hide_groundings}}" data-toggle="collapse" href=".groundings">×</button>
          <legend>{{i18n.i_groundings}}</legend>
          {{#groundings}}
          <li class="d-inline d-sm-block {{type}}" id="{{id}}">
            <a href="{{href}}">{{name}}</a> {{#preview}}<span class="toggle dropdown-toggle"> </span>
            <div class="preview">{{preview}}</div>{{/preview}}
          </li>
          {{/groundings}}
        </div>
        <div class="order-3 pb-5 col-xs-12 col-sm-3 d-sm-none d-lg-none d-xl-block leaves" id="leaves">
          <button type="button" class="close">×</button>
          <legend>{{i18n.i_leaves}}</legend>
          {{#leaves}}
            <li class="d-inline d-sm-block {{type}}"><a href="{{href}}">{{name}}</a></li>
          {{/leaves}}
        </div>
        {{/authorized}}
      </div>
    </div>
    {{#editable}}
    <span id="create" title="" class="input-group-text create-leave hidden">+</span>
    <span id="create-table" title="{{i18n.i_create.table}}" class="input-group-text create-leave hidden table">+</span>
    <div id="add_grounding" class="modal fade" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">{{i18n.i_add_groundings}}</div>
          <div class="modal-body">
            <div id="loading" class="spinner-border spinner-border-sm ml-auto mr-auto mr-sm-0" role="status" aria-hidden="true"></div>
            <div id="type_filter" hidden>{{i18n.i_filter}} <select onChange="filter(this.value);">
              <option>{{i18n.i_type}}</option>
              <option value="theoretical" hidden>{{i18n.i_memo.theoretical}}</option>
              <option value="operational" hidden>{{i18n.i_memo.operational}}</option>
              <option value="field" hidden>{{i18n.i_memo.field}}</option>
              <option value="interview" hidden>{{i18n.i_memo.transcript}}</option>
              <option value="transcript" hidden>{{i18n.i_memo.transcript}}</option>
              <option value="coding" hidden>{{i18n.i_memo.coding}}</option>
              <option value="table" hidden>{{i18n.i_memo.table}}</option>
              <option value="diagram" hidden>{{i18n.i_memo.diagram}}</option>
              <option value="graph" hidden>{{i18n.i_memo.graph}}</option>
              <option value="storyline" hidden>{{i18n.i_memo.storyline}}</option>
            </select></div>
            <select id="select_grounding" onChange="record('add_grounding', this.value);" hidden><option>{{i18n.i_select_grounding}}</option></select>
          </div>
        </div>
      </div>
    </div>
    <div id="remove_grounding" class="modal fade" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">{{i18n.i_remove_grounding}}</div>
          <div class="modal-body">
            <select onChange="record('remove_grounding', this.value);"><option>{{i18n.i_select_grounding}}</option></select>
          </div>
        </div>
      </div>
    </div>
    {{>existing_memo_dialog}}
    <div id="field_title_dialog" class="modal fade" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">{{i18n.i_create.diary}}
          </div>
          <div class="modal-body">
            <form>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="type-of-field-memo" id="field-leaf" value="field" required>
                <label class="form-check-label" for="field-leaf">{{i18n.i_memo.field}}</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="type-of-field-memo" id="transcript-leaf" value="interview" required>
                <label class="form-check-label" for="transcript-leaf">{{i18n.i_memo.transcript}}</label>
              </div><br/>
              <label for="pseudonym" class="col-sm-3 col-form-label pseudonym">{{i18n.i_name.pseudonym}}</label>
              <input id="pseudonym" class="pseudonym" type="text" placeholder="{{i18n.i_name.transcript}}" /><br class="pseudonym"/>
              <label for="location" class="col-sm-3 col-form-label">{{i18n.i_name.location}}</label>
              <input id="location" type="text" placeholder=""/><br/>
              <label for="date" class="col-sm-3 col-form-label">{{i18n.i_name.date}}</label>
              <input id="date" type="text" placeholder=""/>
            </form>
          </div>
          <div class="modal-footer">
            <button id="create_field-memo" type="button" class="btn btn-secondary">{{i18n.i_create.diary}}</button>
          </div>
        </div>
      </div>
    </div>
    {{/editable}}
    {{>modify_rights_dialog}}
    <div id="editing" class="hidden">
      {{#editing}}
      <span class="user">{{user_fullname}}</span> {{i18n.i_started_editing}}
      <span class="{{date}} moment"></span>
      {{/editing}}
    </div>
    <div id="show-leaves" class="d-none d-sm-block d-lg-block d-xl-none invisible">
      <div class="reverse">{{i18n.i_leaves}}
        <img title="{{i18n.i_leaves}}" src="{{>relpath}}style/chevron-down.svg" alt="{{i18n.i_leaves}}"/>
      </div>
    </div>
    <nav id="header" class="{{>navbarstyle}} navbar-expand-lg bd-navbar fixed-top">
      <a class="d-inline-block btn navbar-btn text-truncate" id="diary">{{diary_name}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span><img src="{{>relpath}}style/three-bars.svg" /></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav btn-group justify-content-between">
          <a id="toggle-groundings" class="nav-link btn text-{{>contrastcolor}} d-none" data-toggle="collapse" title="{{i18n.i_show_groundings}}" aria-expanded="true" href=".groundings">
            <span class="d-block d-sm-none"><img src="{{>relpath}}style/screen-normal.svg" alt="{{i18n.i_show_grounding}}"></span>
            <span class="d-none d-sm-block">{{i18n.i_show_groundings}}</span>
          </a>
        </div>
        <ul class="navbar-nav mr-auto">
          {{#authorized}}
          <div id='lexical' class="btn-group justify-content-between hidden" role="group">
            <li class="nav-item"><a class="nav-link btn-sm" id='clear_highlights'>{{i18n.i_raw}}</a></li>
            <li class="nav-item"><a class="nav-link btn-sm highlight_words disabled" id='specific'>{{i18n.i_specific}}</a></li>
            <li class="nav-item"><a class="nav-link btn-sm highlight_words disabled" id='rare'>{{i18n.i_rare}}</a></li>
            <li class="nav-item"><a class="nav-link btn-sm disabled" id='repeated'>{{i18n.i_phrases}}</a></li>
          </div>
          {{/authorized}}
        </ul>
        {{>log}}
      </div>
    </nav>
    <nav id="footer" class="{{>navbarstyle}} fixed-bottom">
      {{#authorized}}
      <div role="group">
        {{#editable}}
        <button class="groundings btn navbar-btn btn-outline-{{>contrastcolor}} btn-sm collapse show" data-toggle="modal" data-target="#add_grounding" title="{{i18n.i_add_groundings}}">
          <span class="d-block d-sm-none"><img src="{{>relpath}}style/grounding-add.svg" alt="{{i18n.i_add_groundings}}"></span>
          <span class="d-none d-sm-block">{{i18n.i_add_groundings}}</span>
        </button>
        <button class="groundings btn navbar-btn btn-outline-{{>contrastcolor}} btn-sm collapse show d-none" data-toggle="modal" data-target="#remove_grounding" title="{{i18n.i_remove_grounding}}" id="remove_grounding_btn">
          <span class="d-block d-sm-none"><img src="{{>relpath}}style/grounding-remove.svg" alt="{{i18n.i_remove_grounding}}"></span>
          <span class="d-none d-sm-block">{{i18n.i_remove_grounding}}</span>
        </button>
        <button class="btn navbar-btn btn-outline-{{>contrastcolor}} btn-sm d-none {{#editing}}disabled{{/editing}}" id="edit"
          title="{{^editing}}{{i18n.i_edit}}{{/editing}}" {{#editing}}disabled{{/editing}}>
          <span class="d-block d-sm-none"><img src="{{>relpath}}style/pencil.svg" alt="{{i18n.i_edit}}"></span>
          <span class="d-none d-sm-block">{{i18n.i_edit}}</span>
        </button>
        {{/editable}}
        {{^statements}}
        {{>commentsbtn}}
        {{/statements}}
      </div>
      <div id="add-leaves" class="form-inline justify-content-between">
        {{#groundable}}
        <div class="input-group input-group-sm">
          <input id="leave-name" type="search" placeholder="" class="form-control hidden" />
          <div class="input-group-append">
            <div class="d-none input-group-text spinner" title="{{i18n.i_loading}}"><span class="spinner-border spinner-border-sm" role="status"></span></div>
            <span id="add" title="" class="input-group-text create-leave hidden">+</span>
          </div>
        </div>
        {{/groundable}}
      </div>
      {{/authorized}}
    </nav>
  {{>script}}
  <script src="{{>relpath}}script/grounding.js"></script>
  <script>
  var metrics = {},
      trigrams = {},
      leaf_type = leaf_id = resume = '',
      anchor = 0,
      candidates = [],
      userids = [],
      help = [],
      diary_id = "{{diary}}",
      this_id = "{{_id}}",
      this_type = "{{type}}";
  help["field"] = {init: "{{{i18n.i_content.field}}}", next: "{{{i18n.i_next.field}}}"};
  help["interview"] = {init: "{{{i18n.i_content.transcript}}}", next: "{{{i18n.i_next.transcript}}}"};
  help["transcript"] = {init: "{{{i18n.i_content.transcript}}}", next: "{{{i18n.i_next.transcript}}}"};
  help["coding"] = {init: "{{{i18n.i_content.coding}}}", next: "{{{i18n.i_next.coding}}}"};
  help["theoretical"] = {init: "{{{i18n.i_content.theoretical}}}", next: "{{{i18n.i_next.theoretical}}}"};
  help["operational"] = {init: "{{{i18n.i_content.operational}}}", next: "{{{i18n.i_next.operational}}}"};
  help["storyline"] = {init: "{{{i18n.i_content.storyline}}}", next: "{{{i18n.i_next.storyline}}}"};
  $(document).ready(function() {
    moment.locale('{{locale}}');
    {{>render}}
    {{#statements}}
    {{^logged}}nothing_to_show +='. {{i18n.i_sign-in-for-more}}';{{/logged}}
    if ($('.post').text().trim().length == 0) $('.post').text(nothing_to_show);
    {{#logged}}
    $.ajax({
      url: "{{>relpath}}{{logged}}",
      type: "GET",
      dataType: "json",
      success: function(data) {
        if(data.fullname) $('#username').text(data.fullname);
      }
    });
    {{/logged}}
    $.ajax({
      url: "{{>relpath}}{{diary}}",
      type: "GET",
      dataType: "json"
    }).done(function(data){
      if(data.diary_name) {
        $('#diary').text(data.diary_name);
        $('title').prepend(data.diary_name);
      }
    }).done(function(){
      stickToHeader();
    });
    {{/statements}}
    {{#logged}}
    {{#editing}}
    {{#editable}}
    if ('{{logged}}' == '{{editing.user}}') {
      $('#edit').removeAttr("disabled");
      $('#edit').removeClass("disabled");
      $('#edit').text("{{i18n.i_resume}}");
      $('#edit').attr("title", $('#editing').text().replace(/\s+/g, " "));
      resume = ". {{i18n.i_next.resume}} <strong>{{i18n.i_resume}}</strong>"
    } else {
      $('#edit').attr("title", $('#editing').text().replace(/\s+/g, " "));
      document.getElementById('edit').disabled = true
    }
    {{/editable}}
    if ("{{contributors}}".split(',').length > 1) $('#editing').append(". {{i18n.i_no-edit-by-others}}");
    inform('warning', $('#editing').text().replace(/\s+/g, " ") + resume);
    {{/editing}}
    $('#edit').removeClass('d-none');
    {{/logged}}
    {{#editable}}
    if ($('#leaves li').length < 1) {
      var tip = '';
      if($('.post').text().trim().length == 0) {
        tip = "{{i18n.i_fill-this-memo}}. " + help["{{type}}"]["init"];
      } else {
        tip = help["{{type}}"]["next"] + " {{i18n.i_hereunder_button}}";
      }
      inform('info', tip);
    }
    {{/editable}}
    switch (this_type) {
      case ('field'):
        $("h1>img").attr("title", "{{i18n.i_memo.field}}".replace('&#39;',"'"));
        $("#name").attr("placeHolder", "{{i18n.i_name.field}}");
        $('#add').addClass('coding');
        $("#add").attr("title", "{{i18n.i_create.coding}}");
        $("#leave-name").attr("placeHolder", "{{i18n.i_name.coding}}");
        break;
      case ('transcript'):
        $("h1>img").attr("title", "{{i18n.i_memo.transcript}}".replace('&#39;',"'"));
        $("#name").attr("placeHolder", "{{{i18n.i_name.transcript}}}");
        $('#add').addClass('coding');
        $("#add").attr("title", "{{i18n.i_create.coding}}");
        $("#leave-name").attr("placeHolder", "{{i18n.i_name.coding}}");
        $('.writing').removeClass('writing').addClass('words');
        break;
      case ('interview'):
        $("h1>img").attr("title", "{{i18n.i_memo.transcript}}".replace('&#39;',"'"));
        $("#name").attr("placeHolder", "{{{i18n.i_name.transcript}}}");
        $('#add').addClass('coding');
        $("#add").attr("title", "{{i18n.i_create.coding}}");
        $("#leave-name").attr("placeHolder", "{{i18n.i_name.coding}}");
        $('#lexical').removeClass('hidden');
        break;
      case ('coding'):
        $("h1>img").attr("title", "{{i18n.i_memo.coding}}");
        $("#name").attr("placeHolder", "{{i18n.i_name.coding}}");
        $('#add').addClass('theoretical');
        $("#add").attr("title", "{{i18n.i_create.theoretical}}");
        $("#leave-name").attr("placeHolder", "{{i18n.i_name.theoretical}}");
        if ($('#name').val().length > 0) {
          $('#create').removeClass('hidden');
          $('#create').addClass('diagram');
          $("#create").attr("title", "{{i18n.i_create.diagram}}");
          $('#create-table').removeClass('hidden');
        }
        $('#add').parent().append($('#create'));
        $('#add').parent().append($('#create-table'));
        break;
      case ('theoretical'):
        $("h1>img").attr("title", "{{i18n.i_memo.theoretical}}");
        $("#name").attr("placeHolder", "{{i18n.i_name.theoretical}}");
        $('#add').addClass('operational');
        $("#add").attr("title", "{{i18n.i_create.operational}}");
        $("#leave-name").attr("placeHolder", "{{i18n.i_name.operational}}");
        break;
      case ('operational'):
        $("h1>img").attr("title", "{{i18n.i_memo.operational}}");
        $("#name").attr("placeHolder", "{{i18n.i_name.operational}}");
        $('#add').addClass('field');
        $("#add").attr("title", "{{i18n.i_create.field}}".replace('&#39;',"'"));
        $('#create').addClass('interview');
        $('#create').attr("title", "{{i18n.i_create.transcript}}".replace('&#39;',"'"));
        $('#create').removeClass('hidden');
        $("#leave-name").attr("placeHolder", "{{i18n.i_name.field}}");
        $('#leave-name').prop("disabled", true);
        $('#add').parent().append($('#create'));
        break;
      case ('diagram'):
        self.location = "../../diagram/{{diary}}/{{_id}}";
        break;
      case ('table'):
        self.location = "../../table/{{diary}}/{{_id}}";
        break;
      case ('graph'):
        self.location = "../../graph/{{diary}}/{{_id}}";
        break;
      case ('storyline'):
        $("h1>img").attr("title", "{{i18n.i_memo.storyline}}");
        $("#name").attr("placeHolder", "{{i18n.i_name.storyline}}");
        $('#add').addClass('storyline');
        $("#add").attr("title", "{{i18n.i_create.storyline}}");
        $("#leave-name").attr("placeHolder", "{{i18n.i_name.storyline}}");
        break;
    }
    var converter = new showdown.Converter({
      parseImgDimensions: 'true',
      tables: 'true',
      tasklists: 'true',
      strikethrough: 'true'
    });
    converter.setFlavor('github');
    renderComments(converter);
    renderPreviews(converter);
    if ("{{type}}" == 'interview') {
      $('.post').children('font').wrapAll('<p></p>');;
    }
    $('.post').html(function(i, text) {
      if ("{{type}}" == 'interview') {
        return text.replace(/\n \n/g, '</font></p><p><font>');
      } else {
        return converter.makeHtml(text.replace(/&gt;/g, '>').trim());
      }
    });
    if ($('#groundings li').length == 1) $("#groundings").find('legend').text("{{i18n.i_grounding}}");
    if ($('#groundings li').length < 1) $("#groundings").addClass('hidden');
    if ("{{type}}" === 'interview') {
      $.ajax({
        url: "../../corpus_words/{{diary}}",
        type: "GET",
        dataType: "json",
        success: function(lexcorpus) {
          var corpus = {};
          for (var i in lexcorpus.rows) {
            var c = lexcorpus.rows[i];
            corpus[c.key[1]] = c.value;
          }
          $.ajax({
            url: "../../text_words/{{_id}}",
            type: "GET",
            dataType: "json",
            success: function(lexdoc) {
              var max_specific = 0;
              for (var j in lexdoc.rows) {
                var d = lexdoc.rows[j];
                var word = d.key[1];
                var inCorpus = corpus[word];
                metrics[word] = {
                  rare: 1/inCorpus.sum,
                  specific: Math.sqrt(d.value)/inCorpus.count,
                };
                max_specific = Math.max(max_specific, metrics[word].specific);
              }
              for (var k in metrics) {
                var m = metrics[k];
                m.specific /= max_specific;
              }
              $('#rare').removeClass('disabled');
              $('#specific').removeClass('disabled');
            }
          });
        }
      });
      $.ajax({
        url: "../../phrase/{{diary}}",
        type: "GET",
        dataType: "json",
        success: function(phrases) {
          for (var l in phrases.rows) {
            var r = phrases.rows[l];
            trigrams[[r.key[1], r.key[2], r.key[3]]] = r.value;
          }
          $('#repeated').removeClass('disabled');
        }
      });
      const par = window.location.hash.substring(1);
      if (par !== '') highlight(par);
    }
    stickToHeader();
    {{^statements}}
    poller('memo', '{{update_seq}}');
    {{/statements}}
    {{#statements}}
    poller('statements', '{{update_seq}}');
    {{/statements}}
  });

  function highlight(p) {
    $('.post p').eq(p-1).addClass('highlight');
    var prev = document.querySelector(".highlight").previousSibling;
    if (p == "1") prev = document.getElementById('authorization');
    prev.scrollIntoView({ behavior: 'smooth', block: 'center'});
    $('.highlight').addClass('fadeout');
  }

  $('#edit').on('click', function() {
    refresh = false;
    if ('{{type}}' == 'transcript') {
      self.location = '../../editable_text/{{_id}}';
    } else {
      $.ajax({
        url: "../../start_editing_memo/{{_id}}",
        type: "PUT",
        contentType: "application/json"
      }).done(function(){
        self.location = '../../editable_memo/{{_id}}';
      });
    }
  });

  $('#add').on('click', function() {
    var classlist = $(this)[0].classList,
        ground = '{{_id}}',
        type = classlist[classlist.length - 1];
    if (['field', 'interview'].indexOf(type) > -1) {
      $("#field-leaf").prop("checked", true).trigger("click");
      $('#field_title_dialog').modal('show');
    } else {
      create(type, $('#leave-name').val().trim(), $('#kwic').val(), anchor);
    }
  });

  $('#content').on('mouseup', function() {
    if (window.getSelection().anchorNode !== null)
    var posts = document.getElementsByClassName('post'),
        selected = window.getSelection().anchorNode.parentNode.parentNode,
        p = [].indexOf.call(posts[0].childNodes, selected);
    if (p > -1) anchor = p;
  });

  $('#create').on('click', function() {
    var name = $('#leave-name').val().trim(),
        classlist = $(this)[0].classList,
        highlight = $('#kwic').val(),
        type = classlist[classlist.length - 1];
    if (type == 'diagram') name = $('#name').val().trim(); 
    if (type == 'interview') {
      $("#transcript-leaf").prop("checked", true).trigger("click");
      $('#field_title_dialog').modal('show');
    } else {
      create(type, name, highlight, anchor);
    }
  });

  $('#create_field-memo').on('click', function() {
    $('#create_field-memo').append($('<span>', {
      class: 'spinner-border spinner-border-sm ml-1',
      role: 'status'
    }));
    var name = $('#location').val().trim() + ', ' + $('#date').val().trim(),
        highlight = $('#kwic').val(),
        type = $('input[name="type-of-field-memo"]:checked').val();
    if (type != 'field') name = $('#pseudonym').val().trim() + ', ' + name;
    if ([$('#location').val().trim(), $('#date').val().trim()].indexOf('') > -1) {
      alert('{{i18n.i_enter_location_date}}');
    } else {
      create(type, name, highlight);
    }
  });

  $('#field-leaf').on('click', function() {
    $('.pseudonym').addClass('d-none');
    $('#create_field-memo').html("{{i18n.i_create.field}}");
    $('#location').attr("placeHolder", "{{i18n.i_content.location.field}}".replace('&#39;',"'"));
    $('#date').attr("placeHolder", "{{i18n.i_content.date.field}}".replace('&#39;',"'"));
  });

  $('#transcript-leaf').on('click', function() {
    $('.pseudonym').removeClass('d-none');
    $('#create_field-memo').html("{{i18n.i_create.transcript}}");
    $('#location').attr("placeHolder", "{{i18n.i_content.location.transcript}}");
    $('#date').attr("placeHolder", "{{i18n.i_content.date.transcript}}");
  });

  $('#create-table').on('click', function() {
    var classlist = $(this)[0].classList;
        type = classlist[classlist.length - 1];
    create(type, $('#leave-name').val().trim(), $('#kwic').val());
  });

  function renameDiagram(id,name) {
    $.ajax({
      url: "../../rename_diagram/"+id,
      type: "PUT",
      contentType: "application/json",
      data: JSON.stringify({
       'id': '{{_id}}',
       'name': name
      })
    });
  }

  function filter(type) {
    $('#select_grounding option').each(function() {
      $(this).prop("hidden", false);
      if (!$(this).hasClass(type)) $(this).prop("hidden", true);
    });
  }

  function record(action, value) {
    $.ajax({
      url: "../../adapt_memo/{{_id}}",
      type: "PUT",
      contentType: "application/json",
      data: JSON.stringify({
       'action': action,
       'value': value
      })
    }).done(reload)
    .fail(error_alert)
  }

  function toColor(metrics) {
    var grayLevel = Math.floor(255*(1-metrics)).toString(16);
    return '#' + grayLevel + grayLevel + grayLevel;
  }

  $('#clear_highlights').on('click', function() {
    $('font').each(function() {
      $(this).removeAttr('color');
    });
  });

  $('.highlight_words').on('click', function() {
    var type = this.id;
    $('font').each(function() {
      $(this).attr('color', toColor(wordMetrics(metrics, $.trim($(this).text()), type)));
    });
  });

  $('#repeated').on('click', function() {
    var words = [];
    $('font').each(function(i) {
      words[i] = {text: $.trim($(this).text()).toLowerCase()};
    });
    words[0].count = 0;
    words[1].count = 0;
    var max = 0;
    for (w=0; w<words.length-2; w++) {
      var nb = trigrams[[words[w].text, words[w+1].text, words[w+2].text]];
      if (!nb) nb = 1;
      words[w].count = Math.max(words[w].count, nb);
      words[w+1].count = Math.max(words[w+1].count, nb);
      words[w+2].count = nb;
      max = Math.max(max, words[w].count);
    }
    $('font').each(function(i) {
      $(this).attr('color', toColor(words[i].count/max));
    });
  });

  function wordMetrics(metrics, word, type) {
    var w = metrics[word.toLowerCase()];
    return (w)?w[type]:.05;
  }

  {{>layoutscript}}
  {{>logscript}}
  {{#editable}}
    {{>editname}}
  {{/editable}}
  </script>
  </body>
</html>
