<!doctype html>
<html>
  <head>
    <title>{{i18n.i_patterns}}</title>
    {{>links}}
  </head>
  <body>
    <header>
      <div id="header" class="{{>navbarstyle}} navbar-expand bd-navbar fixed-top">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" id="corpus">&nbsp;</a></li>
        </ul>
        <div class="form-inline justify-content-between">
          <div class="input-group input-group-sm">
            <input id="kwic" type="search" class="form-control" placeholder="{{i18n.i_search}}" />
            <div class="input-group-append">
              <span class="input-group-text kwic search">?</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div id="container"  class='container-fluid'>
      <div id="content" class="col pb-5">
        <h1>{{i18n.i_patterns}}</h1>
        <div></div>
        <ul>
          {{#patterns}}
          <li id="{{highlight}}" data-text="{{document}}" class="kwic"><span></span>
            <a href='../kwic/{{corpus}}/{{kwic}}' >{{kwic}}</a>
          </li>
          {{/patterns}}
        </ul>
      </div>
      <nav id="footer" class="{{>navbarstyle}} fixed-bottom"></nav>
    </div>
  <script src="../script/jquery.js"></script>
  <script>
  $(document).ready(function() {
    $.ajax({
      url: "../../{{corpus}}",
      type: "GET",
      dataType: "json",
      success: function(d) {
        $("#corpus").html(d.diary_name);
      }
    });
    stickToHeader();
    resetUI();
  });


  $('#corpus').on('click', function(){
    self.location = '../memo/{{corpus}}/?by=date';
  });

  $('#footer')
    .on('click', '#show_delete', function() {
      $("#footer").html(
        '<div role="group"><button id="cancel" type="button" class="btn btn-outline-{{>contrastcolor}} navbar-btn btn-sm">{{i18n.i_cancel}}</button>'
        + '<input id="toggle" type="checkbox"><span class="navbar-text">{{i18n.i_select}}</span></button>'
        + '<button id="delete" type="button" class="btn btn-outline-{{>contrastcolor}} navbar-btn btn-sm">{{i18n.i_delete}}</button></div>'
      );
      $(".kwic>span").prepend("<input type='checkbox' />");
    })

    .on('click', '#cancel', function() {
      resetUI();
    })

    .on('click', '#toggle', function() {
      var checked = $('#toggle').is(':checked');
      $('input[type="checkbox"]').each(function() {
        $(this).attr('checked', checked);
      });
    })

    .on('click', '#delete', function() {
      var checked = $(".kwic :checked");
      var countdown = checked.size();
      if (!countdown) {
        resetUI();
      }
      checked.each(function() {
        var kwic = $(this).closest(".kwic");
        var text_id = "../" + kwic.data('text');
        $.ajax({
          url: text_id,
          type: "GET",
          dataType: "json",
          success: function(text) {
            delete text.highlights[kwic.attr("id")];
            $.ajax({
              url: text_id,
              type: "PUT",
              contentType: "application/json",
              data: JSON.stringify(text),
              success: function() {
                countdown--;
                if (countdown<1) {
                  location.reload();
                }
              }
            });
          }
        });
      });
    });

  $('#kwic').on('keypress', function(key) {
    var corpusUrl = encodeURIComponent("{{{corpus}}}");
    if (key.which == 13) {
      self.location = '../kwic/' +corpusUrl+ '/' + $('#kwic').val().toLowerCase();
    }
  });

  $('.search').on('click', function() {
    if ($('#kwic').val().length > 0) {
      self.location = '../kwic/{{corpus}}/' + $('#kwic').val().toLowerCase();
    }
  });

  function resetUI() {
    $('#footer').html(
      '<button type="button" id="show_delete" class="btn btn-outline-{{>contrastcolor}} navbar-btn btn-sm">{{i18n.i_delete}}...</button>'
      + '<a class="navbar-text" href="https://github.com/Hypertopic/Cassandre/wiki">Cassandre</a>'
    );
    $('input[type="checkbox"]').remove();
  }

  {{>layoutscript}}
  </script>
  </body>
</html>

