<!doctype html>
<html>
  <head>
    <title>{{i18n.i_patterns}}</title>
    {{>links}}
  </head>
  <body>
    <header>
      <div id="header" class="{{>navbarstyle}} navbar-expand bd-navbar fixed-top">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a href="../memo/{{diary}}/" class="nav-link btn" id="diary">
            <svg class="bi" width="24" height="24" fill="currentColor">
              <use xlink:href="{{>relpath}}style/bootstrap-icons.svg#book"/>
            </svg>
          </a></li>
        </ul>
        <div class="form-inline justify-content-between">
          <div class="input-group input-group">
            <input id="kwic" type="search" class="form-control" placeholder="{{i18n.i_search}}" />
            <div class="input-group-append">
              <span class="input-group-text kwic search">?</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div id="container"  class='container-fluid'>
      <div id="content" class="col pb-5">
        <h1>{{i18n.i_patterns}}</h1>
        <div id="loading" class="d-flex justify-content-center hidden" title="{{i18n.i_loading}}">
          <div class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></div>
        </div>
        <div></div>
        <ul>
          {{#patterns}}
          <li id="{{highlight}}" data-text="{{document}}" class="kwic"><span></span>
            <a href='../kwic/{{diary}}/{{kwic}}'>{{kwic}}</a>
          </li>
          {{/patterns}}
        </ul>
      </div>
      <nav id="footer" class="{{>navbarstyle}} fixed-bottom">
       <div role="group" class="form-check-inline">
        <button class="btn navbar-btn btn-sm" id="show_delete" type="button" data-toggle="tooltip" data-placement="top" title="{{i18n.i_delete}}...">
          <svg class="bi" width="24" height="24" fill="currentColor">
            <use xlink:href="{{>relpath}}style/bootstrap-icons.svg#trash"/>
          </svg>
        </button>
        <div class="custom-control custom-switch hidden"><input id="toggle" type="checkbox" class="custom-control-input"></input><label class="navbar-text custom-control-label" for="toggle">{{i18n.i_select}}</label></div>
        <button class="btn navbar-btn btn-sm ml-1 hidden" id="delete" type="button" data-toggle="tooltip" data-placement="top" title="{{i18n.i_delete}}">
          <svg class="bi" width="24" height="24" fill="currentColor">
            <use xlink:href="{{>relpath}}style/bootstrap-icons.svg#trash"/>
          </svg>
        </button>
        <button class="btn navbar-btn btn-sm mr-1 hidden" id="cancel" type="button" data-toggle="tooltip" data-placement="top" title="{{i18n.i_cancel}}">
          <svg class="bi" width="24" height="24" fill="currentColor">
            <use xlink:href="{{>relpath}}style/bootstrap-icons.svg#x-lg"/>
          </svg>
        </button>
       </div>
       <a class='navbar-text' href="https://github.com/Hypertopic/Cassandre/wiki">
         <svg class="bi" width="24" height="24" fill="currentColor">
           <use xlink:href="{{>relpath}}style/bootstrap-icons.svg#info-circle"/>
         </svg>
       </a>
      </nav>
    </div>
  {{>script}}
  <script>
  const diary_id = '{{diary}}';
  $(document).ready(function() {
    $.ajax({
      url: "../../{{diary}}",
      type: "GET",
      dataType: "json",
      success: function(d) {
        $('#diary')
          .tooltip('dispose')
          .attr('title',d.diary_name)
          .tooltip({ offset: "0, 8" });
      }
    });
    stickToHeader();
    resetUI();
  });

  $('#footer')
    .on('click', '#show_delete', function() {
      $("#cancel").removeClass("hidden");
      $("#delete").removeClass("hidden");
      $(".custom-switch").removeClass("hidden");
      $("#show_delete").tooltip("hide");
      $("#show_delete").addClass("hidden");
      $(".kwic>span").prepend("<input type='checkbox' />");
    })

    .on('click', '#cancel', function() {
      resetUI();
    })

    .on('click', '#toggle', function() {
      var checked = $('#toggle').is(':checked');
      $('input[type="checkbox"]').each(function() {
        $(this).attr('checked', checked);
      });
    })

    .on('click', '#delete', function() {
      var checked = $(".kwic :checked"),
          countdown = checked.length;
      $("#loading").removeClass("hidden");
      if (!countdown) {
        resetUI();
      }
      checked.each(function() {
        var kwic = $(this).closest(".kwic");
        var text_id = "../" + kwic.data('text');
        $.ajax({
          url: text_id,
          type: "GET",
          dataType: "json",
          success: function(text) {
            delete text.highlights[kwic.attr("id")];
            $.ajax({
              url: text_id,
              type: "PUT",
              contentType: "application/json",
              data: JSON.stringify(text),
              success: function() {
                countdown--;
                if (countdown<1) {
                  location.reload();
                }
              }
            });
          }
        });
      });
    });

  $('#kwic').on('keypress', function(key) {
    var diaryUrl = encodeURIComponent("{{{diary}}}");
    if (key.which == 13) {
      self.location = '../kwic/' +diaryUrl+ '/' + $('#kwic').val().toLowerCase();
    }
  });

  $('.search').on('click', function() {
    if ($('#kwic').val().length > 0) {
      self.location = '../kwic/{{diary}}/' + $('#kwic').val().toLowerCase();
    }
  });

  function resetUI() {
    $('input[type="checkbox"]').addClass("hidden");
    $("#footer .form-check-inline").children().addClass("hidden");
    $("#show_delete").removeClass("hidden");    
  }

  {{>layoutscript}}
  {{>logscript}}
  </script>
  </body>
</html>

