<!doctype html>
<html>
  <head>
    <title>{{diary_name}} - {{name}}</title>
    {{>links}}
    {{>diagramcss}}
  </head>
  <body>
    <nav id="header" class="{{>navbarstyle}} navbar-expand bd-navbar fixed-top">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="btn navbar-btn" id="diary" data-toggle="tooltip" data-placement="bottom" title="{{diary_name}}">
          <svg class="bi" width="24" height="24" fill="currentColor">
            <use xlink:href="{{>relpath}}style/bootstrap-icons.svg#book"/>
          </svg>
        </a></li>
        <a id="toggle-groundings" class="d-none btn" data-toggle="collapse" aria-expanded="true" title="{{i18n.i_show_groundings}}" href=".groundings">
          <span class="d-block d-sm-none">
            <svg class="bi" width="24" height="24" fill="currentColor">
              <use xlink:href="{{>relpath}}style/bootstrap-icons.svg#window"/>
            </svg>
          </span>
          <span class="d-none d-sm-block">
            <svg class="bi" width="24" height="24" fill="currentColor">
              <use xlink:href="{{>relpath}}style/bootstrap-icons.svg#layout-sidebar"/>
            </svg>
          </span>
        </a>
      </ul>
      {{>log}}
    </nav>
    <div id="container" class='container-fluid h-100'>
      <div id="memo" class='row h-100'>
        {{#authorized}}
        <div id='groundings' class="groundings pb-0 pb-sm-5 col-xs-12 col-sm-3 collapse show">
          <button type="button" class="close" title="{{i18n.i_hide_groundings}}" data-toggle="collapse" data-placement="bottom" href=".groundings">×</button>
          <legend>{{i18n.i_groundings}}</legend>
          {{#groundings}}
          <li class="d-inline d-sm-block {{type}}" id="{{id}}">
            <a href="{{href}}">{{name}}</a> {{#preview}}<span class="toggle dropdown-toggle"> </span>
            <div class="preview">{{preview}}</div>{{/preview}}
          </li>
          {{/groundings}}
        </div>
        {{/authorized}}
        <main class="col-xs-12 col pb-0 pb-sm-5" id="content">
          {{^authorized}}
          <h1>{{i18n.i_sign-in_required}}</h1>
          {{/authorized}}
          {{#authorized}}
          <h1 {{#editable}}class="editable"{{/editable}}> <img title="{{i18n.i_memo.table}}" src="../../style/{{type}}.svg"/> {{name}} </h1>
          <input id="name" type="search" class="form-control hidden" value="{{name}}"/>
          {{>rights}}
          <div class="table-responsive">
            <table id="table" class="table-striped">
              <thead><tr><td></td></tr></thead>
            </table>
          </div>
          <p class='spacer'>&nbsp;</p>
          {{>comments}}
          <div aria-live="polite" aria-atomic="true">
            <div id="toasts"></div>
          <div>
          {{/authorized}}
        </main>
        {{#authorized}}
        <div class="col-12 col-sm-3 d-sm-none d-lg-none d-xl-block leaves" id="leaves">
          <button type="button" class="close">×</button>
          <legend>{{i18n.i_leaves}}</legend>
          {{#leaves}}
            <li class="d-inline d-sm-block {{type}}"><a href="{{href}}">{{name}}</a></li>
          {{/leaves}}
        </div>
        {{/authorized}}
      </div>
      <nav id="footer" class="{{>navbarstyle}} fixed-bottom">
        <div role="group">
          {{#editable}}
          <button class='groundings btn btn-sm collapse show' data-toggle="modal" data-target="#add_grounding">
            <span data-toggle="tooltip" data-placement="top" title="{{i18n.i_add_groundings}}">
              <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="{{>relpath}}style/grounding.svg#add"/>
              </svg>
            </span>
          </button>
          <button class='groundings btn btn-sm collapse show d-none' data-toggle="modal" data-target="#remove_grounding" id="remove_grounding_btn">
            <span data-toggle="tooltip" data-placement="top" title="{{i18n.i_remove_grounding}}">
              <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="{{>relpath}}style/grounding.svg#remove"/>
              </svg>
            </span>
          </button>
          <button id="add_row" class="btn btn-sm hidden" title="{{i18n.i_create.row}}">
            <svg class='bi' width='24' height='24' fill='currentColor'>
              <use xlink:href="{{>relpath}}style/bootstrap-icons.svg#align-end"/>
            </svg>
          </button>
          <button id="save_row" class="btn btn-sm hidden" title="{{i18n.i_save}}">
            <svg class='bi' width='24' height='24' fill='currentColor'>
              <use xlink:href="{{>relpath}}style/bootstrap-icons.svg#check-lg"/>
            </svg>
          </button>
          <button id="reload" class="btn btn-sm mr-1 hidden" type="button" title="{{i18n.i_cancel}}">
            <svg class='bi' width='24' height='24' fill='currentColor'>
              <use xlink:href="{{>relpath}}style/bootstrap-icons.svg#x-lg"/>
            </svg>
          </button>
          {{/editable}}
          {{#authorized}}
          {{>commentsbtn}}
          {{/authorized}}
        </div>
        <div id="add-leaves" class="form-inline justify-content-between">
          {{#editable}}
          <div class="input-group input-group-sm">
            <input id="leave-name" type="search" placeholder="{{i18n.i_name.theoretical}}" class="form-control hidden"/>
            <div class="input-group-append">
              <div class="d-none input-group-text spinner" title="{{i18n.i_loading}}"><span class="spinner-border spinner-border-sm" role="status"></span></div>
              <span id="add" type="button" title="{{i18n.i_create.theoretical}}" class="input-group-text create-leave hidden theoretical">+</span>
            </div>
          </div>
          {{/editable}}
        </div>
      </nav>
    </div>
    {{>modify_rights_dialog}}
    {{>existing_memo_dialog}}
    <div id="show-leaves" class="d-none d-sm-block d-lg-block d-xl-none invisible">
      <div class="reverse">{{i18n.i_leaves}}
        <img title="{{i18n.i_leaves}}" src="../../style/chevron-down.svg" alt="{{i18n.i_leaves}}"/>
      </div>
    </div>
    <div id="add_grounding" class="modal fade" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">{{i18n.i_add_groundings}}</div>
          <div class="modal-body">
            <select id="select_grounding" onChange="record('add_grounding', this.value);" hidden><option>{{i18n.i_select_grounding}}</option></select>
          </div>
        </div>
      </div>
    </div>
    <div id="remove_grounding" class="modal fade" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">{{i18n.i_remove_grounding}}</div>
          <div class="modal-body">
            <select onChange="record('remove_grounding', this.value);"><option>{{i18n.i_select_grounding}}</option></select>
          </div>
        </div>
      </div>
    </div>
    <div id="dialog-cells" class="form-group hidden">
      <select class='form-control' id='color'>
      </select>
    </div>
  {{>script}}
  <script src="{{>relpath}}script/grounding.js"></script>
  <script>
  let candidates = [],
      userids = [],
      selected = '',
      diary_id = "{{diary}}",
      this_id = "{{_id}}",
      this_type = "{{type}}";
  $(document).ready(function() {
    {{>render}}
    var cells = {{{cells}}};
    var tbl_body = document.getElementById("table");
    var tbl_header = tbl_body.tHead.children[0];
    var created_headers = ["x"];
    var hcell = tbl_header.insertCell(0);

    $.each(cells, function() {
        var tbl_row = tbl_body.insertRow();
        $.each(this, function(k , v) {
            var cell = tbl_row.insertCell(0);
            cell.appendChild(document.createTextNode(k.toString()));
            cell.className = 'situations';
            $.each(this, function(k , v) {
              $.each(this, function(k , v) {
                if (created_headers.indexOf(k) < 0) {
                  created_headers.push(k);
                  var hcell = tbl_header.insertCell(created_headers.indexOf(k));
                  hcell.id = 'head'+k;
                  hcell.innerHTML = $('#'+k).find('a').html();
                  hcell.innerHTML += '<button type="button" title="{{i18n.i_create.diagram}}" class="create create-leave diagram">+';
                  hcell.innerHTML += '<span title="{{i18n.i_loading}}" class="d-none spinner spinner-border spinner-border-sm" role="status"></span>';
                  hcell.innerHTML += '</button>';
                }
                while (tbl_row.cells.length < created_headers.indexOf(k)) {
                  var cell = tbl_row.insertCell(tbl_row.cells.length);
                  cell.appendChild(document.createTextNode(' '));
                }
                if (!tbl_row.cells[created_headers.indexOf(k)]) {
                  var cell = tbl_row.insertCell(created_headers.indexOf(k));
                } else {
                  var cell = tbl_row.cells[created_headers.indexOf(k)];
                }
                switch(v) {
                  case true:
                  cell.style.backgroundColor = 'green';
                  break;
                  case false:
                  cell.style.backgroundColor = 'red';
                  break;
                }
              })
            })
        })
    })
    var table = document.getElementById("table");
    for (var i = 1, row; row = table.rows[i]; i++) {
      while (row.cells.length < created_headers.length) row.insertCell();
      for (var j = 1, cell; cell = row.cells[j]; j++) {
        if (!cell.id ){
          cell.className = 'cells';
          cell.id = table.rows[i].cells[0].innerHTML+'{}'+created_headers[j];
        }
      }
    }
    if (table.rows[table.rows.length-1].cells[0].innerHTML != '...') $('#add_row').removeClass('hidden');
    var converter = new showdown.Converter({strikethrough: 'true'});
    converter.setFlavor('github');
    renderComments(converter);
    renderPreviews(converter);
    poller('memo', '{{update_seq}}');
  });

  {{#editable}}
  $('table')
    .on('click', '.create', function() {
      ground = [$(this).parent().attr("id").substr(4)];
      create(
        $(this)[0].className.split(' ').pop(),
        $(this).parent().html().split('<')[0], '', 0
      );
    })
    .on('click', '.situations', function() {
      refresh = false;
      $('#leave-name').addClass('hidden');
      $('.create-leave').addClass('hidden');
      $('.close').prop('disabled', true);
      $('#footer > div > button').prop('disabled', true);
      $('#kwic').parent().children().addClass('hidden');
      $('a').removeAttr('href');
      $('#diary').addClass('disabled');
      $('#signout').prop('disabled', true);
      $('.toast').toast('hide');
      $('#modify_rights').remove();
      $('#reload').prop('disabled', false);
      $('#reload').removeClass('hidden');
      $('#save_row').removeClass('hidden');
      $('h1').unbind("click");   
      $('h1').click(false);
      $('#save_row').prop('disabled', false);
      selected = this.innerHTML;
      var inp = $(this).html($('<input>', {
        id: this.id,
        type: "text",
        placeHolder: "{{i18n.i_situation}}",
        value: this.innerHTML,
        name: this.innerHTML
      }));
      $('.situations').click(false);
      $('.cells').click(false);
    })
    .on('keypress', '.situations input', function(key) {
      if (key.which == 13) {
        var n = this.parentNode.parentNode.rowIndex-1,
            former = this.name,
            future = this.value;
        if (former != future  && this.value.trim().length > 0) record ('situation', this);
      }
    })
    .on('click', '.cells', function() {
      var sel = document.getElementById('color');
      sel.innerHTML = '';
      sel.className = this.style.backgroundColor;
      this.appendChild(sel);
      var selected_cell = this.id +'{}',
          selected_color = this.style.backgroundColor,
          colors = [
        {'color':'green', 'value': true, 'text': "{{i18n.i_true}}" },
        {'color':'red', 'value': false, 'text': "{{i18n.i_false}}" },
        {'color':'', 'value': '...', 'text': "{{i18n.i_undef}}" }
      ];
      for (c of colors) {
        var selected = false;
        if (selected_color == c.color) selected = true ;
        $(this).find('select').append(
          $('<option>', { value: selected_cell+c.value, text: c.text, class:c.color, selected: selected })
        );
      }
  });
  {{/editable}}

  $('#color').on('change', function() {
    record('cell', this.value);
  })

  $('#add_row').on('click', function() {
    var table = document.getElementById("table");
    record('add-row', table.rows[table.rows.length-1].cells[0].innerHTML);
  });

  $('#save_row').on('click', function() {
    var obj = {};
    obj.name = selected;
    obj.value = $("td.situations input").val();
    obj.parentNode = {};
    obj.parentNode.parentNode = {};
    obj.parentNode.parentNode.rowIndex = $("td.situations input").parent().parent().parent().children().index($("td.situations input").parent().parent());
    if (obj.value.length > 0) record ('situation', obj);
  });
  
  $('#add').on('click', function() {
    var classlist = $(this)[0].classList;
    create(classlist[classlist.length - 1], $('#leave-name').val().trim(), '', 0);
  });

  function record(type, value) {
    $('#'+type+' .modal-body').append($('#loading').removeClass('hidden'));
    $.ajax({
      url: "../../{{_id}}",
      type: "GET",
      dataType: "json",
      success: function(data) {
        var condition = true;
        var keep_trace = true;
        for (var i in data.groundings) {
          if (!document.getElementById(data.groundings[i])) data.groundings.splice(i, 1);
        }
        switch(type) {
          case 'add_grounding':
            var done = true;
            if (data.groundings.indexOf(value) == -1) data.groundings.push(value);
            var obj = {};
            obj[value] = '...';
            $.each(data.cells[0], function(k , v) {
              $.each(v, function(k , v) {
                $.each(v, function(k , v) {
                  if (k == value) done = false;
                });
              });
              if (done) v.push(obj);
            });
            $("#dialog").dialog('close');
            break;
          case 'cell':
            var coord = value.split('{}');
            var adding = false;
            var obj = {}
            switch (coord[2]){
              case 'true':
              obj[coord[1]] = true;
              break;
              case 'false':
              obj[coord[1]] = false;
              break;
              default:
              obj[coord[1]] = '...';
              break;
            }
            var n = 0;
            var row = coord[0];
            $.each(data.cells, function(k , v) {
              $.each(v, function(k , v) {
                if (k == coord[0]) {
                  $.each(v, function(k1 , v1) {
                    $.each(v1, function(k2 , v2) {
                      if (k2 == coord[1]) {
                        adding = n;
                      }
                      n++;
                    });
                  });
                  if (adding === false) {
                    v.push(obj);
                  } else {
                    v[adding] = obj;
                  }
                }
              });
            });
            break;
          case 'add-row':
            data.cells.push({'...': []});
            break;
          case 'remove_grounding':
            $.each(data.cells, function(k , row) {
              $.each(row, function(k , cells) {
                var action = false;
                $.each(cells, function(k , cell) {
                  if (value in cell) action = k;
                });
                if (action !== false) cells.splice(action, 1);
              });
            });
            var i = data.groundings.indexOf(value);
            if (i > -1) data.groundings.splice(i, 1);
            keep_trace = false;
            break;
          case 'situation':
            var n = value.parentNode.parentNode.rowIndex-1;
            var former = value.name;
            var future = value.value;
            $.each(data.cells[n], function(k , v) {
              var obj = {};
              obj[future] = v;
              if (k == former) data.cells.splice(n, 1, obj); // else reload
            });
            break;
        }
        if (keep_trace) data.history.push({
          "user": user,
          "date": new Date().toJSON()
        });
        if (condition) $.ajax({
          type: "PUT",
          url: "../../{{_id}}",
          contentType: "application/json",
          data: JSON.stringify(data)
        }).fail(error_alert)
        .done(function (){
          refresh = true;
        }).done(reload)
      }
    });
  }

  {{>layoutscript}}
  {{>logscript}}
  </script>
  </body>
</html>
