<!doctype html>
<html>
  <head>
    <title></title>
    {{>links}}
  </head>
  <body>
    <div id="container">
      <nav id="header" class="{{>navbarstyle}} navbar-expand bd-navbar fixed-top">
        <a class="btn" id="diaries" data-toggle="tooltip" data-placement="bottom" title="{{i18n.i_diaries}}">
          <svg class="bi" width="24" height="24" fill="currentColor">
            <use xlink:href="../style/bootstrap-icons.svg#journals"/>
          </svg>
        </a>
        <ul class="navbar-nav mr-auto"></ul>
        {{>log}}
      </nav>
      <main id="content" class="col pb-5">
        {{^logged}}
          <h1>{{i18n.i_sign-in_required}}</h1>
        {{/logged}}
        {{#logged}}
        <h1> {{i18n.i_username}}</h1>
	<div class="card-columns mb-3 pb-3">
        <ul>
        {{#users}}
          <li>
          <a href="../user/{{id}}">{{fullname}}</a>
          <span title="{{i18n.i_integrate}} {{i18n.i_in}} {{i18n.i_collection}}" class="in-collection d-none"><img src="../style/chevron-down.svg" alt="v" /></span>
          </li>
        {{/users}}
        </ul>
	</div>
        {{/logged}}
      </main>
      <nav id="footer" class="{{>navbarstyle}} fixed-bottom">
        <a class='navbar-text' href="https://github.com/Hypertopic/Cassandre/wiki">
          <svg class="bi" width="24" height="24" fill="currentColor">
            <use xlink:href="../style/bootstrap-icons.svg#info-circle"/>
          </svg>
        </a>
      </nav>
    </div>
  {{>script}}
  <script>
  $(document).ready(function() {
    stickToHeader();
    {{#logged}}
    var n = $('#content ul>li').length;
    $('h1').prepend(n);
    if (n > 1) $('h1').append('s');
    if (n == 0) $('h1').text('{{i18n.i_nothing-to-show}}');
    {{/logged}}
  });

  $('#diaries').on('click', function() {
    self.location = '../diary/';
  });

  {{>layoutscript}}
  {{>logscript}}
  </script>
  </body>
</html>

