<!doctype html>
<html>
  <head>
    <title>{{fullname}}</title>
    {{>links}}
    <link rel="stylesheet" href="../style/cal-heatmap.css" />
  </head>
  <body id="watermark">
    <div id="container">
      <nav id="header" class="{{>navbarstyle}} navbar-expand bd-navbar fixed-top">
        <a class="text-light" id="diaries">{{i18n.i_diaries}}</a>
        <ul class="navbar-nav mr-auto"></ul>
        {{>log}}
      </nav>
      <main id="content" class="col pb-5">
        {{^authorized}}
          <h1>{{i18n.i_sign-in_required}}</h1>
        {{/authorized}}
        {{#authorized}}
        <h1>{{fullname}} <span id="contribution"></span></h1>
        <fieldset class="form-group">
          <legend class="col-form-label">
          {{i18n.i_filter}}
          {{#stats}}
          <a id="all-activity">{{i18n.i_all}} ({{all}})</a>
          <a class="d-none" id="only-created">{{i18n.i_creations}} ({{created}})</a>
          <a class="d-none" id="only-modified">{{i18n.i_modifications}} ({{modified}})</a>
          <a class="d-none" id="only-commented">{{i18n.i_comments}} ({{commented}})</a>
          {{/stats}}
          <div id="cal-heatmap"></div>
          </legend>
        </fieldset>
        {{>readrights}}
        <ul id="events">
        </ul>
        {{/authorized}}
      </main>
      <nav id="footer" class="{{>navbarstyle}} fixed-bottom">
        {{#authorized}}
        <div class='pagination'>
          <button class='btn navbar-btn btn-outline-light btn-sm' id="next">{{i18n.i_show-more}}</button>
        </div>
        {{/authorized}}
        <a class='navbar-text' href="https://github.com/Hypertopic/Cassandre/wiki">Cassandre</a>
      </nav>
    </div>
  {{>script}}
  <script type="text/javascript" src="../script/d3.min.js"></script>
  <script type="text/javascript" src="../script/cal-heatmap.min.js"></script>
  <script>
  {{^authorized}}
  stickToHeader();
  {{/authorized}}
  {{#authorized}}
  moment.locale('{{locale}}');
  let cal = new CalHeatMap(),
      all = {},
      created = {},
      commented = {},
      modified = {},
      end = new Date('{{end}}'),
      start = new Date('{{start}}');
  $(document).ready(function() {
    stickToHeader();
    {{#activity}}
    if('{{date}}' > start.toJSON()) {
      all[moment('{{date}}').format('X')] = 1;
      switch('{{action}}') {
        case('commented'):
          commented[moment('{{date}}').format('X')] = 1;
        break;
        case('created'):
          created[moment('{{date}}').format('X')] = 1;
        break;
        case('modified'):
          modified[moment('{{date}}').format('X')] = 1;
        break;
      }
    }
    {{/activity}}
    drawChart(all);
    {{#stats}}
    if ({{commented}} > 0) $('#only-commented').removeClass('d-none');
    if ({{created}} > 0) $('#only-created').removeClass('d-none');
    if ({{modified}} > 0) $('#only-modified').removeClass('d-none');
    {{/stats}}
    showMore('a');
  });

  $(window).scroll(function(){
    if ($(window).scrollTop() == $(document).height() - $(window).height()){
      showMore($("li").last().find("span").attr('id'));
    }
  });

  function showMore(start) {
    let now = moment();
    $.ajax({
      url: "../user/{{id}}/"+start,
      type: "GET",
      dataType: "json",
      success: function(data) {
        for (var i in data) {
          $("#content ul").append('<li class="'+data[i].action+'">'
            +'<span id="'+data[i].date+'" class="'+data[i].date+' moment"></span>&nbsp;– '
            +'<a href="../'+data[i].type+'/'+data[i].diary+'/'+data[i].id+'">'+data[i].name+'</a>'
            +'</li>');
        }
      }
    }).done(function(){
      momentRelative('#events');
    });
  }

  function drawChart(array) {
    cal.init({
      domain: "week",
      subDomain: "day",
      subDomainDateFormat: function(date) {
        return moment(date).format("LL");
      },
      subDomainTitleFormat: {
        filled: "{count} {name}, {date}"
      },
      data: array,
      range: 53,
      start: start,
      end: end,
      itemName: ["contribution", "contributions"],
      domainLabelFormat: ""
    });
  }

  $('#diaries').on('click', function() {
    self.location = '../memo/';
  });

  $('#next').on('click', function() {
    showMore($("li").last().find("span").attr('id'));
  });

  $('#all-activity').on('click', function() {
    cal.update(all);
  });
  $('#only-created').on('click', function() {
    cal.update(created);
  });
  $('#only-commented').on('click', function() {
    cal.update(commented);
  });
  $('#only-modified').on('click', function() {
    cal.update(modified);
  });

  {{/authorized}}
  {{>layoutscript}}
  {{>logscript}}
  </script>
  </body>
</html>

